[2021-01-29 12:37] arafat-java commented on #681
Thanks @hsluoyz
Filtered policies work at lightening speed

[2021-01-29 12:39] hsluoyz commented on #693
@closetool plz take a look.

[2021-01-29 12:49] arafat-java opened #694 "[Question] Case Insensitive Policy Enforcement"
**What's your scenario? What do you want to achieve?**
I would like my user ids and group ids match to be case insensitive while checking permissions

So if '**userABC**' is given '**read**' permissions on object '**objXYZ**'
When I try to check '**read**' permissions for user  '**userABC**' on object  '**objXYZ**' but instead of  '**userABC**' I use  '**UserAbc**' the system should still return m

[2021-01-29 13:14] closetool commented on #693
@yiranzai You got some thing wrong, `g` represents *a* has role of *b*, if you want to describe onwership you should use `p`

[2021-01-29 13:38] hsluoyz commented on #694
@arafat-java the most simple way is when you pass args into e.Enforce(), just lower-case them. You can also define a custom matcher function like `toLower()` and use it in matcher expression.

[2021-01-29 13:38] #694 closed

[2021-01-29 15:04] arafat-java opened #695 "[Bug] Permission enforce is not considering the user permissions inherited via groups when using FilteredPolicy approach"
**Describe the bug**
As suggested in issue https://github.com/casbin/casbin/issues/681, for performance enhancements we are using filtered policies.
That solved the performance  issue, however now we have another issue that the enforce is not considering the user permissions inherited via groups

**To Reproduce**
Steps to reproduce the behavior:
1. Insert 3 records into mysql as follows
mysql> SEL

[2021-01-29 15:11] hsluoyz commented on #695
@arafat-java can you provide the current memory policies ("p" and "g") after `e.LoadFilteredPolicy(filter)` ?

[2021-01-29 15:16] arafat-java commented on #694
Thanks @hsluoyz for the prompt response.
Is there any place where I can get help/pointers for writing custom matchers apart from https://casbin.org/docs/en/syntax-for-models

[2021-01-29 15:19] yiranzai commented on #693
@closetool

I don't really understand.
like :
[code]
???

`p` doesn't seem to be enough

Because `allen` is the `deal.leader` of the `deal` with id 1 and the `deal.leader` has `read` privileges on the `deal`. That's why `allen` has `read` privileges on the `deal` with id 1

[2021-01-29 15:31] arafat-java commented on #695
How do I get that.
I am primarily a Java guy and have started off with Go some days back

[2021-01-29 15:32] yiranzai commented on #693
[rbac_with_resource_roles_policy.csv](https://github.com/casbin/casbin/blob/master/examples/rbac_with_resource_roles_policy.csv)

In this scenario, my understanding is that `g` stands for maintaining role/group relationships and `g2` stands for object instance/object relationships

[2021-01-29 15:42] hsluoyz commented on #695
https://casbin.org/docs/en/management-api#getnamedpolicy

respectively for "p" and "g"

[2021-01-29 15:42] hsluoyz commented on #694
https://casbin.org/docs/en/function

[2021-01-29 15:53] arafat-java commented on #695
Here's the enforcer's memory policies ("p" and "g") after e.LoadFilteredPolicy(filter)

namedPolicy :-  [[data2_admin data2 write]]
groupingPolicy :-  []

[2021-01-29 15:56] hsluoyz commented on #693
@yiranzai your matcher is wrong, the g3 part should be: `g3(r.sub, r.obj))`, see: https://casbin.org/en/editor

![image](https://user-images.githubusercontent.com/3787410/106297417-a4385c80-628d-11eb-8daf-c65ba56ca1ea.png)

[2021-01-29 15:57] #693 closed

[2021-01-29 16:06] hsluoyz commented on #689
@walterlife plz provide model, policy, request and true + expected response, like this issue: https://github.com/casbin/casbin/issues/693

Better tested in: https://casbin.org/en/editor

[2021-01-29 16:23] hsluoyz commented on #695
It seems the "g" rules are not loaded. Try this:

[code]

Note: we use `a.LoadFilteredPolicy(m, filter)` instead of `e.LoadFilteredPolicy(filter)` because the latter will clear previous policies, the former will not.

[2021-01-29 16:43] arafat-java commented on #695
It doesn't work even with the above mentioned change. Still the filtered ones continue to return false
Although after the change the memory policy for "g" gives proper output as follows

namedPolicy :-  [[data2_admin data2 write]]
groupingPolicy :-  [[alice data2_admin]]

[2021-01-29 16:53] arafat-java opened #696 "[Question] How to know if the returned permissions are directuser permissions or inherited via groups"
**What's your scenario? What do you want to achieve?**
When the evaluation engine returns 'true' for e.Enforce I would like to know if those permissions are obtained via direct user permissions or inherited via group permissions. How can I know that?

**Your model:**

[code]

**Your policy:**

[code]

**Your request(s):**

[code]

[2021-01-30 01:38] hsluoyz commented on #695
Try at editor first: https://casbin.org/en/editor

[2021-01-30 01:39] hsluoyz commented on #696
Call API: https://casbin.org/docs/en/rbac-api#hasroleforuser

[2021-01-30 01:39] #696 closed

[2021-01-30 04:23] hsluoyz commented on #254
@jamesislebron plz use SyncEnforcer to sync the addPolicy() calls.

[2021-01-30 04:39] yiranzai commented on #693
@hsluoyz  emmm, stupid low-level mistake

[2021-01-31 03:37] arafat-java commented on #695
How do I try the filtered policy option in the editor
It's working properly in non filtered way

[2021-01-31 08:44] hsluoyz commented on #695
@arafat-java try this:

[code]

[2021-01-31 09:41] #617 closed

[2021-01-31 09:48] hsluoyz commented on #617
@RobotHuang plz also add the new API to our docs: https://casbin.org/docs/en/get-started#check-permissions

[2021-02-01 04:00] hsluoyz commented on #254
@RobotHuang plz follow up this issue.

[2021-02-01 06:44] typhoonbb commented on #688
It seem that transaction commit policy is not support, Can I just manually update the database with db  transaction, and call e.LoadPolicy(), is there any problem?

[2021-02-01 06:54] nodece commented on #688
No problem. The transaction feature depends on the adapter, you should check whether the adapter supports that.

[2021-02-01 06:57] arafat-java commented on #695
Thanks @hsluoyz
Adding e.BuildRoleLinks() worked.

Just wanted to confirm if this (adding additional filter and using e.BuildRoleLinks()) is a workaround or this is the way to go.
Reason I ask this is because when using non-filtered way I dont need these extra steps

[2021-02-01 07:01] arafat-java commented on #696
@hsluoyz hasRoleForUser is not what I want

Basically I want to know whether the permission returned by the enforce() method was achieved via group inherited permission or direct permission

[2021-02-01 09:34] hsluoyz commented on #695
It's a workaround as you see the code is not very elegant. We may add some new and more friendly API to perform such a task.

[2021-02-01 09:34] #695 closed

[2021-02-01 09:47] arafat-java commented on #695
@hsluoyz Any rough idea when this will be actually fixed in an elegant way

[2021-02-01 09:56] hsluoyz commented on #695
@arafat-java you can use it for now. It may take some time for us to figure out a good way to solve it.

[2021-02-01 10:08] hsluoyz commented on #696
@arafat-java this cannot be done directly for now. You can use a workaround: a model with RBAC and another model without RBAC. If a request is only allowed under model 1, then it's based on RBAC inherited permissions.

[2021-02-01 10:31] filwaline commented on #681
What if g rules change often?
For example, while using **RBAC with resource roles** model(*for fine-grained access control*), numbers of resources keep growing, so as `g2` rules.

[2021-02-01 10:38] hsluoyz commented on #681
@filwaline then maybe you need to update the RBAC tree in an incremental way: just add or remove specific nodes in the tree instead of rebuild the tree from scratch.

[2021-02-01 15:07] RobotHuang commented on #254
@jamesislebron any update? Maybe you could paste your source code here?

[2021-02-02 16:01] fgblomqvist opened #698 "[Bug] GetUsersForRole returns error when there are no users for a role"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Describe the bug**
Calling `GetUsersForRole(...)` with a role that doesn't have any users assigned to it returns a `name not found` error.

**To Reproduce**
Steps to reproduce the behavior:
1. Usin

[2021-02-02 16:28] hsluoyz commented on #698
@fgblomqvist I think the current handling is OK. Casbin doesn't know the subject in p rules is actually a user or a role. So `name not found` means the same thing as returning empty list. If we change the behavior to return empty list, then someone would say I even don't have such a role, why return am empty list for me.

[2021-02-02 16:28] #698 closed

[2021-02-02 16:50] fgblomqvist commented on #698
You're saying that we can't do x because someone would complain about it working that way. Yet, here's clearly a person that complains about it not working that way. What if you want to define a role as existing by it simply either 1. having users or 2. having rules. You're currently saying that a role _only_ exists if it has users. That seems like an odd limitation to me.

[2021-02-03 04:48] arafat-java opened #699 "[Question] Customizing casbin_rule table name"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
We are working on a cloud based offering and planning to use casbin.
In that we would like to segregate tenant's data and for that we would like

[2021-02-03 06:14] hsluoyz commented on #699
@arafat-java what adapter do you use? Customizing casbin_rule table name is usually provided by each adapter instead of the main lib.

[2021-02-03 06:29] arafat-java commented on #699
We are using https://github.com/casbin/gorm-adapter

[2021-02-03 07:10] AugustDev opened #700 "[Question] If I have millions of resources will my policy have millions of entries?"
**What's your scenario? What do you want to achieve?**

I'd like to understand how to use casbin properly in a large project. Most examples are simple "alice, bob, read, write, data". I understand I can group individual users into and assign permission "write" to a role rather than individual user. However I still have to allow a role to "write" to resource. If I have million of resources (say blo

[2021-02-03 12:30] hsluoyz commented on #700
@AugustDev see: https://casbin.org/docs/en/performance

[2021-02-03 18:21] abichinger opened #701 "RoleManager with MatchingFunc depends on order of link creation."
**Describe the bug**
The behavior of the `RoleManager` should be independent of the order in which the links between roles are created.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following function to `role_manager_test.go`:
[code]
2. Run `go test ./...`

**Expected behavior**
The test shouldn't fail.

**Additional context**
Issue is already resolved in https://github.com/casbin

[2021-02-04 02:26] hsluoyz commented on #701
@RobotHuang plz take a look.

[2021-02-04 07:28] AugustDev commented on #700
Thanks for the link! It says "A well-written model and policy will abstract out the duplicated logic for each user/tenant and reduce the number of rules to a very small level (< 100)".

Perhaps I'm not understanding how to use casbin correctly then.

If I have 100 `USERS` each having owning 50 `ITEMS`, then there are already 5000 policies per permission I have to write for users to be able to`writ

[2021-02-04 08:03] hsluoyz commented on #700
@AugustDev if the 5000 rules cannot be grouped via RBAC, then you have to use sharding. Or is there anything else on your mind that we can improve?

[2021-02-04 15:10] RobotHuang commented on #701
@hsluoyz
[code]
This code also outputs false possibly because `syn.Map` is disordered.

[2021-02-05 06:18] hsluoyz commented on #689
@closetool

I think his log already contains the rules. We can roughly reproduce it for now.

[code]

[2021-02-05 11:05] closetool commented on #689
@walterlife I can not make it happen again, so perhaps you used casbin in concurrency, and should use `SyncedEnforcer`

[2021-02-07 13:47] hsluoyz commented on #254
Closed as stale.

[2021-02-07 13:47] #254 closed

[2021-02-07 13:48] hsluoyz commented on #689
Closed as resolved.

[2021-02-07 13:48] #689 closed

[2021-02-08 09:29] arafat-java opened #703 "[Question] Getting all the objects on which user has permissions"
**What's your scenario? What do you want to achieve?**
I would like to get all the objects that the user has access too. Even the one for which the user has access via the groups
And would like to use filters for better performance because we would be having millions of policies

I tried writing the following function but that doesnt help

[code]

**Your model:**

[code]

**Your policy:**

[code]

[2021-02-08 11:15] hsluoyz commented on #703
@arafat-java see: https://casbin.org/docs/en/rbac#how-to-query-implicit-roles-or-permissions

[2021-02-08 11:15] #703 closed

[2021-02-11 16:50] JayWestH commented on #604
Hi,
Would appreciate if someone could provide a working example on how to use CasbinJsGetPermissionForUser ?
With AWS get this error
{"message":"Missing Authentication Token"}
How do I handle this?
Thanks
J

[2021-02-12 12:43] hsluoyz commented on #604
@kingiw

[2021-02-15 01:16] #701 closed

[2021-02-18 07:21] memwey opened #707 "[Feature] Clean documentation of filtered adapter"
**Is your feature request related to a problem? Please describe.**

I am the owner of the [casbin-sqlx-adapter](https://github.com/memwey/casbin-sqlx-adapter). I found that the adapter [xorm-adapter](https://github.com/casbin/xorm-adapter) had implemented some undocumented features, for example, [LoadFilteredPolicy](https://github.com/casbin/xorm-adapter/blob/master/adapter.go#L408) and [UpdatePol

[2021-02-18 09:01] hsluoyz commented on #707
@memwey they are actually documented:

- https://casbin.org/docs/en/policy-subset-loading
- https://casbin.org/docs/en/management-api#updatepolicy

[2021-02-18 09:01] #707 closed

[2021-02-18 09:21] memwey commented on #707
Well, I think these should be written in the part of [adapter](https://casbin.org/docs/en/adapters#how-to-write-an-adapter).
So you mean I should implement these according to [xorm-adapter](https://github.com/casbin/xorm-adapter) instead of [How to write an adapter](https://casbin.org/docs/en/adapters#how-to-write-an-adapter). It's OK but I think implement according to an interface defination will

[2021-02-18 09:52] hsluoyz commented on #707
@memwey can you click "EDIT" to improve the docs?

[2021-02-19 11:27] codering opened #709 "[Question] I don't understand the result with RBAC"
**What's your scenario? What do you want to achieve?**
Just learn RBAC example, have doubts about the results.

![image](https://user-images.githubusercontent.com/2271825/108498510-f0ece180-72e7-11eb-8f15-9db7430e8acb.png)

why the first result is `true` ?

[2021-02-19 11:42] hsluoyz commented on #709
@codering it's because you have exactly the same p rule there:

![image](https://user-images.githubusercontent.com/3787410/108500292-84271680-72ea-11eb-9fdb-b3c4977beb29.png)

`g` functions always return true if 1st and 2nd args are equal.

[2021-02-19 11:42] #709 closed

[2021-02-19 15:00] codering commented on #709
I thought the 'g' function only check ”g” prefix policy.

Have doc about this？

[2021-02-19 15:12] hsluoyz commented on #709
@codering see how Casbin RBAC works: https://casbin.org/docs/en/rbac

[2021-02-19 15:50] hsluoyz opened #710 "Improve the performance of the new BatchEnforce() API"
We add a very raw BatchEnforce() API here: https://github.com/casbin/casbin/issues/617

It simply call `enforce()` in a for loop. The performance is still low if you want to list all the objects that you have access. Our next step is to do something like "set" operation, e.g., given all the objects as a set, input it into the matcher and calculate the subset that fulfills the matcher, then we have

[2021-02-19 15:52] hsluoyz commented on #357
Closed as stale.

[2021-02-19 15:52] #357 closed

[2021-02-20 03:29] hsluoyz commented on #560
@DarkSorrow can you add the new API LoadIncrementalFilteredPolicy() to our docs?

/cc @closetool

[2021-02-20 03:30] hsluoyz commented on #710
BTW, we should also add `BatchEnforce()` API to our docs. @closetool plz help on it.

[2021-02-20 03:37] hsluoyz commented on #320
Done:

https://casbin.org/docs/en/rbac-api#getimplicitrolesforuser
https://casbin.org/docs/en/rbac-api#getimplicitpermissionsforuser

[2021-02-20 03:37] #320 closed

[2021-02-20 03:38] #79 closed

[2021-02-20 03:39] hsluoyz commented on #84
We have a solution now, use `BatchEnforce()` API: https://github.com/casbin/casbin/issues/710

[2021-02-20 03:39] #84 closed

[2021-02-20 03:41] hsluoyz commented on #398
We have WatcherEx to resolve this issue from this PR: https://github.com/casbin/casbin/pull/400

The docs is here: https://casbin.org/docs/en/watchers#watcherex

[2021-02-20 03:41] #398 closed

[2021-02-20 03:42] hsluoyz opened #712 "Improve the docs for WatcherEx"
See background at:

- https://github.com/casbin/casbin/issues/398
- https://github.com/casbin/casbin/pull/400

But the current docs is too short: https://casbin.org/docs/en/watchers#watcherex

Need more docs and a table to list the APIs for WatcherEx.

[2021-02-20 03:50] hsluoyz commented on #596
Closed as stale.

[2021-02-20 03:50] #596 closed

[2021-02-20 03:54] hsluoyz commented on #493
@closetool

[2021-02-20 04:04] hsluoyz commented on #547
@rrasulzade sorry for so late response. Please see: https://github.com/nodece/casbin-hraft-dispatcher

[2021-02-20 04:10] hsluoyz commented on #613
Two APIs are added by PR: https://github.com/casbin/casbin/pull/631

- UpdateGroupingPolicy()
- UpdateNamedGroupingPolicy()

But they are not documented. @closetool can you help add these two APIs after here: https://casbin.org/docs/en/management-api#updatepolicies ?

[2021-02-20 04:22] hsluoyz commented on #550
The final plan is:

[code]

If there is a `priority` in policy definition, then this integer value in p will be used as the priority for the p rule. Like I said here: https://github.com/casbin/casbin/issues/550#issuecomment-666924986 , the smaller `priority` value will have higher priority, just like a firewall.

We will first implement this feature in Go, and finally port it to Python.

/cc @clos

[2021-02-20 09:01] #613 closed

[2021-02-20 10:07] hsluoyz commented on #511
Moved to: https://github.com/casbin/casbin/issues/546

[2021-02-20 10:07] #511 closed

[2021-02-20 10:12] hsluoyz commented on #547
@nodece why is this (https://github.com/casbin/casbin-raft) archived? Do we have a replacement?

[2021-02-20 11:54] hsluoyz commented on #700
Closed as resolved.

[2021-02-20 11:54] #700 closed

[2021-02-20 11:55] hsluoyz commented on #679
Closed as stale.

[2021-02-20 11:55] #679 closed

[2021-02-20 11:59] hsluoyz commented on #606
This issue is resolved by the new EnforceEx() API:

- issue: https://github.com/casbin/casbin/issues/355
- PR: https://github.com/casbin/casbin/pull/425

[2021-02-20 12:00] hsluoyz commented on #606
@closetool plz add the new API into the docs, after: https://casbin.org/docs/en/management-api#enforce

[2021-02-20 12:29] hsluoyz opened #713 "Distributed policy enforcement via a Casbin enforcer cluster based on Raft"
Issues:

- https://github.com/casbin/casbin/issues/402
- https://github.com/casbin/casbin/issues/547

Existing code:

- https://github.com/casbin/casbin-raft - Not available
- https://github.com/casbin/hraft-dispatcher - Beta Release

Existing docs:

- https://casbin.org/docs/en/dispatchers

[2021-02-21 08:35] #606 closed

[2021-02-21 08:49] hsluoyz commented on #606
@brt-alok-adhao new API is added to docs: https://casbin.org/docs/en/management-api#enforceex

[2021-02-22 03:59] rrasulzade commented on #547
@hsluoyz  I thought this was already implemented and released in Casbin v2.19. Am I missing something here?
https://github.com/casbin/casbin/releases/tag/v2.19.0

[2021-02-22 05:09] hsluoyz commented on #547
OK. Maybe we should add the new DistributedEnforcer class (https://github.com/casbin/casbin/commit/449a09dab556c695090622c2134a42c84f24c677) to our docs: https://casbin.org/docs/en/dispatchers

@closetool

[2021-02-22 08:37] #547 closed

[2021-02-22 20:51] natbusa opened #715 "Is this worth adding to the example list?"
Hi, I have a written a model which supports roles and expand them into api scopes and hierarchical user groups. Is it worth adding to the example list?

NOTE: it requires GlobMatch to be enabled as a matching function for g2 to work

**Your model:**

[code]

**Your policy:**

[code]

**Your request(s):**

[code]

[2021-02-24 08:34] Aggtaa opened #716 "Restrictive access to nested objects"
What would be a config for this taks?

1. Users and their roles are standard RBAC.

2. Objects can be nested (or grouped using RBAC terminology)
For an object X in group Y and group Y in group Z, a user access is granted if the user `has allow rules for X AND Y AND Z` and `has no deny rule on any of X, Y, Z`. So every nested object or object group applies more restrictions on top of their parent.

[2021-02-24 13:08] hsluoyz commented on #716
@closetool

[2021-02-24 13:10] hsluoyz commented on #716
@Aggtaa use `Allow-and-deny` model, with `RBAC with resource roles` model: https://casbin.org/docs/en/supported-models

[2021-02-24 20:09] Aggtaa commented on #716
Resource roles as given in the docs url are implemented with RBAC on g2 grouping policy, which implies:
obj X has role Y and user A is allowed on Y => A is allowed on X.

Am I correct?
If yes - it is not what requested.

[2021-02-25 03:42] hsluoyz commented on #716
@Aggtaa

`
require A to be allowed on both X and Y to be granted on X.
`

This doesn't make sense. Please give a more real example about what you are trying to solve actually.

[2021-02-25 04:38] closetool commented on #716
@Aggtaa Could you provide`model` and `policy` file, and tell us what you want to achieve?

[2021-02-25 05:28] Aggtaa commented on #716
@hsluoyz
We had a simple RBAC with domains model for access control with simple plain resource list in an app that consists of microservices. Each service controls its own list of resources and connects to the 'security center' to validate users access to the resources.
At some point resource hierarchy was added, e.g. a service is a resource, resources within a service can be grouped by virtual fo

[2021-02-25 06:10] hsluoyz commented on #716
Use

[code]

[2021-02-25 06:12] closetool commented on #716
@Aggtaa Is this works for you, plz try it.If this don't achieve your goals, you could try [priority model](https://casbin.org/docs/en/supported-models#examples)
![image](https://user-images.githubusercontent.com/52988625/109110863-de086000-7772-11eb-9f6e-08598a27375d.png)

You could test your model on https://casbin.org/editor

[2021-02-25 06:14] Aggtaa commented on #716
Awesome, thank you!

Is there a more generic way for unknown levels of nesting?

[2021-02-25 06:21] closetool commented on #716
@Aggtaa Our domain only has one level, so there's not a generic way for now. : )

[2021-02-25 06:34] hsluoyz commented on #716
@Aggtaa

you can merge `service, folder, resource, ..` into a path like "/service/folder/resource/name4/name5", so you have unlimited nesting in path.

Model:

[code]

Policy:

[code]

`isSubPath(arg1, arg2)` is a custom function you can implement, it returns true if arg1 is a subpath of arg2.

- isSubPath("/service1/folder1/resource1", "/service1") == true

[2021-02-25 14:47] birdycn opened #717 "[Question] how to control access of forum topic owner and global admin?"
What are the best practices for posting users and super administrators to perform certain operations?

Is the use of adapters to insert casbin tables when users post posts: users, resources, increase or decrease, or do they intercept dynamic judgments in routing middleware? If it's a dynamic judgment, it's good to have role permission management

For example, when userid = 1 publishes a topic = 2,

[2021-02-25 14:50] hsluoyz commented on #717
@birdycn plz change to English. Thanks!

[2021-02-25 14:51] birdycn commented on #717
What are the best practices for posting users and super administrators to perform certain operations?

Is the use of adapters to insert casbin tables when users post posts: users, resources, increase or decrease, or do they intercept dynamic judgments in routing middleware? If it's a dynamic judgment, it's good to have role permission management

For example, when userid = 1 publishes a topic = 2,

[2021-02-26 01:18] emgageadmin opened #718 "What model would be efficient for hierarchial objects? [Question]"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2440%20Funded-%2300A156.svg" />](https://issuehunt.io/r/casbin/casbin/issues/718)

**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

We have scenario similar to a file system,

[2021-02-26 03:19] GerryLon opened #719 "How to get allowed list?"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
Your answer here

**Your model:**

[code]

如何获取某人可查看的某类资源?
如:
获取 某用户(subject=alice)可查看(action=read)的项目(resource:{type=project})

在casbin中如何实现这种需

[2021-02-26 04:01] hsluoyz commented on #719
@GerryLon plz change both title and text to English, thanks!

[2021-02-26 10:57] hsluoyz commented on #718
@emgageadmin try:

Model:

[code]

Policy:

[code]

[2021-02-26 11:06] hsluoyz commented on #717
You can compare the topic owner with the username, if they equal, then it will have owner right.

[2021-02-26 11:06] #717 closed

[2021-02-26 11:13] hsluoyz commented on #715
Hi @natbusa thanks for your thoughts! Why not write a tutorial about your model? Bringing only the model and policy into the examples without any description don't help that much I think.

You can either write a tutorial at other places and place a pointer at: https://casbin.org/docs/en/tutorials or we can even add it directly to the official site inside a dedicate tutorial section (if the quality

[2021-02-26 16:09] hsluoyz commented on #632
@adrianwix sorry for late response, but I think you are not writing Casbin model and policy.

[2021-02-26 16:09] #632 closed

[2021-02-26 16:22] adrianwix commented on #632
Let me try to explain better as I probably wrote that without proper sleep last time :D.
While writing casbin policy rules (sub, dom, obj, act) you want to has some kind of documentation about the rules in your application because otherwise the code will be a complete mess.
For a given resource like Documents, you only want a set of actions to be defined like for example "READ", "EDIT", "DELETE".

[2021-02-26 16:40] hsluoyz commented on #632
I think you should provide something like Web UI, then use Select control to provide limited options for a given situation.

I don't think the business people will directly write Casbin model or policy. Casbin is mainly for developers. So a Web UI is needed for them. See something like:

- https://dashboard.casbin.org/#/dashboard/policy
- https://cloud.casbin.org/PolicyEditor.html?policy_name=cust

[2021-02-26 21:29] emgageadmin commented on #718
@hsluoyz thanks for the quick reply.
I have some clarification requests:

* what is the purpose of the `g(r.sub, p.sub)` and `g2(r.hierarchy, p.hierarchy)` functions in the maracher? is it basically checking to see if the subject is the required role and hierarchy?

* also, how would this work when there is no explicit policy but it's inheirted from ancestor nodes? such as in example B above.

[2021-02-27 00:36] hsluoyz commented on #718
@emgageadmin see how RBAC and `g` works: https://casbin.org/docs/en/rbac

I think you can just try your case at: https://casbin.org/en/editor  Make sure to complete the policy first.

[2021-02-27 05:32] #718 closed

[2021-02-27 05:36] hsluoyz commented on #560
@closetool we can do following:

1. Add it after: https://casbin.org/docs/en/management-api#loadfilteredpolicy
2. Add its description to this page: https://casbin.org/docs/en/policy-subset-loading

[2021-02-27 05:38] #719 closed

[2021-02-27 06:39] #560 closed

[2021-02-27 08:38] #712 closed

[2021-02-28 23:55] gaessaki commented on #566
- Product: Radish, an online food delivery cooperative that is owned by its restaurant, driver and consumer members.
- Organization: Radish Cooperative
- Link: https://radish.coop

Thank you for creating this project and for your continuous effort in treating issues and adding functionality. Casbin is an integral part of our product and has saved us countless development hours. Hope to see this pr

[2021-03-01 07:01] #550 closed

[2021-03-01 07:04] hsluoyz commented on #550
@closetool plz add a new document page named "Priority Model" to the official docs and write about this new feature.

[2021-03-02 06:49] lixiangru-creator opened #720 "use multiple policies"
I intend to use multiple strategies. For example: p1 as a role-path strategy, p2 as a role-chart strategy, and p3 as a role-game verification. But currently Casbin seems to only introduce a single strategy. Excuse me, how to configure this model config file and policy file.

[2021-03-02 07:41] qifengzhang007 opened #721 "[For Help] Enforcer, errC = casbin.NewEnforcer(m, a) ; Is Enforcer Concurrent Safe?"
**I want to ask if  global Enforcer is concurrent safe ，**

**My code is as follows：**

[code]

[2021-03-02 07:48] hsluoyz commented on #721
@qifengzhang007 no, see: https://casbin.org/docs/en/multi-threading

[2021-03-02 07:48] #721 closed

[2021-03-02 07:50] hsluoyz commented on #720
@lixiangru-creator why not use the same 'p' for all these? See the yellow note here: https://casbin.org/docs/en/syntax-for-models#policy-definition

![image](https://user-images.githubusercontent.com/3787410/109615580-0a571e80-7b6f-11eb-9c44-505a75d39fe2.png)

[2021-03-02 07:52] qifengzhang007 commented on #721
thank  you  verty  much！

[2021-03-02 12:24] kirill-kosenko opened #722 "Question is related to RBAC with ABAC"
Hello
I guess the question is related to RBAC with ABAC
I have following roles: admin, user, read_only.

[code]

While admin is allowed to set any value for 'transaction_approval_limits',
user with 'user' type of a role has some limits. For example user 1 has 'transaction_approval_limits' set to 100. If this user tries to set 101 instead - the result should be false. Every user can have different

[2021-03-02 13:56] hsluoyz commented on #722
@kirill-kosenko what's transaction_approval_limits ?

[2021-03-02 14:01] nodece commented on #722
@hsluoyz I guess that `transaction_approval_limits` is a value.

[2021-03-02 14:06] kirill-kosenko commented on #722
'transaction_approval_limits' is a value. Admin can set any value. But user has some limit. I guess that limit should be included in policy file somewhere.

[2021-03-02 14:08] nodece commented on #722
- Model
[code]

- Policy
[code]

- Request
[code]

You can test the above data in https://casbin.org/en/editor.

[2021-03-02 15:56] hsluoyz commented on #722
@kirill-kosenko I think you can use the scaling ABAC model: https://casbin.org/docs/en/abac#scaling-the-model-for-complex-and-large-number-of-abac-rules

See example: https://casbin.org/en/editor

![image](https://user-images.githubusercontent.com/3787410/109675654-f03f2f80-7bb2-11eb-82ac-58192833c2ab.png)

[2021-03-02 17:04] hsluoyz commented on #716
Closed as resolved.

[2021-03-03 13:26] kirill-kosenko commented on #722
@hsluoyz Thank you

[2021-03-03 13:33] kirill-kosenko commented on #722
@hsluoyz Thank you

If I need to have two types of model RBAC and scaling ABAC model, for example:

`p, alice, data1, read`
`p, r.sub.Age > 18 && r.sub.Age < 60, /data1, read`

Should I create 2 model files, 2 policy files, 2 Enforcers?
Or it can be in a single model, policy files?
Thanks

[2021-03-03 14:28] hsluoyz commented on #722
@kirill-kosenko you can use model which mixed RBAC and ABAC, single model, single policy file, single enforce. I didn't see why can't do this.

[2021-03-03 14:36] nodece commented on #722
@hsluoyz Casbin doesn't support which mixed RBAC and ABAC: #https://github.com/casbin/casbin/pull/611.

[2021-03-03 16:00] hsluoyz commented on #722
@nodece it's true, but you can write RBAC and ABAC in different parts of the matcher.

[2021-03-04 04:31] nodece commented on #722
@hsluoyz can we support this feature in a model?

[2021-03-04 08:37] hsluoyz commented on #722
I think we can write this:

[code]

[2021-03-05 11:00] kirill-kosenko commented on #722
@hsluoyz Thank you

It works

I combined RBAC and scaling ABAC into a single file

Model
[code]

Policy
[code]
Reques
[code]

As you can see in policy file there's RBAC policy like `p, 1 == 1, read_only, overview, view`
I created some `true` condition - `1 == 1`. Looks like workaround.

What do you think?
Is there a better way to write RBAC policy?

Thanks

[2021-03-05 11:31] hsluoyz commented on #722
@kirill-kosenko why `1 == 1` can't be "true" directly?

Also if you like this style:

[code]

[code]

Or change empty sub_rule to a *, anything you want.

[2021-03-05 16:43] hsluoyz commented on #716
@Aggtaa any update?

[2021-03-07 17:08] WenyXu commented on #710
https://github.com/WenyXu/casbin/blob/dev/enforcer_benchmark_test.go

[2021-03-07 17:12] WenyXu commented on #710
Hi, I'm trying to improve the performance of the BatchEnforce.
test file is here: [enforcer_benchmark_test](https://github.com/WenyXu/casbin/blob/dev/enforcer_benchmark_test.go)

Here is the running result of the benchmark
BatchEnforceBasic: the raw BatchEnforce
BatchEnforce which I modified
[code]

BatchEnforceV2: without the read lock

[code]

[2021-03-07 17:32] WenyXu commented on #713
I read some source code of https://github.com/casbin/hraft-dispatcher, and the related project https://github.com/otoolep/hraftd.

It's a good idea which using raft algorithm with an embedded database to sync multi-state of multi-nodes. We can easily implement the above application using Hashicorp-raft and boltDB(or bboltDB).

[2021-03-08 09:04] dahu33 commented on #688
For reference, this won't work to set / update the policies of a subject as the length of the "old" policies need to be the same as the "new" policies (which may not be the case when you set / update the policies of a subject)... In its current state, the `UpdatePolicies` ManagementAPI is pretty much useless IMO. So far, I didn't find any workable solution outside of the inefficient `e.LoadPolicy(

[2021-03-08 12:15] arafat-java commented on #688
Is this finally solved?

My requirement is exactly as follows

For the specific example, it would be more like a "SetPolicies()" API which would wipe all the existing policies for a subject, and then set them to whatever you passed. I don't want to have to know which policies I am replacing, just that the final result looks like what I'm passing in.

_Originally posted by @fgblomqvist in https://g

[2021-03-08 14:26] nodece commented on #402
@hsluoyz hraft-dispatcher has been released. I think we close this issue.

[2021-03-08 14:31] nodece commented on #547
casbin-raft needs update, I don't have time to do it. currently I recommend https://github.com/casbin/hraft-dispatcher.

[2021-03-08 14:36] MichaelBurgess opened #727 "How to stop policy rule evaluation after first allow match"
Looking at the [docs](https://casbin.org/docs/en/syntax-for-models#policy-effect), the use of `some` in the policy effect like this in the model:

[code]

...means that if any of the policy rules produce an allow effect, then the request is allowed.

I am adding Authz to a RESTful Gin API with Casbin and for us that means you either have permission to call that API, or you don't (which produces a

[2021-03-08 21:22] rrasulzade commented on #547
@nodece what is the difference between [hraft-dispatcher](https://github.com/casbin/hraft-dispatcher) and [v2.19.0](https://github.com/casbin/casbin/releases/tag/v2.19.0)? can't I use the latter?

[2021-03-09 02:30] nodece commented on #547
@rrasulzade v2.19.0 provides a distributed enforcer, it is main feature is to provide an interface for dispatcher to update policies by dispatcher.

[2021-03-09 08:46] hsluoyz commented on #688
@dahu33 @arafat-java can you send a new GitHub issue and describe your specific problem, so we could track its progress? Thanks.

[2021-03-09 08:46] hsluoyz commented on #727
@closetool

[2021-03-09 08:48] hsluoyz commented on #402
@nodece @YoshieraHuang OK, please use: https://github.com/casbin/hraft-dispatcher

[2021-03-09 08:48] #402 closed

[2021-03-09 08:57] hsluoyz opened #728 "Stronger UpdatePolicies() API"
Here are some concerns about the API:

- https://github.com/casbin/casbin/issues/688#issuecomment-792598307
- https://github.com/casbin/casbin/issues/688#issuecomment-792716863

We should support:

1. The old policy size can be different with the new policy size.
2. The old policy supports "*" in its element to support a group of pattern-matched rules, like `GetFilteredPolicy()`

[2021-03-09 08:57] hsluoyz commented on #728
@closetool

[2021-03-09 08:58] hsluoyz commented on #688
@dahu33 @arafat-java moved to here: https://github.com/casbin/casbin/issues/728

[2021-03-09 12:10] closetool commented on #727
@MichaelBurgess priority model might be helpful https://casbin.org/docs/en/priority-model

[2021-03-09 13:09] MichaelBurgess commented on #727
@closetool so if you had this policy:

[code]

...would the second rule not be evaluated? The docs don't suggest that, so feels like the same amount of work would still be undertaken? My rules will be ordered correctly anyhow so the highest priority will come first.

[2021-03-09 13:22] closetool commented on #727
@MichaelBurgess If a rule evaluated to be true, method `enforce` will stop, plz refer to https://github.com/casbin/casbin/blob/f588eb693e2bf3fd509c71757e66cac5caf7bb0c/enforcer.go#L554

[2021-03-10 10:22] arafat-java opened #731 "[Feature] Wipe all the existing policies on an object, and then set them to whatever is passed afresh"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Is your feature request related to a problem? Please describe.**
Wipe all the existing policies on an object, and then set them to whatever is passed afresh
For the specific example, it would be mo

[2021-03-10 10:23] arafat-java commented on #688
@hsluoyz Raised https://github.com/casbin/casbin/issues/731

[2021-03-10 10:50] dahu33 commented on #731
We have the same requirements but our use case is slightly different: we want to be able to replace (in a transaction) the policies of a subject when using the RBAC model.

As commented here: https://github.com/casbin/casbin/pull/729#issuecomment-793941380

I would suggest to add an `UpdateFilteredPolicy(fieldIndex int, fieldValues[], newRules [][]string) error` function to the management API but

[2021-03-10 11:38] hsluoyz commented on #731
@closetool

[2021-03-10 11:39] hsluoyz commented on #731
Is this issue anything difference with https://github.com/casbin/casbin/issues/728 ?

[2021-03-10 13:24] closetool commented on #731
@arafat-java @dahu33 @hsluoyz I have modified the implementation, `SavePolicy` is no longer needed, plz review

[2021-03-11 01:59] hsluoyz commented on #731
@arafat-java Is this issue anything different with https://github.com/casbin/casbin/issues/728 ?

[2021-03-11 03:29] arafat-java commented on #731
@hsluoyz It seems similar but this issue has a more clear description of the problem statement and step by step solution details.
When I read https://github.com/casbin/casbin/issues/728 I dont get a clear sense of understanding of the requirement

[2021-03-11 04:06] hsluoyz commented on #731
@arafat-java

It will simply clear the old policies for data4 and only add user "arafat" to "data4" with write

Old policy should not share the "knowledge" from the new policy, it can't know what data4 is.

[2021-03-11 06:17] arafat-java commented on #731
@hsluoyz We dont need to share the "knowledge" between old and new policy.
My only requirement is that when I call the UpdatePolicies for an object, all the old policies of that object should be wiped out and simply apply  the new set that I send.

data4 is the object id
You can check the detailed description that I had put in this issue to get clear context

[2021-03-11 10:11] hsluoyz commented on #731
@arafat-java but `[][]string{{"*"}}` shows nothing about data4.

[code]

should work like:

[code]

[2021-03-11 11:03] arafat-java commented on #731
So how can I make it work such that the policies for data4 are first wiped out.
I thought of passing then but looking into the code of internal_api.go I can see following code
[code]
So with that in play if I pass anything that tells it to delete the policies for data4 then the if condition would fail and the new method updatePoliciesEnhance() itself will not get called

That was the first problem

[2021-03-11 11:30] hsluoyz commented on #731
@arafat-java this is what we **will** achieve, but its current state

[code]

[2021-03-11 12:22] dahu33 commented on #731
Sounds great. But instead of introducing a new wildcard (`*`) pattern which is not used anywhere else, why not reusing the same logic as in `RemoveFilteredPolicy` with the field index and field values? At the end of the day, what @arafat-java  and I need is just running the equivalent of `RemoveFilteredPolicy` + `AddPolicies` in a single transaction.

[2021-03-11 12:28] hsluoyz commented on #731
Honestly, this issue is hard. Can anyone sponsor this issue via IssueHunt?

[2021-03-11 15:11] hsluoyz commented on #731
@dahu33 @arafat-java we still need to update the adapter code. Which adapters do you use?

[2021-03-11 15:51] arafat-java commented on #731
@hsluoyz we use https://github.com/casbin/casbin-pg-adapter

[2021-03-11 19:02] mato51 commented on #681
Hello, any hint on how to add specific nodes in the tree?

[2021-03-12 02:58] hsluoyz commented on #681
@closetool we need to add some docs for the Role Manager API.

[2021-03-12 10:26] saeedgeek opened #734 "[Bug]"
panic: interface conversion: *gormadapter.Adapter is not persist.UpdatableAdapter: missing method UpdatePolicies
in version v2.25.2
its work for me in v2.21.0
thanks

[2021-03-12 11:11] giefferre opened #735 "[Bug] Unable to add a domain matching function on default role manager"
**Describe the bug**

The current implementation of the `defaultrolemanager` package makes impossible to set a custom domain matching function, even if the method `AddDomainMatchingFunc` is public.

**To Reproduce**

[code]

Results in
[code]

**Expected behavior**

The method should be available on `defaultrolemanager.RoleManager` objects.

[2021-03-12 13:08] #735 closed

[2021-03-12 13:20] hsluoyz commented on #681
@mato51

Call AddLink(): https://casbin.org/docs/en/rolemanager-api#addlink

[2021-03-12 14:12] hsluoyz commented on #734
@closetool

[2021-03-12 14:37] hsluoyz commented on #727
ping @MichaelBurgess

[2021-03-12 18:52] giefferre opened #737 "[Question] RBAC with all pattern model doesn't work"
**What's your scenario? What do you want to achieve?**

in the online editor on casbin.org/editor, I've tried with the `RBACL with all pattern`.

I've filled the model with the following content

[code]

and then I've inserted the following policies

[code]

I've tried the following requests, and they all worked as expected:

[code]

Then I've moved all this behaviour to `go` code.

The code imple

[2021-03-13 03:59] nodece commented on #731
@hsluoyz I think we should introduce transactions feature.

[2021-03-15 09:56] hsluoyz commented on #737
@closetool

[2021-03-15 10:30] closetool commented on #737
![image](https://user-images.githubusercontent.com/52988625/111139516-2ff71580-85bc-11eb-9da8-5c1dd6e8c918.png)
No, I believe it with no fault, plz refer to [rbac](https://casbin.org/docs/en/rbac-with-domains)

[2021-03-15 11:01] giefferre commented on #737
@closetool thanks for your prompt response.

In Casbin web editor the above model configuration works if I use `RBAC with all pattern`.

Should I change something on the code to use such RBAC type?

[2021-03-15 12:36] closetool commented on #737
@giefferre plz add domain matching function manually, refer to https://casbin.org/docs/en/rolemanager-api & https://casbin.org/docs/en/role-managers, and I highly recommanded you to read docs about [rbac domain](https://casbin.org/docs/en/rbac-with-domains)
![image](https://user-images.githubusercontent.com/52988625/111154324-12cb4280-85ce-11eb-90a5-11451841a27a.png)

[2021-03-16 10:31] giefferre commented on #737
@closetool thanks for your reply, but still it is not clear to me.

Is the problem on the model? I can use `RBAC with all pattern` on the web editor, but it is not listed [here](https://casbin.org/docs/en/supported-models).

I've tried with the following code, with no tangible results:

[code]

On the online web editor the custom configuration is set as follows:

[code]

Is it correct?

[2021-03-16 14:41] closetool commented on #737
https://casbin.org/docs/en/function this is about matching function, and `g,_,_,_` the third `_` means domain, it perhaps shouldn't be `obj`

[2021-03-16 14:42] closetool commented on #737
@giefferre

[2021-03-16 16:15] giefferre commented on #737
yes but as you can see in my request definition I use

[code]

so what I want to achieve is to use the `r.obj` as domain (since I use RESTful like objects).

The problem is the fact that it *perfectly works* on the editor, while it doesn't in the golang implementation.

Maybe you would help me a lot if you can show me the golang code for the Casbin editor configuration using the `RBAC with all pat

[2021-03-16 17:05] giefferre commented on #737
The problem is somehow related to Role Inheritance.

In fact, if I run

[code]

the commands produce

[code]

But when I do call Enforce it fails on requests which should be `true` according to Role Inheritance 😕

/cc @closetool @hsluoyz

[2021-03-17 04:52] closetool commented on #737
@giefferre Like the docs said, keyMatch2 for pattern `:`, instead keyMatch for pattern `*`, I guess you should use keyMatch like I did
![image](https://user-images.githubusercontent.com/52988625/111416775-8466d600-871f-11eb-9b11-9268164baee7.png)

![image](https://user-images.githubusercontent.com/52988625/111416720-69946180-871f-11eb-8bb9-6ed381fb03ed.png)

![image](https://user-images.githubuser

[2021-03-17 05:50] paul4156 opened #740 "[Bug] priority_policy_explicit does not respect priority"
**Describe the bug**
priority_policy_explicit is still positional, not respecting priority.

**To Reproduce**
Steps to reproduce the behavior:
1. Use nodejs
2. Use example files for explicit priority: `examples/priority_model_explicit.conf` and `examples/priority_policy_explicit.csv `
2. Run script:
[code]
3. Got true
4. Swap line 1-4 and line 7-9 in `priority_policy_explicit.csv`:

[code]
5. Run

[2021-03-17 09:00] giefferre commented on #737
@closetool I've read all of the documentation so far before opening this issue, with no help.

I've tried:
- `KeyMatch`
- `KeyMatch2`
- `KeyMatch4`
- `RegexMatch`

But none of them worked.

As I mentioned [here](https://github.com/casbin/casbin/issues/737#issuecomment-800444639) the issue seems to be in the hierarchy of the roles -- basically what happens is that the tests that fail are those whic

[2021-03-17 12:59] closetool commented on #737
![image](https://user-images.githubusercontent.com/52988625/111471203-9c604900-8763-11eb-9e94-c38a6b387f01.png)
@giefferre casbin works well,
you wrote some unexpected results for 5th & 7th

[2021-03-17 13:01] closetool commented on #737
![image](https://user-images.githubusercontent.com/52988625/111471383-cf0a4180-8763-11eb-8f12-2b8043f4eb01.png)
@giefferre casbin works well, you worte unexpected results for 5th & 7th

[2021-03-18 04:23] arafat-java commented on #731
Any updates on this

[2021-03-18 04:41] hsluoyz commented on #731
@arafat-java plz review: https://github.com/casbin/casbin-pg-adapter/pull/25

[2021-03-22 01:45] imarsman opened #741 "Use of embed"
It would be nice for bundled applications to be able to use golang 1.16 embed capability to create a new enforcer. Looking at the code for the file-based embed enforcer I see that it has a save method, which would not work with embed currently. Use of embedded model and policy for an enforcer would allow a packaged application to include these resources with the build. I can live without the use o

[2021-03-22 02:06] hsluoyz commented on #741
@imarsman hi, so what code change you do suggest?

[2021-03-22 02:22] imarsman commented on #741
Embed supports a Filesystem interface, so if there was a NewFromFilesystem(model fs.File, policy fs.File) initializer that would work reasonably well but again, the embed filesystem is readonly. The enforcer could call InitWithFile(p0, p1) but instead of strings as paths it could be two fs.File arguments. I see that the file-adapter assumes a path that can be used to create a file for reading. Pas

[2021-03-22 03:11] imarsman commented on #741
Actually, if one did not need a file abstraction of any sort one could just make an adapter that used a string for the model and a string for the policy, or a set of byte arrays. This also would not allow saving the model but the file-adapter already disallows UpdatePolicy.

[2021-03-22 03:37] hsluoyz commented on #741
For model string, see: https://casbin.org/docs/en/model-storage

For policy string, see: https://casbin.org/docs/en/adapters

![image](https://user-images.githubusercontent.com/3787410/111937560-f2861100-8b02-11eb-8e36-b4fb0bca16f1.png)

[2021-03-22 03:37] #741 closed

[2021-03-22 15:39] imarsman commented on #741
I will read the manual better next time. Sorry to take up your time.

[2021-03-24 07:58] aryan828 commented on #710
Hey, after going through the code base of Casbin I realized that for every request which goes to the enforcer, the [enforcer](https://github.com/casbin/casbin/blob/86d48b589606a67f8dc3c51486e8daa1b743f579/enforcer.go#L423) function tries to match it with every policy given by the user. We can do something like maintaining a Trie which stores all the **policies** as mentioned in [#546](https://gith

[2021-03-25 12:56] hsluoyz commented on #710
@aroldanz the matcher can contain custom functions.

[2021-03-25 16:55] aryan828 commented on #710
@hsluoyz I will need some time to optimize the performance of BathEnforce() API further and for all possible cases. If the RuleIndexing works, the time complexity of BatchEnforce() can be improved from O(p*r) to O(p+r) where **p** is the number of policies and **r** is the number of requests sent from the BatchEnforce.

[2021-03-25 17:11] fr3fou opened #742 "[Feature] Migrating from `Knetic/govaluate` to `antonmedv/expr`"
**Is your feature request related to a problem? Please describe.**
The Go implementation of Casbin uses https://github.com/Knetic/govaluate, which at this point seems to be abandoned. Last commit was made on Oct 22, 2017 and the files haven't been updated in 4-5 years
![image](https://user-images.githubusercontent.com/1344906/112514065-9ab70680-8d9d-11eb-9129-dd48f2993316.png)
There are as well so

[2021-03-26 00:57] hsluoyz commented on #742
@fr3fou what about https://github.com/PaesslerAG/gval ?

[2021-03-26 08:13] dbi1 opened #743 "How to write policies with field filters (single level and hierarchical)?"
Hi,

Ruby's [CanCanCan](https://github.com/CanCanCommunity/cancancan/blob/develop/docs/Defining-Abilities.md#hash-of-conditions) has a nice way of defining policies for certain special situations:

1) Applying field filters:

Example: User can only read active projects which he owns.
Policy: can :read, Project, active: true, user_id: user.id

2) Applying field filters to parent records:

Example:

[2021-03-26 09:56] hsluoyz commented on #743
@dbi1 see ABAC and scaling ABAC: https://casbin.org/docs/en/abac

[2021-03-26 10:04] dbi1 commented on #743
Thank you @hsluoyz.

What if I wanted to have more than one field filter, for example:
brand = "Toyota" AND color="Blue"

Would a policy look something like this:

p, r.brand = "Toyota", r.color = "Blue", /data1, read

[2021-03-26 10:58] hsluoyz commented on #743
@dbi1 use:

[code]

The scaling rules support all grammar in: https://github.com/Knetic/govaluate

[2021-03-27 21:11] fr3fou commented on #742
also seems fine, we should pick whichever will take the least time to migrate to

[2021-03-29 10:46] hsluoyz opened #744 "Add GetDomainsForUser() API"
See: https://github.com/casbin/Casbin.NET/issues/148#issuecomment-809174721

[2021-03-29 10:47] hsluoyz commented on #744
@closetool @RobotHuang

[2021-03-29 13:02] RobotHuang commented on #744
Does it return all domains one user has?

[2021-03-29 13:04] EladProject opened #745 "Is it possible to group resources [Question]"
Hi,
I'd like to use Casbin to authorize API calls.

My model may look like this:

[code]

My policy may look like this:
[code]

Is there a way to group urls together and reference only the group in the policy?
(The policy will reference a group, the request will ask for a specific resource).
For example,
I will have a group management_urls which includes severals urls:
/my_url/printer, (GET)|(POST

[2021-03-29 14:00] Sagilio commented on #744
See: https://github.com/casbin/Casbin.NET/issues/147#issue-841030349

[2021-03-29 15:04] hsluoyz commented on #745
@EladProject of course, see `RBAC with resource roles` model: https://casbin.org/docs/en/supported-models#examples

[2021-03-29 15:04] #745 closed

[2021-03-29 17:03] EladProject commented on #745
Thanks,
I think that an alternative way to what you suggested is to do role inheritance and group by roles:
[code]

Assuming this also works (didn't try), is there a preference between the methods?

[2021-03-30 00:37] hsluoyz commented on #745
@EladProject no much difference. You can choose based on whether you prefer:

1. A user role can access a single resource.
2. A single user can access a resource group.

Or even better:

1. A user role can access a resource group.

[2021-03-30 12:15] rickardgranberg opened #747 "[Bug] CasbinJsGetPermissionForUser incompatible with casbin-js > 0.1.0"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Describe the bug**
Trying to use the example described here: https://casbin.org/docs/en/frontend to feed our frontend with permissions, but it doesn't work as documented.
* First problem is that ca

[2021-03-30 14:49] hsluoyz commented on #747
@Zxilly

[2021-03-30 15:29] Zxilly commented on #747
got it, will working on this

[2021-04-02 10:00] giefferre opened #748 "[Bug] Unable to Enforce policies after LoadPolicy"
**Describe the bug**

After the execution of `e.LoadPolicy()` method where `e` is either a Casbin Enforcer or a Casbin Synced Enforcer, the previously Enforced policies are not enforced anymore.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

The Enforce is expected to return the same result even reloading the same policies

**Additional context**

This replicate

[2021-04-02 12:40] hsluoyz commented on #748
@giefferre can you provide:

1. go env
2. go version
3. Casbin version
4. contents of "model.conf", "policies.csv"

[2021-04-02 13:09] giefferre commented on #748
Complete example follows

[code]

ACTUAL RESULT
[code]

model.conf

[code]

policies.csv

[code]

go env:

[code]

go version
[code]

So this appears to be related to the `AddNamedMatchingFunc` and `AddNamedDomainMatchingFunc`, which is not the behaviour that I'd expect as user of this library.

[2021-04-02 13:12] hsluoyz commented on #748
@giefferre can you try add:

[code]

after:

[code]

?

[2021-04-02 13:13] hsluoyz commented on #748
@closetool @RobotHuang

[2021-04-03 04:43] #748 closed

[2021-04-03 07:16] giefferre commented on #748
Thanks for your support and sorry for late reply, but of course by replicating the execution of the

[code]
methods it did work.

It was weird as it should behave as the new released version does now 👍

[2021-04-04 14:22] hsluoyz commented on #743
Closed as resolved.

[2021-04-04 14:22] #743 closed

[2021-04-04 14:24] hsluoyz commented on #737
@giefferre is this issue resolved?

[2021-04-04 14:25] hsluoyz commented on #722
Closed as stale.

[2021-04-04 14:25] #722 closed

[2021-04-04 14:25] hsluoyz commented on #720
Closed as resolved.

[2021-04-04 14:25] #720 closed

[2021-04-04 14:26] #716 closed

[2021-04-04 14:28] hsluoyz commented on #516
Closed as stale.

[2021-04-04 14:28] #516 closed

[2021-04-04 14:29] hsluoyz commented on #715
Closed as stale.

[2021-04-04 14:29] #715 closed

[2021-04-04 14:29] hsluoyz commented on #727
Closed as invalid.

[2021-04-04 14:29] #727 closed

[2021-04-04 14:30] hsluoyz commented on #747
@Zxilly

[2021-04-05 07:26] Zxilly commented on #747
In fact, node-casbin implement also has bug, it has unexpected side affect.
I will first fix that bug, later to resolve this.

[2021-04-05 09:29] hsluoyz commented on #747
@closetool @RobotHuang

[2021-04-05 14:19] hsluoyz commented on #747
@Zxilly plz also run Go code and see what difference the Go Casbin and Node-Casbin has for `CasbinJsGetPermissionForUser()`, then we need to determine which side has bugs, then fix it.

[2021-04-06 03:17] belief428 opened #750 "[Bug] Go"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**

[2021-04-06 03:17] #750 closed

[2021-04-06 03:21] belief428 opened #751 "[Bug] Golang AddPolicies Abnormal"
![image](https://user-images.githubusercontent.com/24927606/113654168-d620d180-96c9-11eb-9080-aaf151c0a724.png)

Hello guys：
   I have a problem and AddPolicies  can't save to the database

[2021-04-06 06:11] hsluoyz commented on #750
Replaced by: https://github.com/casbin/casbin/issues/751

[2021-04-06 06:11] hsluoyz commented on #751
@closetool

[2021-04-06 06:14] closetool commented on #751
@belief428 which adapter do you use? gorm or xorm

[2021-04-06 10:35] techoner opened #752 "[Feature] Improve enforce to improve performance"
[code]
All policies will be executed in the `for` loop, [Pycasbin #134](https://github.com/casbin/pycasbin/pull/134) provides a more effective idea to break the loop when necessary .

[2021-04-06 11:09] hsluoyz commented on #752
@closetool

[2021-04-06 13:53] Sagilio commented on #752
I think [default_effector_stream](https://github.com/casbin/casbin/blob/beta/effect/default_effector_stream.go) in the beta branch is for this issue too. It will also break the loop when `PushEffect` returns true, and it also can return the explain like a trace.

[2021-04-06 13:58] Sagilio commented on #752
I think [default_effector_stream](https://github.com/casbin/casbin/blob/beta/effect/default_effector_stream.go) in the beta branch is for this issue too. It will also break the loop when `PushEffect` returns true, and it also can return the explain like a trace.

[2021-04-06 16:55] tson1111 commented on #742
Hi, I want to have a try on this issue! I'll look at https://github.com/PaesslerAG/gval

[2021-04-07 02:42] hsluoyz commented on #742
@tson1111 https://github.com/PaesslerAG/gval is just an option. Please choose the best one from all options.

[2021-04-07 03:34] tson1111 commented on #742
@hsluoyz Cool. I’ll do some research.

[2021-04-07 07:32] #744 closed

[2021-04-08 03:30] wgarunap opened #755 "RBAC patterns doesn't work when using Resource roles"
I tried to use RBAC patterns matching with Resource roles and it does not work as expected.

model.conf file

[code]

policy.csv file
[code]
When I requested `/book/1, data1, GET` , the model returns `false` when I am expecting a `true`

<img width="934" alt="Screenshot 2021-04-08 at 8 43 04 AM" src="https://user-images.githubusercontent.com/16771997/113963137-b236ca80-9846-11eb-88ee-a9201245841a.

[2021-04-08 08:45] tson1111 commented on #742
@hsluoyz Hi, I took a look at some evaluation expression packages. It turns out that [expr](https://github.com/antonmedv/expr) has better performance (comparison [here](https://github.com/antonmedv/golang-expression-evaluation-comparison)) while [gval](https://github.com/PaesslerAG/gval) is better-documented and seems easier to migrate to. Since performance isn't our major concern and [gval](https

[2021-04-08 10:14] hsluoyz commented on #742
@tson1111 the performance matters a lot to us. Especially for such a result: https://github.com/antonmedv/golang-expression-evaluation-comparison

gval is 40x slower than expr. Of course we will choose expr.

![image](https://user-images.githubusercontent.com/3787410/114009950-349aab00-9896-11eb-8af6-88401d2640f8.png)

[2021-04-08 10:38] tson1111 commented on #742
I don't think it's a fair play, coz the compilation time of gval has been included. However, I re-ran the benchmark, calculated only the evaluation time of gval, and found that gval is still 5~6x slower than expr. So from a performance perspective, expr is a better choice. I'll start to migrate if you agree with expr.

[2021-04-08 10:47] hsluoyz commented on #742
I have included that open PR (https://github.com/hsluoyz/golang-expression-evaluation-comparison) and here's my result, so gval is 6x slower than expr.

[code]

[2021-04-08 10:51] tson1111 commented on #742
@hsluoyz So we have similar results, I'll use expr.

[2021-04-08 10:53] hsluoyz commented on #755
@wgarunap plz call `AddMatchingFunc()`, see: https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac

[2021-04-08 10:53] #755 closed

[2021-04-08 12:24] hsluoyz commented on #742
@tson1111 see: https://github.com/antonmedv/golang-expression-evaluation-comparison/pull/5

[2021-04-08 15:05] hsluoyz commented on #752
See: https://github.com/casbin/casbin/pull/753#issuecomment-815899090

[2021-04-08 15:27] hsluoyz opened #756 "The new "some(where (p.eft == allow)) || !some(where (p.eft == deny))" effect is useless"
It's the same as Allow-override, so revert it:

- https://github.com/casbin/casbin/issues/496
- https://github.com/casbin/casbin/pull/497

[2021-04-08 15:27] #756 closed

[2021-04-09 11:02] sagarshah1983 commented on #419
@MatthewPattell
Did you get an answer to your question? I am curious how did you solve it?
Could you please provide suggestion on how to solve it for objects that are being loaded from database in thousands or even more size. How do we run policy check against each of them and verify if user has access to that entity or not?

[2021-04-09 11:13] MatthewPattell commented on #419
@sagarshah1983 I had to create an additional table where I saved the roles and the corresponding filtering rules.
E.g:
[code]

... and I created in gateway middleware function (I have microservices architecture) which get user role and userId from casbin. After thant I send to microservice filter like: {"userId": "1"}, and microservice include this filter in query to DB.

[2021-04-09 13:58] sagarshah1983 commented on #419
Makes sense to me. Thank you for your prompt reply @MatthewPattell !

[2021-04-10 10:02] closetool commented on #747
Node output:
![image](https://user-images.githubusercontent.com/52988625/114266051-aefa3500-9a26-11eb-9360-024852a0c821.png)
Golang output:
![image](https://user-images.githubusercontent.com/52988625/114266064-be797e00-9a26-11eb-829e-0b3bb536f89a.png)

@hsluoyz @Zxilly @rickardgranberg I guess node js version got a bug.
And like @rickardgranberg said, casbin-js now passes `subject` as the query ke

[2021-04-10 10:07] Zxilly commented on #747
@closetool CasbinJsGetPermissionForUser() in Node-casbin used to have side effect. I have fixed it.
Any other problem you noticed?

[2021-04-10 10:26] closetool commented on #747
@Zxilly I used casbin.js 5.6.1, the output is different from casbin's

[2021-04-10 11:34] Zxilly commented on #747
casbin.js is a separate library, you mean node-casbin?
kingiw refactor the data structure at casbin.js 0.1.0, but he forget to change CasbinJsGetPermissionForUser() in casbin-golang.
node-casbin now have the right implement. casbin-golang should have the same output to work with casbin.js

[2021-04-10 11:38] closetool commented on #747
![image](https://user-images.githubusercontent.com/52988625/114268554-3601da00-9a34-11eb-81ea-882f1a4dfc42.png)
If the output is right, the param `user` would be useless.

[2021-04-10 13:10] Zxilly commented on #747
![image](https://user-images.githubusercontent.com/31370133/114270828-10c79880-9a41-11eb-9f01-72c1b0d37c27.png)
Yes, it's useless. kingiw totally refactor the logic and no longer use user variable.

[2021-04-10 15:17] hsluoyz commented on #747
@Zxilly then why not remove the 2nd arg `user` in casbinJsGetPermissionForUser() ?

[2021-04-10 15:28] Zxilly commented on #747
@hsluoyz As a fallback compatibility, I will add a default value to it.

[2021-04-11 05:37] tson1111 commented on #742
@hsluoyz I've created a PR for this migration. Please take a look. #758

[2021-04-11 13:57] #747 closed

[2021-04-12 17:31] iamshreeram opened #760 "[Bug] Casbin is authorizing when the policy.csv is empty"
**What's your scenario? What do you want to achieve?**
Your answer here

**Your model:**

[code]

**Your policy:**

[code]

**Your request(s):**

[code]

[2021-04-12 18:00] iamshreeram commented on #760
I provided below policy,
[code]

And tried to enforce with `user2:domain1:todo:write`. This is returning **true** as well. Basically, Authorization is successful for any enforcer.

Also, How do I print the logs from enforcer?

[2021-04-12 18:10] hsluoyz commented on #760
@iamshreeram can you try with online editor? https://casbin.org/en/editor

[2021-04-12 18:27] iamshreeram commented on #760
@hsluoyz , It works as expected in online editor. But,  I'm seeing this behavior When I use casbin in my _go_ code.

[2021-04-12 19:10] iamshreeram commented on #760
Below is the access control function -

[code]

[2021-04-13 05:27] hsluoyz commented on #751
Closed as stale.

[2021-04-13 05:27] #751 closed

[2021-04-13 05:27] hsluoyz commented on #737
Closed as resolved.

[2021-04-13 05:27] #737 closed

[2021-04-13 12:44] hsluoyz commented on #760
@closetool

[2021-04-13 13:15] closetool commented on #760
@iamshreeram Thanks for using casbin!
I noticed you used `Deny Override` effect in your model file.
It means if you has no deny policy in your policy file, then your request will return true
And its behaviour acts exactly the same with casbin editor(You should check your model file/effect section)
https://casbin.org/docs/en/syntax-for-models#policy-effect

[2021-04-13 20:14] iamshreeram commented on #760
Thanks @closetool ; Moving from Deny override to Allow override fixed the issue. I'm still confused on why casbin was authorizing without anything on policy.csv file.

I have another question :
I want to authorize a subject against multiple tables. Is there a way to provide list of tables in single `Enforce` instead of one at a time?

With current implementation,
[code]
**Enforce** just accepts on

[2021-04-14 01:49] closetool commented on #760
There's no such that solution, but casbin uses adapter reads data from db, you could implement your own multiple table adapter on your own : )

[2021-04-14 01:52] hsluoyz commented on #760
@iamshreeram see: https://casbin.org/docs/en/data-permissions

[2021-04-14 08:34] hsluoyz commented on #760
Closed as resolved.

[2021-04-14 08:34] #760 closed

[2021-04-16 03:25] #752 closed

[2021-04-16 03:26] hsluoyz commented on #752
@closetool plz add the new Effector API to official docs: https://github.com/casbin/casbin/blob/master/effector/effector.go

[2021-04-16 11:07] yockii opened #762 "[Bug]Using priority-model Won't get any implicit permission"
**Describe the bug**
using priority model, and has the policy as follow:
p, 10, data_group, data, read, allow

when u try to get implicit permission with GetImplicitPermissionsForUser("data_group")
it will return nil

for the function GetPermissionsForUser, it write e.GetFilteredPolicy(0, args...)
but index=0 is the priority field.

will it be a bug, or if i use the wrong method to get a user's pe

[2021-04-16 13:00] hsluoyz commented on #762
@yockii It's more of a convention instead of a bug that we usually put `user` or sub as the 1st element. For your case, please put priority elsewhere after sub.

[2021-04-16 16:54] JeyoungKwon opened #763 "[Bug] policy not getting returned by EnforceEx"
**Describe the bug**
I'm not 100% sure this is a casbin limitation due to the policy_effect or bugged behavior, but EnforceEx sometimes returns empty even when there is a policy match.

**To Reproduce**
Steps to reproduce the behavior:
https://gist.github.com/JeyoungKwon/9d4e9e97b173ce0a3941eb30f1ff5b30

The assert on line 52 fails (returns empty string slice), but the assert on line 97 passes. Th

[2021-04-17 02:28] hsluoyz commented on #763
@closetool

[2021-04-17 03:30] hsluoyz commented on #763
The reproducible code can be put into the root folder of casbin repo to test:

[code]

[2021-04-17 04:29] closetool commented on #763
@JeyoungKwon Thanks for using casbin.
It was designed to act like that, https://casbin.org/docs/en/syntax-for-models#policy-effect.
When the effect section is `e = some(where (p.eft == allow)) && !some(where (p.eft == deny))`, `EnforceEx` only returns deny policy.

[2021-04-17 04:52] #728 closed

[2021-04-17 04:52] #731 closed

[2021-04-17 04:52] hsluoyz commented on #728
@closetool merged, plz add the new API after: https://casbin.org/docs/en/management-api#updatepolicies

[2021-04-17 17:56] hanaimin opened #764 "why this group role with group resource test is false?"
![image](https://user-images.githubusercontent.com/31823408/115122191-375d7480-9fe9-11eb-9476-a1d7cfc80510.png)

[2021-04-18 00:39] JeyoungKwon commented on #763
Ah, ok. It makes sense to me now. In that case I would like to suggest this as a feature. The way I am thinking about it is if we flip the terms like this:
[code]
Then it could be like short circuit evaluation where if the left side is false, then the deny policy is returned, but if true, then it goes on to check the allow policy, and returns that, if any. More like the deny takes precedence, rath

[2021-04-18 00:53] hsluoyz commented on #763
It doesn't make sense. A policy is either allow or deny. You will always return the 1st policy. Or you can provide a non-trivial example to illustrate your idea.

[2021-04-18 00:56] hsluoyz commented on #764
@hanaimin missed comma after "g":

![image](https://user-images.githubusercontent.com/3787410/115130644-e5861000-a023-11eb-9a10-6bc56ead0c9f.png)

[2021-04-18 00:56] #764 closed

[2021-04-18 03:25] JeyoungKwon commented on #763
So the current behavior of EnforceEx when using the allow-and-deny policy is to return the first deny policy?

I was under the impression that the policy effect depends on all matching policies, not just the first matching deny.

From the paper(3.1): "The effect primitive determines whether the request should be approved if multiple policy rules match the request. In other words, it can form a sin

[2021-04-18 03:36] hsluoyz commented on #763
@JeyoungKwon for `allow-and-deny` effect, what about this?

1. If the final result is allow, we will return the first matched allow rule, we don't return any matched deny rules because we know no deny rules will be matched.
2. If the final result is deny, we will return the first matched deny rule, we don't return any matched allow rules because deny overrides.

[2021-04-18 03:52] JeyoungKwon commented on #763
Yup, that would be perfect for what I was trying to do. It'd allow me to use the EnforceEx api and still keep the ability to use the allow-and-deny effect.

[2021-04-18 07:51] sagarshah1983 commented on #419
@MatthewPattell - I am guessing that this can get too complex specifically when using ABAC policies with multiple criteria in order to determine the access list for the user based on user (sub) as well as resource (obj) attributes. Are there any alternatives?I think, if my records are over thousands, then running enforce for each of them could be a performance overhead, so I would prefer defining

[2021-04-18 08:56] hsluoyz commented on #419
@sagarshah1983 see: https://casbin.org/docs/en/data-permissions

[2021-04-18 12:05] #763 closed

[2021-04-19 04:13] yockii commented on #762
@hsluoyz Thanks for reply, but as I use priority as non 1st element, the enforce won't work well.
after reading source, i found function SortPoliciesByPriority() in model.go:`if assertion.Tokens[0] != fmt.Sprintf("%s_priority", ptype) {
			continue
		}`
so it must be the 1st element when using priority?

[2021-04-19 04:37] hsluoyz commented on #762
@closetool please fix this bug. We should check if any element in p definition is `priority`, instead of only checking the first element.

[2021-04-19 06:52] sagarshah1983 commented on #419
Thank you for your reply. That did help!
Having said that, can it be applied for ABAC rules or RBAC with tenants? I tried simple RBAC with tenants and when trying to get implicit permissions for a user, I did not get any permissions that were assigned to his role for a tenant. Not sure, if its an open issue or I missed something?

[2021-04-19 12:01] hsluoyz commented on #419
@sagarshah1983 plz send a new github issue with your model and policy

[2021-04-19 12:36] #762 closed

[2021-04-20 15:20] sagarshah1983 opened #767 "[Bug] Getting Implicit roles/permissions for a user for ABAC with policy model + RBAC tenants"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
A clear and concise description of what the bug is.
I am trying to evaluate my model and see if I can implicit roles/permissions for the user th

[2021-04-20 15:26] sagarshah1983 commented on #419
Thank you. I created this - https://github.com/casbin/casbin/issues/767

[2021-04-20 16:18] hsluoyz commented on #767
@closetool

[2021-04-20 16:22] hsluoyz commented on #767
@sagarshah1983 plz state your expected output for `System.out.println(enforcer.getImplicitPermissionsForUserInDomain("alice", "fac_a"));`

[2021-04-20 16:32] sagarshah1983 commented on #767
@hsluoyz
I am expecting output to print the permissions assigned to admin user via policies. But instead, I get empty array
[code]
Thanks!

[2021-04-20 23:22] closetool commented on #767
@sagarshah1983
model.conf
[code]
policy.csv
[code]
Changing your configuration file to this will fix it.

[2021-04-21 03:20] hsluoyz commented on #767
@closetool can you explain it?

[2021-04-21 03:50] sagarshah1983 commented on #767
Swapping the order of domain and rule in policy helped. But I am not sure, why it did not work earlier as my policy input was in compliance with model defined earlier too.

[2021-04-21 07:28] closetool commented on #767
@sagarshah1983 @hsluoyz For it depends on GetFilteredPolicy()
![image](https://user-images.githubusercontent.com/52988625/115513827-17aea080-a2b6-11eb-9b07-19c5a28330a8.png)

[2021-04-21 08:20] hsluoyz commented on #767
@closetool plz fix this bug.

[2021-04-21 16:14] sagarshah1983 commented on #419
Thank you @harveyappleton. That was useful! My policy was more or less similar except that I kept rules in the policy itself instead of isMatch function and providing attributes & conditions as properties to policy.
Agree, that this seems more neat than what I was building :)

[2021-04-21 16:36] harveyappleton commented on #419
Yeh I would have loved to have kept the rules in Casbin model if possible, but isMatch (partial object property matching) and includes (array includes element) with some custom logic wasn't obvious how to achieve sadly.

[2021-04-21 20:12] arigon opened #768 "[Bug] several: invalid memory address or nil pointer dereference"
**Describe the bug**
There are several nil pointer dereferences which are not properly checked. I will create some PRs linked to this issue, but it will take some time to find most of them. :-)

**To Reproduce**
Steps to reproduce the behavior:
For example: Trying to add a grouping policy without any existing policy.

**Additional context**
`_, ok := model[sec][ptype].PolicyMap[strings.Join(rule,

[2021-04-23 03:38] #767 closed

[2021-04-23 04:10] sagarshah1983 commented on #767
Thank you @hsluoyz . Just a question (maybe my misunderstanding).. I am using casbin using jcasbin java client library (v 1.8.3). How can I know, if its referring casbin 2.28.3 or not. Is there a matrix of compatible versions between jcasbin & casbin?

[2021-04-23 04:50] hsluoyz commented on #767
@sagarshah1983 we have a feature set table: https://casbin.org/docs/en/overview#feature-set-for-different-languages

There's no mapping between Go and Java, but generally you should always use the latest version of that language.

[2021-04-23 12:53] sagarshah1983 commented on #767
Thanks for clarifying @hsluoyz .
I think I still see the same issue with original model and policy that I had posted. Did I do something wrong there.
I was testing with jcasbin library and I used latest version, which was 1.8.3
Should that be working now? Or Am I still missing something?
Please suggest!

[2021-04-24 13:03] dai3023273 opened #771 "[问题]"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
Your answer here

**Your model:**

[code]

**Your policy:**

[code]

**Your request(s):**

[code]

[2021-04-24 13:14] DaiJiezou opened #772 "[Question] my model and policy didn't work"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
Your answer here

**Your model:**

[code]

**Your policy:**

[code]

**Your request(s):**

[code]

[2021-04-24 13:15] #771 closed

[2021-04-24 14:03] hsluoyz commented on #771
Replaced by: https://github.com/casbin/casbin/issues/772

[2021-04-24 15:03] hsluoyz commented on #772
@closetool

[2021-04-24 15:19] closetool commented on #772
@dai3023273 Sorry, your model and policy has severe problems, and I couldn't get `true`, plz fix your model and policy first, refer to https://casbin.org/docs/en/syntax-for-models. : )

[2021-04-25 13:12] dai3023273 commented on #772
You  need to register the function with the enforcer like:
r := e.GetRoleManager()
r.(*defaultrolemanager.RoleManager).AddMatchingFunc("KeyMatch2",util.KeyMatch2)
then,enforce("1",PUT#/user/edit/1)

[2021-04-25 13:16] closetool commented on #772
@dai3023273 Nop, KeyMatch2 is buildin function, so you don't need to load it manually.
Actually, there's much bugs in you model and policy.

[2021-04-25 13:33] dai3023273 commented on #772
If I don't register the function with the enforcer, the enforcer will not match “PUT#/user/edit/1” and “PUT#/user/edit/:id”,
I've now found a better model and policy，But the previous model and strategy worked just fine, it was just too slow。

[2021-04-25 13:41] closetool commented on #772
@dai3023273 modify `KeyMatch2` to `keyMatch2`, and you don't need to import it.

[2021-04-25 13:44] closetool commented on #772
@dai3023273 And I see that you put obj in `g` section, that's not correct, `g` is for role inheritance.
I highly recommand you to read the docs about rbac. https://casbin.org/docs/en/rbac

[2021-04-25 13:49] dai3023273 commented on #772
OK, thank you for your patience

[2021-04-25 16:51] hsluoyz commented on #768
Won't fix due to: https://github.com/casbin/casbin/pull/769#issuecomment-826354184

[2021-04-25 16:51] #768 closed

[2021-04-25 22:29] arigon opened #774 "[Bug] CasbinJsGetPermissionForUser broken"
**Describe the bug**
In at least Version 2.28.4 the CasbinJsGetPermissionForUser function needed for casbin.js is broken. The commit id which removes the user policy is: 3ab5e9ac41ee0448b76594c39363732e839c8f7f

**To Reproduce**
Steps to reproduce the behavior:
1. Call CasbinJsGetPermissionForUser with a user (which is mandatory anyway)
2. The user attribute isn't processed in the function
3. casb

[2021-04-26 01:15] hsluoyz commented on #774
@Zxilly @closetool

[2021-04-26 09:16] hsluoyz commented on #772
@DaiJiezou update?

[2021-04-26 09:27] DaiJiezou commented on #772
It's working just fine。

[2021-04-26 09:33] DaiJiezou commented on #772
The modified model and policy can work very well .
I used the wrong model and policy before, although it works

[2021-04-26 09:44] hsluoyz commented on #772
Closed as resolved.

[2021-04-26 09:44] #772 closed

[2021-04-27 22:22] gonsuke opened #775 "[Question] WatcherEx methods should have ptype parameter."
Hi team,

I'm looking into WatcherEx mechanisms and the [redis-watcher](https://github.com/casbin/redis-watcher) implementation.
As far as I understand so far, there are 2 ways of trigger of `UpdateForAddPolicy` for example.
One is `Enforcer.AddNamedPolicy`, https://github.com/casbin/casbin/blob/ab6b8e7e136ff05b251abc374e7be38fe9c80e13/management_api.go#L145   and the other is `Enforcer.AddNamedGr

[2021-04-28 01:00] hsluoyz commented on #775
@closetool

[2021-04-28 08:49] zsh1995 opened #777 "[Question]why `SyncedEnforcer`.`EnforceEx` doesn't use `mutex`?"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
`SyncedEnforcer`.`EnforceEx` doesn't use `mutex`, so it can't return a wrong result when `LoadPolicy` clear the policies

[2021-04-28 10:21] hsluoyz commented on #777
@closetool

[2021-04-28 10:36] closetool commented on #777
@zsh1995 Thanks for report! Is there still api which hasn't not been implemented?

[2021-04-28 16:11] RedMonster727 opened #778 "[Question] Performance with a lot of policies"
**What's your scenario? What do you want to achieve?**
Hello! We want to use casbin with ACL scenario.
We've made a load test with 30k policies in database and found out, that performance in not good enough, .
We looked on our CPU metrics and noticed, that server is using CPU too much, that is the reason of bad performance. I've tried to understand whats the problem by myself and I think the main

[2021-04-28 16:28] hsluoyz commented on #778
Hi @RedMonster727

1. What's your current qps with Casbin and without Casbin?
2. Why use SyncedEnforcer? SyncedEnforcer will slow down the parallel handler into a serial manner. I don't think you want this. If you are read-only for this part, use Enforcer instead.
3. What Casbin version do you use?
4. What are your requests for testing?

[2021-04-28 17:51] RedMonster727 commented on #778
1.
test 1: open load
Linear from 1 to 500 rps and then const 500 rps for 10 minutes,
load - https://prnt.sc/127m55t
cpu usage - https://prnt.sc/127m6yb
instance crashed couple of times

test 2: close load
linear from 1 to 200 rps
load - https://prnt.sc/127maqu
cpu usage - https://prnt.sc/127mbw5
in this test loader controls that service is capable to answer, so rps was 140-150 with max response ti

[2021-04-29 01:01] hsluoyz commented on #778
Can you check https://casbin.org/docs/en/benchmark ? You are using ACL model with 4 p rules. You are expected to have at least 0.02ms/op performance. Plz run that benchmark with a similar machine (CPU).

![image](https://user-images.githubusercontent.com/3787410/116489673-1984ef00-a8c8-11eb-83bf-876212db8fa3.png)

That's an old result and currently I jusr ran with latest Casbin v.2.28.4, it's even

[2021-04-29 07:57] wim-web opened #779 "GFunction doesn't work well on website editor"
I used the same model, policy, and request, but the results were different between the website editor and local code.

## on website

![スクリーンショット 2021-04-22 22 52 01](https://user-images.githubusercontent.com/45655999/115726538-c5f13d80-a3bd-11eb-840f-853a7dae89d4.png)

## on local code

model.conf

[code]

policy.csv

[code]

main.go

[code]

go.mod

[code]

[2021-04-29 08:00] nodece commented on #779
@hsluoyz this is Golang-casbin issue.  the `alice` belong to `admin` role, so `aclice, data1, read` is `true`.

[2021-04-29 08:06] Zxilly commented on #779
@nodece He didn't use `g2(r.sub, p.sub)` to build role link, so `g2, alice, admin` should be ignored.

[2021-04-29 09:39] hsluoyz commented on #779
Agree with @Zxilly

So this is still a Node-Casbin issue..

[2021-04-29 14:34] giefferre opened #781 "[Question] Really slow execution of LoadPolicy method on an existing enforcer instance"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Funded-%2300A156.svg" />](https://issuehunt.io/r/casbin/casbin/issues/781)

**What's your scenario? What do you want to achieve?**

Hi 👋
We are using Casbin in production.

We recently moved from the [GCP Cloud Storage Adapter](https://github.com/qurami/casbin-cloud-storage-adapter) to the [Gorm Adapter](https://github

[2021-04-29 14:52] nodece commented on #779
@hsluoyz @Zxilly `g` and `g2` uses same role manager, so `g` == `g2` and returns `true`. I tried to use jcasbin and node-casbin to check this model and policy, which returns `true`.  If `golang-casbin` is right, we should update all code.

[2021-04-29 15:05] hsluoyz commented on #779
@nodece that's right.

@Zxilly plz update Node-Casbin

[2021-04-29 15:10] hsluoyz commented on #781
@closetool

[2021-04-30 02:53] closetool commented on #781
@giefferre Can I have your data and code?

[2021-04-30 04:52] hsluoyz commented on #781
@giefferre it seems to be related with the HTTP framework. Can you share an example repo? So we can reproduce it.

What DB do you use? MySQL what version? Is it intranet or internet?

[2021-04-30 09:19] giefferre commented on #781
@closetool I can't share any other data. As I already mentioned, there are 64 policies like the ones I've pasted in the issue, they can be:

[code]

they also include

[code]

The grouping policies (aka the grants) are ~4K.

@hsluoyz

1. I've copied an excerpt of the code in the paragraph below
2. We use MySQL 8.0.20; it's via internet, but this is completely irrelevant -- the same happens if we r

[2021-04-30 09:22] giefferre commented on #781
Another piece of information: the issue doesn't show up for database with a lower amount of grants (~1200 grouping policies, same amount of policies)

[2021-04-30 11:31] hsluoyz commented on #755
You should select "RBAC with pattern" option to enable `matchingForGFunction` in the online editor:

![image](https://user-images.githubusercontent.com/3787410/116689262-72e53f00-a9ea-11eb-970f-822373805dcf.png)

![image](https://user-images.githubusercontent.com/3787410/116689312-842e4b80-a9ea-11eb-83f0-89fc21e5117f.png)

In code, you should call `AddMatchingFunc()`, see: https://casbin.org/docs/

[2021-04-30 12:43] wgarunap commented on #755
Thanks @hsluoyz

[2021-05-03 03:29] sujit-baniya opened #782 "[Feature] Add Some APIs to on RBAC API"
**Want to prioritize this issue? Try:**
Yes

------

**Is your feature request related to a problem? Please describe.**
Currently I'm not able to get all users based on domain. I need to use multiple APIs to get all users of a domain. Also looking for some new APIs (if not already available)

**Describe the solution you'd like**
I'm looking for addition of following APIs (if possible)

- `GetAllUs

[2021-05-03 06:29] hsluoyz commented on #782
@closetool

[2021-05-03 08:54] lanmarti opened #783 "[Question] Are different group/role systems supposed to be isolated or merged?"
**What's your scenario? What do you want to achieve?**
We're attempting to have distinct groups for subjects and objects with the same name (subjects can also occur as objects). However, it seems Casbin does not care whether you use g, g2, g3... to group items together. Any grouping seems to work at any position. Therefore, `g, a, b` has the same effect as `g2, a, b` or `g3, a, b`.
From reading th

[2021-05-03 15:18] hsluoyz commented on #783
Hi @lanmarti

g and g2 are two different RBAC systems. Their role links are totally separated. So g and g2 are supposed to have nothing to do with each other. See docs: https://casbin.org/docs/en/rbac

If I remember right, Casbin Golang may have such bugs to have shared some states between g and g2, but we already got it fixed. Plz use latest version.

If you are using other languages than Golang,

[2021-05-03 15:18] hsluoyz commented on #783
@closetool

[2021-05-04 09:01] lanmarti commented on #783
Thank you for the clarification, @hsluoyz
I'm not using the golang version directly, so I can't say if the issue is present here or not. I'll open tickets in the relevant repositories.

[2021-05-04 09:01] #783 closed

[2021-05-04 10:41] RedMonster727 commented on #778
That one in the first message was just an example of policy. In our load test we had 32k and on production our prediction is about 43kk in first year.

We didn't have some possibility to launch your benchmarks on our machines, but we saw, that if there are about 150 requests per second our CPU gone overloaded.

With updated version it became a little better, but not enough.

Also we wanted to use

[2021-05-04 11:53] shy1st commented on #783
@hsluoyz @closetool  Please tell me the code of casbin to solve this problem. I want to solve this problem: https://github.com/casbin/jcasbin/issues/186

[2021-05-04 13:03] hsluoyz commented on #783
@closetool can you provide a link to the PR that resolved this bug in Golang?

[2021-05-04 13:41] hsluoyz commented on #778
@RedMonster727 I think your performance is expected given our benchmark table. You can provide a more-real version of your model and policy (remove any secret stuff) here, so we can help optimize it based on this scenario.

[2021-05-05 08:55] #782 closed

[2021-05-05 11:26] hsluoyz commented on #781
@closetool plz investigate the slow performance of the `buildRoleLinks()` function.

[2021-05-05 11:33] closetool commented on #783
@hsluoyz @shy1st @lanmarti plz refer to https://github.com/casbin/casbin/issues/685 https://github.com/casbin/casbin/pull/724

[2021-05-05 12:17] hsluoyz commented on #782
@sujit-baniya docs added: https://github.com/casbin/casbin-website/pull/211

[2021-05-06 02:53] wahello opened #785 "How make ent and casbin work together."
#### How integrate [ent](https://github.com/ent/ent) with casbin?

[2021-05-06 08:43] #777 closed

[2021-05-10 13:00] #775 closed

[2021-05-11 17:53] hsluoyz opened #787 "Make an authorization plugin/middleware for OpenStack"
OpenStack is the de-facto open-source IaaS cloud solution across the world. It's developed in Python. Even many commercial public or private clouds are based on OpenStack. OpenStack has Keystone (https://docs.openstack.org/keystone/latest/) as its authentication (AuthN) and authorization (AuthZ) center.

I don't know if Keystone provides a plugin system for an external authorizer like Casbin to wo

[2021-05-13 06:11] wusphinx opened #789 "[Bug]GetAllUsersByDomain"
**Describe the bug**
I got nothing with `GetAllUsersByDomain`

**To Reproduce**
[model.conf](https://github.com/casbin/casbin/blob/master/examples/rbac_with_domains_model.conf)
[policy.csv](https://github.com/casbin/casbin/blob/master/examples/rbac_with_domains_policy.csv)
[code]

**Expected behavior**
According to the configuration, at least admin should be in the returned results

[2021-05-13 08:22] hsluoyz commented on #789
@closetool

[2021-05-13 14:25] giefferre commented on #781
@hsluoyz @closetool 👋
any news on this issue? we're having problems in production due to this

[2021-05-14 08:49] hsluoyz commented on #781
@tson1111

[2021-05-14 21:28] hiteshsethi opened #791 "[Bug] Enforcer.LoadPolicy error prone if adapter has intermittent database error"
**Describe the bug**
In cases when the adapter(example: etcd or redis) is having intermittent database issues, casbin enforcer can make the model map empty

[code]
This will lead to all new authorization requests become false

**To Reproduce**
Steps to reproduce the behavior:
1. Start the casbin enforcer with etcd/redis adapter and related watcher
2. Add a new policy
3. Introduce a network error,

[2021-05-15 00:57] hsluoyz commented on #791
@closetool @tson1111

[2021-05-16 03:26] #789 closed

[2021-05-16 14:00] mvbn6789 commented on #737
@closetool  @hsluoyz  hey
 sorry for my poor english:
 I am use the most same case according to this issue, now i have question about to get user implict permmison api like :
	GetImplicitPermissionsForUser,_ := e.GetImplicitPermissionsForUser("staff@company.org")
	fmt.Print("GetImplicitPermissionsForUser ", GetImplicitPermissionsForUser)

i think expected result will  hit some  permiisons :
	 p, o

[2021-05-16 16:11] hsluoyz commented on #737
@mvbn6789 use batchEnforce()

[2021-05-17 02:30] mvbn6789 commented on #737
ok think you so much, I will try it
so it means rbac_apis not support this usage case now ?

[2021-05-17 06:32] sameor opened #793 "[Question] got a panic when I using EnforceWithMatcher to define my custom comparator"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
Your answer here
I got a panic when I using EnforceWithMatcher to define my custom comparator
**Your model:**

[code]

**Your policy:**

[code]

[2021-05-17 06:47] hsluoyz commented on #737
@mvbn6789 No. `GetImplicitPermissionsForUser()` only works for basic scenarios like simple matcher + RBAC.

[2021-05-17 16:28] hsluoyz commented on #793
@closetool @tson1111

[2021-05-18 08:37] RobotHuang commented on #793
EnforceWithMatcher should pass a matcher, not a function.

[2021-05-18 11:16] closetool commented on #793
@sameor Like @RobotHuang said, `EnforceWithMatcher` receives a matcher as its parameter.
And I noticed there's `[role_definition]` but no `g` function in your matcher, that's not correct, plz refer to https://casbin.org/docs/en/rbac

[2021-05-19 11:04] mridul303 opened #795 "[Bug]"
**Describe the bug**
It's a documentation issue. In the supported [adapters](https://casbin.org/docs/en/adapters) table, under Go's description section for mongoDB:

The driver link points to the old and [unofficial mongo driver](https://github.com/globalsign/mgo) whereas the adapter uses the latest and [official mongo driver](go.mongodb.org/mongo-driver)

**To Reproduce**
Steps to reproduce the b

[2021-05-19 15:58] hsluoyz opened #796 "Support also resource grouping (g2) in GetImplicitPermissionsForUser()"
See our user's requirement from Java: https://github.com/casbin/jcasbin/issues/174

[2021-05-19 15:58] hsluoyz commented on #796
@closetool @tson1111

[2021-05-20 12:26] Zxilly opened #797 "[Bug] RBAC with domain may have potential unxexpected behavior."
https://github.com/casbin/casbin/blob/d8b8c3d1ad7fc2a9bf03d31955850acb1272f3e1/rbac/default-role-manager/role_manager.go#L489-L495

If we have a domain like `name::domain`, it may lead to unexpected behavior.

@closetool plz confirm this

[2021-05-20 12:33] Zxilly commented on #797
We can change `defaultSeparator` to a rarely used unicode code. But change `domainAndName` to a structure might be a better choice.

[2021-05-21 06:53] Gilthoniel opened #799 "GetPermissionsForUser panics on empty list of domains"
https://github.com/casbin/casbin/blob/d8b8c3d1ad7fc2a9bf03d31955850acb1272f3e1/rbac_api.go#L146-L161

Providing an empty list of domains when calling the function can result in a panic on line 153.

[2021-05-21 08:04] hsluoyz commented on #799
@closetool @tson1111

[2021-05-22 07:59] closetool commented on #797
@Zxilly Yep, we'll discuss about it.

[2021-05-22 12:19] hsluoyz commented on #797
@Zxilly in Casbin, the domain should never contain `::`. It's reversed keyword. Like you cannot use `for` as a variable name in a programming language.

@ErikQQY can you add this naming convention to our docs?

[2021-05-22 12:27] ErikQQY commented on #797
@hsluoyz OK, I am working on it

[2021-05-23 10:56] hsluoyz commented on #793
Closed as resolved.

[2021-05-23 10:56] #793 closed

[2021-05-23 16:18] Sagilio commented on #781
When using pattern and  domain pattern, `BuldRoleLinks` will call the `domainMatchingFunc` and `matchingFunc` `(p + 1) * d * r * 4` times.
- p = grouping policy count
- d = now domain count
- r = now role count

 There are 2 regexes that will be compiled when calling `KeyMatch4` one time.
 So, if you use `KeyMatch4` as `domainMatchingFunc` and `matchingFunc`, I think the regex will call a large ti

[2021-05-23 17:57] sagilio opened #802 "Use unique default logic for optional parameter"
In the docs, RoleManager will use the default domain if not provide domain.
So, for some RBAC API:
[code]
But some new API will use all domain if not provide domain
[code]
And some API use all ptype, not default ptype like others
[code]
I think if we do not have a unified style, it is easy to cause confusion among users.
We should use unique default logic for the optional parameter.

[2021-05-24 02:05] hsluoyz commented on #781
@Sagilio excellent thought on the time complexity analysis! It also inspired me of something:

1. Can we move more calculation from HasLink() to AddLink()? Like caching `KeyMatch4()` results between two nodes in the RBAC graph.
2. What's the current time complexity after your PR?
3. Can you run a test to get the real performance gain for your PR?

[2021-05-24 08:36] #799 closed

[2021-05-24 15:56] Kliton commented on #774
To fix this i just added locally the old function content to a new  function that i call from frontend:

[code]

[2021-05-25 14:17] benmkramer opened #803 "[Question] Is it possible to do a filtered `deleteRolesForUser`?"
**What's your scenario? What do you want to achieve?**
Clearing out some roles for a user and applying new ones.

**Your policy:**

[code]

What I want to do is clear out the `g, user_1, *` lines. Currently what I'm doing is something like the following...

[code]

What I'm not clear on is how I can avoid iterating over each role and deleting it. Is there an equivalent batch call, like `deleteRole

[2021-05-27 08:28] chunfat-setsail opened #804 "[Question] Are there an existing Mongodb watcher?"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
I am developing a stateless application using Nodejs that would probably scale up to multiple instances.

For the policy sync across instances,

[2021-05-29 04:17] #774 closed

[2021-05-29 04:17] hsluoyz commented on #774
Plz use `CasbinJsGetPermissionForUserOld()`: https://github.com/casbin/casbin/pull/805/files

[2021-05-29 05:03] hsluoyz commented on #432
We have a Lua-Casbin now: https://github.com/casbin/lua-casbin

Closed here.

[2021-05-29 05:03] #432 closed

[2021-06-04 01:42] piyongcai opened #808 "DeleteRole in domain，Need DeleteRole only in some Domains"
In current casbin version, delete a role will delete all policies。

Is there a way to only remove policies in some domain
eg ： DeleteRole(role string, domain... string)

[2021-06-04 01:51] piyongcai opened #809 "DeleteUser in Domain，Need DeleteUser only in some Domains"
Need DeleteUser only work in some Domains

[2021-06-04 05:11] hsluoyz commented on #808
@piyongcai plz use English

[2021-06-04 05:11] hsluoyz commented on #808
@closetool

[2021-06-04 05:13] hsluoyz commented on #809
@closetool

[2021-06-04 08:38] piyongcai commented on #808
In current casbin version, delete a role will delete all policies。

Is there a way to only remove policies in som domain
eg ： DeleteRole(role string, doains... string)

[2021-06-04 09:46] closetool commented on #808
@piyongcai plz refer to https://casbin.org/docs/en/rbac-with-domains-api#deletealluserbydomain
https://casbin.org/docs/en/rbac-with-domains-api#deleteroleforuserindomain
https://casbin.org/docs/en/rbac-with-domains-api#deleterolesforuserindomain,
does these meet your requirements?

[2021-06-04 20:01] Tapas059 commented on #419
Hi @harveyappleton , I am implementing same , but when i used your model and tried to check in editor . I am getting false result everytime . Can you let me know how you have achieved this **isMatch (partial object property matching)**  .  And for above model  what is the correct match ? Thank you ...

[2021-06-05 14:53] hsluoyz commented on #809
Dup: https://github.com/casbin/casbin/issues/808

[2021-06-05 14:53] #809 closed

[2021-06-05 14:53] hsluoyz commented on #808
Closed as resolved.

[2021-06-05 14:53] #808 closed

[2021-06-06 07:57] oneknucklehead opened #810 "[Bug]"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Describe the bug**
The cabin brand name beside the logo changes its color to blue and gets underlined on hover which looks weird and makes the makes look unattractive.

**To Reproduce**
Changing th

[2021-06-08 17:22] Tapas059 opened #811 "[Question]"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
 I am trying to check below policy on editor , But in both cases i am getting false.

**Your model:**
[request_definition]
r = sub, obj, act

[p

[2021-06-09 01:32] normangoh opened #812 "[Feature] Changing targetted tablename after newAdaptorByDb()"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Is your feature request related to a problem? Please describe.**
I am trying to build a SAAS and I would need to check permission from different schema depending on the request. Currently, I think

[2021-06-09 03:09] hsluoyz commented on #812
@normangoh use NewAdapterByDBUseTableName(), see: https://github.com/casbin/gorm-adapter/issues/74

[2021-06-09 03:09] hsluoyz commented on #812
@normangoh replied:

I just tried using NewAdapterByDBUserTableName() but it does not work with periods, since I am target another schema I need to use schema1.casbin_rule and schema2.casbin_rule for example.

[2021-06-09 03:09] hsluoyz commented on #812
@closetool

[2021-06-09 04:44] closetool commented on #812
@normangoh Why not just use multiple Enforcer instance?

[2021-06-09 04:45] hsluoyz commented on #811
@closetool

[2021-06-09 04:53] closetool commented on #812
@normangoh It works. If you pass in different schema by `db` (`func NewAdapterByDBUseTableName(db *gorm.DB, prefix string, tableName string) (*Adapter, error)`)
If this doesn't meet your requirement, plz try this one https://github.com/casbin/gorm-adapter/blob/b448b9d5871c5c7f2b34cf7868da5e52d72e4e5a/adapter.go#L92, just use different database name.

[2021-06-09 05:11] closetool commented on #811
@Tapas059 It should be `false`, for there's an error in your model file, we not support `in` in our system, if you check the error returned by enforcer, you'll receive `Value '[1 2]' cannot be used with the comparator 'in', it is not a number`

[2021-06-09 05:27] normangoh commented on #812
@closetool I already tried using the func you mentioned and it does not work with something like the following.
[code]
Regarding the alternative solution you mentioned, will that requires a new connection to be setup? Since I am planning to use it for a SAAS app I can foresee a multiple requests on going. If the app creates a connection everytime they need to read from another schema I think that

[2021-06-09 05:51] closetool commented on #811
@Tapas059
[code]
The array type should be interface.

@hsluoyz We should add more informations about `in` into document.

[2021-06-09 06:01] hsluoyz commented on #811
@closetool exactly, in fact I already created the issue: https://github.com/casbin/casbin-website/issues/231 , can you add docs for it?

[2021-06-09 06:05] closetool commented on #811
@hsluoyz ok

[2021-06-09 06:10] closetool commented on #812
@normangoh I found something helpful in grom's doc, https://gorm.io/docs/dbresolver.html, it seems the resolver keeps multiple connections either. If you still need this feature, I could make a pr for you.

[2021-06-09 07:06] Tapas059 commented on #811
Thank you @hsluoyz and @closetool  . Let me try out

[2021-06-09 07:48] hzliangbin opened #813 "[Question]how to support Multi-tier tenants"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
Casbin supports [RBAC with Domains](https://casbin.org/docs/zh-CN/rbac-with-domains).
In my scenario, i have tenants as first-class domain. In t

[2021-06-09 08:39] remyduthu opened #814 "The `index` parameter is not used by the `DeleteDomains(...)` method"
It seems that the `DeleteDomains(index int, domains ...string)` method does not use the `index` parameter anymore. Could it be removed?

https://github.com/casbin/casbin/blob/bdee23aafb01ac406e1efc9265f94528a840699d/rbac_api_with_domains.go#L121

[2021-06-09 09:15] hsluoyz commented on #811
@Tapas059 what language do you use? This repo's issues are for Go.

[2021-06-09 09:25] Tapas059 commented on #811
Hi @hsluoyz , I am using Node-Casbin . So, i have issue with Node-Casbin . Sorry for the confusion .

[2021-06-09 09:30] hsluoyz commented on #811
@Tapas059 we added the docs for "in" (https://casbin.org/docs/en/syntax-for-models#speical-grammer) but that's mostly for Go, I will redirect it.

[2021-06-09 12:55] Tapas059 commented on #811
Hi @hsluoyz , Any suggestion about node-casbin for above example ?

[2021-06-10 10:52] hsluoyz commented on #813
@closetool

[2021-06-10 12:48] hsluoyz commented on #814
@closetool remove index as a fix commit.

[2021-06-11 12:04] #814 closed

[2021-06-11 16:25] harveyappleton commented on #419
Hey @Tapas059 - I added a custom matcher function - this one from Lodash [https://lodash.com/docs/4.17.15#isMatch](url)

eg
[code]

Tbh though Casbin is really designed for string matching. I'm bending it to my will here and using a lot of `JSON.stringify` and `JSON.parse` to make it work, so it's not the most ideal solution.

[2021-06-12 02:50] closetool commented on #813
Hi @hzliangbin thanks for chosing casbin. In your scenario, you need namespace but domain has been used. You could using `KeyMatch`.
https://github.com/casbin/casbin/blob/master/examples/keymatch_policy.csv
https://github.com/casbin/casbin/blob/master/examples/keymatch_model.conf

[2021-06-12 10:33] cnwangjie opened #816 "[Question] Whether planning support to load related policy from storage when process enforce?"
Hi, @hsluoyz.

I'm learning Casbin recently. It made a really good abstract for authorization. But I noticed it need to load all policies in memory and need to travel all policies instead use some data structure to improve search policy for a request. So I think it is suitable for a single instance service or a single tenant system, right? It's hard to imagine using it in a multi-tenant SaaS.

I t

[2021-06-12 11:09] hsluoyz commented on #816
@cnwangjie see:

https://casbin.org/docs/en/policy-subset-loading

https://casbin.org/docs/en/performance

[2021-06-13 08:18] cnwangjie commented on #816
@hsluoyz, thanks for your reply.

I've read these docs. You mentioned doing sharding for Casbin enforcer and gave an example for this. But he is still not applicable in many cases, although can solve some cases.

For smaller shard in one instance, a tenant can be treated as an obj and we only load the data related by one tenant in an instance. But in extreme cases it may still contain a huge numbe

[2021-06-13 14:25] hsluoyz commented on #816
@cnwangjie you can write your own adapter to fulfill your special need, just need to follow our adapter interface. If it's open-source, we are also happy to put it into the official site.

[2021-06-15 10:55] elissa2333 opened #817 "[Bug] casbin 2.30.3 an unexpected error occurred in the custom function"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:

An error occurred when updating the version to 2.30.3

**Expected behavior**
No error is reported at the end of program execution

**Version Information**
golang 1.16.4
casbin 2.30.3

[2021-06-15 10:57] elissa2333 commented on #817
[test.zip](https://github.com/casbin/casbin/files/6655035/test.zip)
Reproduce the code

[2021-06-15 12:17] hsluoyz commented on #817
@closetool

[2021-06-15 12:49] hsluoyz commented on #817
@nodece any comment?

[2021-06-15 13:03] hsluoyz commented on #813
@hzliangbin

[2021-06-15 13:43] closetool commented on #817
https://github.com/casbin/casbin/blob/aeeb9e6854e26bdbe22145e212b92c930df3036d/enforcer.go#L285
For this line, it will convert `_` to `.`. It my fault, I'll fix it.

[2021-06-16 01:48] nodece commented on #817
@hsluoyz @elissa2333 I made a PR: #819

[2021-06-16 13:10] ColmBhandal commented on #113
Just a thought. It would probably be less complicated to escape if we typed the argument at the policy definition level rather than the policy rule level. Since policy rules are storing the actual values of items, then yeah, I'd imagine escaping would be a bit complicated. But for policy definitions, we're just defining variable names, and in that case surely it would be OK for Casbin to reserve s

[2021-06-17 08:55] hsluoyz commented on #778
Closed as stale.

[2021-06-17 08:55] #778 closed

[2021-06-19 15:26] hsluoyz commented on #423
Based on: https://graphql.org/code/#go , we will first make middlewares for:

https://github.com/graphql-go/graphql

https://github.com/99designs/gqlgen

[2021-06-19 15:27] hsluoyz commented on #423
@closetool

[2021-06-19 15:35] hsluoyz commented on #813
Closed as resolved.

[2021-06-19 15:35] #813 closed

[2021-06-19 15:36] hsluoyz commented on #816
Closed as resolved.

[2021-06-19 15:36] #816 closed

[2021-06-21 20:54] Sefriol commented on #718
I actually want to spice up this question a little bit:

What I have been using for an year is a hierarchical authz model where domains have hierarchy, but roles too.

What I have been using is model like this:
[code]
with example set of policies:

[code]
where I would assume that domain1 > domain2. However with following examples it does not work:
[code]
However, if I change it a little bit, it d

[2021-06-22 01:27] hsluoyz commented on #718
@closetool

[2021-06-22 02:41] #423 closed

[2021-06-22 05:42] natsukagami opened #820 "[Bug] `initRmMap` overriding custom `RoleManager`s with the default one"
**Describe the bug**
`enforcer.initRmMap` is overriding the custom `RoleManager` with the default one.
This function is used in numerous places, including `enforcer.initialize` and whenever `LoadPolicy` is run, if `autoBuildRoleLinks` is enabled.

This change was introduced in
https://github.com/casbin/casbin/commit/8e99d455df8d6cf7fcfe913a793c88e76568c138#diff-52fa32ffe98987501702e518f1b8ed9404f4

[2021-06-22 06:55] hsluoyz commented on #820
@closetool @tangyang9464

[2021-06-22 11:43] hsluoyz commented on #820
@natsukagami we will revert the PR: https://github.com/casbin/casbin/pull/819 first

[2021-06-22 11:46] hsluoyz commented on #820
@closetool I can't auto-revert the PR: https://github.com/casbin/casbin/pull/819  can you manually revert it?

[2021-06-23 02:27] closetool commented on #718
@Sefriol Which version are you using?
My result shows that `alice, domain2, data2, read` is always to be false, and I thought that's right.
Role inheritance relays on string replacement. This means, policy for alice only has one piece, `alice, domain1, data1, (read|write)`.
[code]
This model is quite complex.

[2021-06-23 18:37] sagilio commented on #781
@hsluoyz
1. This issue is mainly about the performance of `buildRoleLinks(AddLink)`, there is already a cache for `HasLink`.
2. The times of invoking `KeyMatch4` change from `p * d * r * (1 - 4)` to `p * d * r * (1 - 2)`. But it will reduce half of the regex compile time.
3. I have written a test for this case, the real performance gain is about 35%, not up to orders of magnitude (10x). This resul

[2021-06-23 18:51] sagilio commented on #781
@giefferre According to your example, `AddNamedMatchingFunc` may be unnecessary, Need you use the `keyMatch4` between subjects and roles or users?

[2021-06-23 21:52] Sefriol commented on #718
Results described above are produced with Node-Casbin (latest) or CasbinJS provided by the website.

I guess the idea would be that if alice is an admin in domain1 and domain1 has dominance over domain2, alice should have admin rights for domain2 as well.

[2021-06-24 03:16] closetool commented on #718
@Sefriol I tried it with website enforcer, and the result shows below, it still to be false.
![image](https://user-images.githubusercontent.com/52988625/123197060-8e962e80-d4dd-11eb-8fe3-f1acd2df7681.png)

[2021-06-24 03:30] closetool commented on #718
@Sefriol I must tell you casbin behaves as expected, the result is right.
role inheritance will only replace matched string in `p` section, so this model policy will not work as you expected.

[2021-06-24 07:57] Sefriol commented on #718
`alice, domain1, data2, read` will be true though and I am wondering whether it is possible to generate model which says that `alice, domain2, data2, read` is true.

[2021-06-24 11:24] #820 closed

[2021-06-24 11:25] hsluoyz commented on #817
Re-opened owing to: https://github.com/casbin/casbin/pull/822

[2021-06-24 11:25] hsluoyz commented on #791
Re-opened owing to: https://github.com/casbin/casbin/pull/822

[2021-06-29 09:09] Zxilly opened #825 "[Feature Request] filter in FilteredAdapter can not work with multipie role manager"
https://github.com/casbin/casbin/blob/77c6eb2379abd3e68fee339c62ffca532c65b8c2/persist/file-adapter/adapter_filtered.go#L36-L39

It cannot be used to filter `g2,g3...` policies.

[2021-06-29 11:40] hsluoyz commented on #825
@closetool @tangyang9464

[2021-06-30 03:08] closetool opened #827 "[Feature] specification for adapter is wanted"
Casbin has many adapters. But their implementations has a lot of differences, like `ptype` and `p_type`, `casbin_rule` and `casbin_rules`. This is not good for development, we need to make a specification for it.

[2021-06-30 03:08] closetool commented on #827
@Zxilly @nodece @hsluoyz

[2021-06-30 03:28] Zxilly commented on #827
yes, also like filter has many implemetation. We must make a standard.

[2021-06-30 05:54] hsluoyz commented on #827
@closetool we already had a conclusion for this:

1. https://github.com/casbin-rs/diesel-adapter/issues/17#issuecomment-770909065
2. https://github.com/casbin-rs/diesel-adapter/pull/58#issuecomment-769847842

Plz document this in our official site.

[2021-07-01 09:01] #791 closed

[2021-07-01 09:01] #817 closed

[2021-07-01 13:52] hsluoyz opened #828 "Support Casbin as a new policy engine for CoreDNS policy plugin"
We need to add a Casbin policy engine to: https://github.com/coredns/policy#policy-engine-plugins by making a PR to their repo.

![image](https://user-images.githubusercontent.com/3787410/124135651-998d2800-dab6-11eb-8988-af7bb1251249.png)

[2021-07-01 13:53] hsluoyz commented on #828
@closetool @tangyang9464

[2021-07-01 14:00] tangyang9464 commented on #828
I‘ll try it

[2021-07-02 01:35] kizjig opened #829 "[Question] How can I improve my model to make enforce() execution faster?"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
I want to know if I've made an inefficient model compared to with what would be considered an optimal casbin model given my requirements?

My mo

[2021-07-02 03:47] dollarkillerx opened #830 "[Bug] Concurrency add user authorization fatal error: concurrent map writes"
casbin version:  2021-07-02 master branch
go version:  go1.14.15 linux/amd64

test code:
[code]

error:
[code]

[2021-07-02 03:58] dollarkillerx commented on #830
batch 2.x    Also there is a problem

[2021-07-02 03:59] hsluoyz commented on #830
@closetool @tangyang9464 plz resolve it as first priority.

[2021-07-02 04:13] closetool commented on #830
@hsluoyz @dollarkillerx Should use `SyncedEnforcer`.

[2021-07-02 07:22] hsluoyz commented on #830
@dollarkillerx see also: https://casbin.org/docs/en/multi-threading

[2021-07-02 07:22] #830 closed

[2021-07-02 13:16] #825 closed

[2021-07-03 03:41] tangyang9464 commented on #828
@hsluoyz @closetool sry,After some attempts,I still don’t know how to do this.

[2021-07-03 04:39] closetool commented on #828
@tangyang9464 Ok, I'll take it, could you take this one https://github.com/casbin/tidb-adapter/issues/1.

[2021-07-03 05:45] tangyang9464 commented on #828
ok

[2021-07-03 15:31] merajsahebdar opened #831 "[Question] Prioritizing based on role and user hierarchy level"
**What's your scenario? What do you want to achieve?**
As I read in documents, by default Casbin designed to prioritize rules by given definition order (1); and also there is a way to add priority in rules definitions (2). But what I need in my app is to be able to prioritize by roles/users levels; and as levels could be infinite, I can't use the (2) approach, cause in every change I need to chang

[2021-07-04 01:30] hsluoyz commented on #831
@merajsahebdar can you give a concrete example for this?

[2021-07-04 01:33] hsluoyz commented on #831
@closetool @tangyang9464

[2021-07-04 03:10] tangyang9464 commented on #831
@merajsahebdar In your example, just change the priority can solve it. Do you have any other specific examples？

[2021-07-04 05:58] closetool commented on #831
@merajsahebdar
`p, editor, posts, remove, deny` and `g, jane, editor` denied your request `jane, posts, remove`

[2021-07-04 15:56] merajsahebdar commented on #831
@hsluoyz @tangyang9464 @closetool

As I've described in my question, this is the structure we have:
[code]

However, I know we can easily pass the priority in policy definitions like this:
[code]
But in cases that we have more than one level like this:
[code]
It could be hard to manage those priority numbers, cause in some cases we don't know how many levels do we have? and by editing and changing

[2021-07-05 02:16] tangyang9464 commented on #831
@hsluoyz @closetool Can we use ``g, jane, editor
g, john, subscriber`` to determine the priority of the user or role ,which means to develop a new method like ``SortPoliciesByPriority``?

[2021-07-05 02:31] closetool commented on #831
@merajsahebdar  I didn't get it, could you demonstrate it with a well designed example?

[2021-07-05 15:09] merajsahebdar commented on #831
@closetool Ok.

[code]

[code]

I expect line: 2, rewrites line: 1 automatically.

---

[code]

---

@tangyang9464 or maybe a method like: `SortPoliciesBySubjectHierarchy`?!!

[2021-07-05 15:19] tangyang9464 commented on #831
@merajsahebdar ok，I will try to make a pr

[2021-07-05 15:41] merajsahebdar commented on #831
@tangyang9464 Thanks, then let me know for any help! 🙏🏻

[2021-07-06 02:43] ziranl16 opened #832 "[Question] When to refresh cache in enforcer_cached"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**

Hi, I was trying to used the cached version of enforcer in casbin, but I am a little confused about cache refreshing. It seems from the `enforc

[2021-07-06 03:29] hsluoyz commented on #832
@closetool @tangyang9464

[2021-07-06 03:40] ziranl16 commented on #832
Hi @hsluoyz, thanks a lot for ur fast reply. just another small suggestion here, wondering if it would be even better if we set a survival time for the cache record. So this preserves the consistency of data in the worst case, if `invalidateCache` fails or have errors.

[2021-07-06 04:09] sagilio commented on #832
Casbin now only clears the cache when calling `e.InvalidateCache()` manually, I think we can support to auto-call `e.InvalidateCache()` when the policy changed firstly, and this can provide a little more efficient experience as you said.

For more features such as survival time, we can try to provide a cache interface to use some exist common cache lib like a plugin.

[2021-07-06 04:52] ziranl16 commented on #832
seems good to me

[2021-07-06 05:35] kizjig commented on #829
I've investigated this question a little bit further and found that using the `matchingDomainForGFunction` with `KeyMatch4` was very slow on my large dataset. And that I could achieve what I was after using the much simpler `KeyMatch` function instead. Enforce call duration has dropped from ~20 seconds down to ~19 milliseconds with this change.

If I didn't have my super user/domain wildcard requi

[2021-07-06 05:43] hsluoyz commented on #829
@closetool @tangyang9464

[2021-07-06 10:37] mrbardia72 opened #834 "We have a method that gives the presence or absence of a role That is, it has a word parameter and it has a role"
We have a method that gives the presence or absence of a role
That is, it has a word parameter and it has a role

[2021-07-06 13:24] closetool commented on #829
@kizjig You may want to check this pr.
There two main reason slow donw your enforce() execution.
1. AddLink has time complexity of O(N^2).
2. KeyMatch4 uses regex, and it needs to compile in every execution.

[2021-07-06 13:36] hsluoyz commented on #834
@closetool @tangyang9464

[2021-07-07 01:34] hsluoyz commented on #829
@closetool which PR?

[2021-07-07 08:29] tangyang9464 commented on #834
@mrbardia72 Do you mean you need a method to determine whether the role exists?
Could you describe it in detail？

[2021-07-07 10:07] sagilio commented on #829
@kizjig #801 has reduced the code logic add match cache to improve the performance. Can you have a try this version?

[2021-07-07 12:22] closetool commented on #834
@mrbardia72 Does this method satisfy your requirement?
https://casbin.org/docs/en/rbac-api#hasroleforuser

[2021-07-07 13:39] mrbardia72 commented on #834
I want a method to take only one input
And that input is the role and in the output tell whether this role exists or not
Note: Take only one input, that input also plays a role

[2021-07-07 13:40] mrbardia72 commented on #834
No, this is not the way
I want a method to take only one input
And that input is the role and in the output tell whether this role exists or not
Note: Take only one input, that input also plays a role

[2021-07-07 13:42] mrbardia72 commented on #834
@tangyang9464 @tangyang9464 @hsluoyz
‍‍‍```
For example, something like the following
e.hasrole ("role: admin)
Which returns true or fasle output
[code]

[2021-07-07 13:58] sagilio commented on #781
The performance of the current version has a good improvement (#801), in my test cases, the real performance gain is about 6400%. Can you have a try on this version?

[2021-07-08 15:35] #781 closed

[2021-07-08 15:35] #829 closed

[2021-07-09 04:43] hsluoyz commented on #834
@mrbardia72 if you only use `g`, you can use this API: https://casbin.org/docs/en/management-api#getfilteredgroupingpolicy

If you use `g2` and more, you can use this instead: https://casbin.org/docs/en/management-api#getfilterednamedgroupingpolicy

[2021-07-09 04:43] #834 closed

[2021-07-09 11:36] mrbardia72 commented on #834
@hsluoyz No, this is not the answer to my question

[2021-07-09 12:35] hsluoyz commented on #834
@mrbardia72 can you describe a little more about it?

[2021-07-09 16:20] hsluoyz commented on #832
@closetool @tangyang9464 plz work on these two features:

1. Invalidate a specific key for a policy change (add, remove, update, etc.).
2. Invalidate a specific key by its expire time.

@ziranl16 is this correct?

[2021-07-09 16:46] ziranl16 commented on #832
Hi @hsluoyz ! Yup I think it would be a great idea from my humble opinion haha

[2021-07-09 16:50] wgarunap opened #835 "[Feature] Multiple policy definitions"
I am referring https://casbin.org/docs/en/syntax-for-models#policy-definition
similar question thread https://github.com/casbin/casbin/issues/720

Currently I am using all in one policy line for RBAC and ABAC which is lengthy and little messy.
[code]

I think having multiple policy definitions can make the implementation more clear and efficient. As a example

**My Expected Model :**
[code]

**My

[2021-07-09 17:31] hsluoyz commented on #835
@closetool @tangyang9464 plz implement this feature.

[2021-07-10 05:17] mrbardia72 commented on #834
@hsluoyz I solved the problem, I came with a function, I took all the roles, then I came in a presentation and searched whether there is a role or not.
I did this in the golang programming language

[2021-07-10 06:33] hsluoyz commented on #834
Good to hear it's resolved!

[2021-07-10 15:00] tangyang9464 commented on #835
@wgarunap your request params must corresponding request_define.
But in your example,you have two kind of request

@hsluoyz @closetool this means we need r2 if the example request don't change？

[2021-07-10 15:10] wgarunap commented on #835
@tangyang9464
Ideally there should be multiple request types and multiple policy types.

[2021-07-10 15:13] tangyang9464 commented on #835
@wgarunap I think so.I'll try to make it more generic

[2021-07-13 15:08] #832 closed

[2021-07-13 15:15] ziranl16 commented on #832
Thank u so much guys! 👍

[2021-07-13 15:29] #831 closed

[2021-07-15 03:53] tangyang9464 commented on #831
@merajsahebdar The part of our docs about this feature refers to your statement.Let you know.See [#254](https://github.com/casbin/casbin-website/pull/254)

[2021-07-15 07:46] Pyav123 opened #840 "Casbin in multithreaded manner"
For Performance Optimization, multithreading is given as an option in casbin documentation, but the document isn't telling how we can use casbin in multi threading manner. Any example on how multithreading can be achieved? Can anyone suggest me how it can be implemented ?

[2021-07-15 12:45] hsluoyz commented on #840
![image](https://user-images.githubusercontent.com/3787410/125790247-9f728922-c753-4358-8cd1-d52f08f56f74.png)

See: https://casbin.org/docs/en/multi-threading

[2021-07-15 12:46] #840 closed

[2021-07-15 12:59] SgtDaJim opened #841 "[Bug] It is impossible to define my own group name"
In my code, I new a model as below:
![image](https://user-images.githubusercontent.com/10288044/125790729-90037915-c3db-4845-9afd-08bdeb97413e.png)
and the Enforcer is normally initialized.
But when i call the function AddRoleForUserInDomain of Enforcer, it panic:
![image](https://user-images.githubusercontent.com/10288044/125791127-907538d0-ddc2-42d1-bf44-c41eae36d9a6.png)
After I check the code,

[2021-07-15 15:08] hsluoyz commented on #841
@closetool

[2021-07-15 15:49] closetool commented on #841
@SgtDaJim Thanks for your suggests. Your are right, casbin supports custom group name in core codes. But in some edge codes, they cann't support this feature. Because method signature does not satisfy its requirement.
So I suggest you using the core methods, such as AddNamedGroupingPolicy, or change group name to 'g'.

[2021-07-15 16:52] SgtDaJim commented on #841
So how can i distinguish the core methods and the edge methods? I don't think i read about it on docs

[2021-07-17 02:40] closetool commented on #841
@SgtDaJim Methods in file management_api and rbac_api are most likely to be the edge.

[2021-07-17 03:06] hsluoyz commented on #841
@SgtDaJim AddDef()'s first arg is "sec", it can be "p" or "g". The second arg is "ptype" (or "key").

For sec "g", its ptype is usually "g" or "g2" or "g3", etc. Most RBAC APIs will use "g" ptype by default. But you changed the ptype to "sub_group". This is why your code doesn't work. To resolve it, either:

1. Use "g" instead of "sub_group" as ptype.
2. Use the "xxxNamedxxx" APIs in Management AP

[2021-07-17 03:06] #841 closed

[2021-07-17 09:19] tuchuants commented on #816
Since casbin suggests to use a low-number-policies pattern, I think what make sense is a load-at-runtime role manager rather than a complex adapter. Loading all users and roles relations into the memory of every instance is quite unacceptable when there are millons of users in the database.

[2021-07-18 17:42] fahussain opened #842 "matchingForGFunction in nodejs"
First of all it's a wonderful library and thank you so much for sharing it with us.

I am trying to implement RBAC with domains and 'all' patterns matching using nodejs but I have not been able to figure out how to tell casbin to use which function for g matching. In the online editor I see that I need to specify:

[code]
but I don't know how and where I need to pass this config. Any help would be

[2021-07-18 20:17] sagilio commented on #842
You can find it at: https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac
https://github.com/casbin/node-casbin/blob/6f46f49769c428ed9b46c87e95c801699d4aa53e/src/rbac/defaultRoleManager.ts#L161

[2021-07-18 23:15] fahussain commented on #842
@sagilio Thank you for your answer. I had two named grouping functions so I ended up using:

[code]

I think it would be nice if this was in the documentation too.

[2021-07-19 15:07] piecego opened #843 "How to use function pass multiple params in policy？"
**Your model:**

[code]

**Your policy:**

[code]

**Your request(s):**

[code]

I cannot use the `roleMatch('Author', r.sub.Roles)`, It says `Unclosed ( at character 75` after run the test, I guess it conflict with policy separator, How should i solve this problem?

[2021-07-19 15:44] hsluoyz commented on #843
@closetool @tangyang9464

[2021-07-20 01:53] piecego commented on #843
I use space instead of comma, it works.

[2021-07-20 02:07] tangyang9464 commented on #843
@piecego
Why don't you use it like this ``m = roleMatch('Author', r.sub.Roles)``
now ``p, roleMatch('Author', r.sub.Roles), d01, /data1, read`` is use ``,`` as the separator.So ``roleMatch('Author', r.sub.Roles)`` cannot be recognized as a whole

[2021-07-20 02:39] piecego commented on #843
@tangyang9464 Because it is dynamic.

[2021-07-20 09:40] t5ujiri opened #844 "[Bug] keyGet2 in matchers not working as expected"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Describe the bug**
keyGet2 in matchers is not evaluated correctly

**To Reproduce**
Steps to reproduce the behavior:
I want to implement RBAC with domain.
What I tried is,
- policy.csv
[code]

- mo

[2021-07-20 11:34] hsluoyz commented on #844
@closetool @tangyang9464

[2021-07-20 13:44] tangyang9464 commented on #844
@t5ujiri
Do you test the case in Go code?After my test, Go-casbin can work but the online editor is false.I think it may be online editor's error.

[2021-07-20 13:48] closetool commented on #844
@tangyang9464 @t5ujiri Modify `getKey2` -> `keyGet2`

[2021-07-20 13:50] tangyang9464 commented on #844
I forgot to say that.But I test the case use ``keyGet2`` not ``getKey2``

[2021-07-20 14:04] tangyang9464 commented on #844
@closetool
I want to know if online editor depends on node-casbin (or casbin.js) instead of Go-casbin?

[2021-07-20 14:43] hsluoyz commented on #843
@piecego what do you mean by this?

[2021-07-20 15:33] piecego commented on #843
`p, roleMatch('Author' r.sub.Roles), d01, /data1, read`

Use space symbol in after `'Author'`

[2021-07-21 05:08] t5ujiri commented on #844
@tangyang9464 @closetool Thank you for the quick response.
As I fixed the `keyGet2` part, it worked in Go code gracefully but still not in online editor.
[![Image from Gyazo](https://i.gyazo.com/d1d586a4c638c2b26ba526a7a985ad37.png)](https://gyazo.com/d1d586a4c638c2b26ba526a7a985ad37)

[2021-07-21 05:12] t5ujiri commented on #844
@closetool @tangyang9464
Here's the capture of online editor with fixed policy showing unexpected result.
The same policy and request worked gracefully in Go code.
[![Image from Gyazo](https://i.gyazo.com/4e5e4a81dc58bc142509c2ebde042779.png)](https://gyazo.com/4e5e4a81dc58bc142509c2ebde042779)

[2021-07-21 06:01] tangyang9464 commented on #844
maybe online editor depends on the node-casbin instead of Go-casbin

[2021-07-21 15:29] closetool commented on #843
@piecego In fact, we don't know why it works, cause it shouldn't be.
Casbin parses csv file through https://pkg.go.dev/encoding/csv, you can find escape grammer here.
So the recommanded policy should be like this
[code]

We will add this into docs too

[2021-07-21 15:51] closetool commented on #844
cc: @Zxilly

[2021-07-21 23:51] #843 closed

[2021-07-22 02:55] Zxilly commented on #844
@closetool I think node-casbin didn't have `keyGet2` right now. I will later add it.

[2021-07-22 06:14] hsluoyz opened #845 "Optimize the performance when listing permissions"
We need to analyze the user scenario and see how to optimize the performance.

1. https://github.com/devtron-labs/devtron/issues/596
2. https://github.com/devtron-labs/devtron/pull/598

[2021-07-22 06:14] hsluoyz commented on #845
@closetool @tangyang9464

[2021-07-23 12:22] Vlado90 opened #846 "Access roles from code or enable wildcard search"
Hi,

is it possible to add method(s) to access roles (g and g2 rows) from code, or to perform a wildcard search? Currently i can not find any way to perform such task.

Thanks.

[2021-07-23 14:21] hsluoyz commented on #846
Hi @Vlado90 , see: https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac

[2021-07-24 02:49] closetool commented on #845
@hsluoyz @tangyang9464 I found that devtron still using casbin v1, and it uses dep manage dependencies
I try to update dependency for it, but suffered network errors.
[code]
@tangyang9464 Could you try to update this dependency?

[2021-07-24 02:50] hsluoyz commented on #845
@closetool plz ask them to update to Go Modules first.

[2021-07-25 15:08] twgcode opened #849 "Ask a question about how to associate users and roles simultaneously in RBAC, and how to associate user groups and roles"
I would like to ask casbin a question about how the model file is defined
1. User Association Role
2. User Association User Group
   User groups can also be associated with roles
3 Finally, use roles and resources + actions to associate

p, admin, data1, read
p, admin, data1, write
p, default, data, read

g, user1, admin
g, use2, admin
g, user_group, admin
g2, user3, user_group

The final goal use

[2021-07-25 15:25] hsluoyz commented on #849
@twgcode plz use English in issue title and text.

[2021-07-26 08:29] tangyang9464 commented on #849
@twgcode
What is the difference between using g2 and not using g2, for solving user and user group?
I can't understand how you handle the relationship between the user and the user group in your program?

[2021-07-26 08:31] tangyang9464 commented on #849
@twgcode By the way,please edit your issue title in English

[2021-07-26 08:35] twgcode commented on #849
The title has been updated

[2021-07-26 08:42] twgcode commented on #849
I didn't know much about caspin model before. After asking others yesterday,

I've learned that role inheritance / role hierarchy in caspin can be used to solve this problem.

https://casbin.org/docs/en/rbac#role-hierarchy

[2021-07-26 08:42] #849 closed

[2021-07-26 08:45] tangyang9464 commented on #849
@twgcode ok.But it's ``casbin`` not ``caspin`` :smile:

[2021-07-26 10:35] twgcode commented on #493
When will this feature be released
https://github.com/casbin/casbin/pull/723

[2021-07-26 10:43] hsluoyz commented on #493
@closetool @tangyang9464 plz work on this

[2021-07-26 19:36] nguyenpc opened #850 "[Question] What is the best model for policy Inheritance"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
We are trying to build an authorization system for an SaaS platform. On that platform, there will be hierarchy organizational structure which is

[2021-07-27 04:50] hsluoyz commented on #850
@closetool @tangyang9464

[2021-07-28 17:40] stickystyle opened #851 "Really confused about how to implement resource roles"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**

I've been trying to get this figured out for the last week, and I just cannot wrap my head around it - so I'm reaching out for any possible ass

[2021-07-29 21:14] stickystyle commented on #851
Changing my policy and conf file to remove `g2`, I am able to have my requests resolve with the expected results.

[code]

[code]

[2021-07-30 10:04] Sefriol commented on #718
@hsluoyz So, do you think this problem is solvable by Casbin? I think this is pretty typical use case of hierarchical RBAC where you do not want to define global role hierarchy into each domain.

General idea woudl be pretty similar to the original question:

- global domain
- - subdomain1
- - - lowersubdomain1
- - subdomain2

1. So if `alice` is an `admin` in `global domain`, she should be an `ad

[2021-07-30 14:07] fracartdev opened #852 "[Question] Domain API not working?"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
I'm trying to work on a RBAC with Domains system, I'm using the default configuration from the editor, but all the API commands for the domains

[2021-07-30 15:28] hsluoyz commented on #852
@closetool @tangyang9464

[2021-07-31 03:12] tangyang9464 commented on #852
@fracartdev After my test, ``e.DeleteDomain("domain1")``  return true.
There may be a problem with your db.Plz provide more information so that I can reproduce the error

[2021-07-31 03:26] closetool commented on #852
@tangyang9464 Can I have your source code, you said you use the default adapter, but the default adapter could not operate postgresql.

[2021-07-31 03:31] tangyang9464 commented on #852
No,I just test with the file.

[2021-07-31 06:25] fracartdev commented on #852
This is how I init the app

[code]

then I add some default groups and policies

[code]

and eventually the DB table named "casbin" looks like this
![image](https://user-images.githubusercontent.com/78350360/127730887-afcadd3e-0b03-4ea5-be7a-02daff91cdfa.png)
![image](https://user-images.githubusercontent.com/78350360/127730917-9d6d56b5-00e0-46a9-b989-408ae436ec22.png)

If I then try to `Enforcer.

[2021-07-31 06:29] closetool commented on #852
@fracartdev These's redundant right parenthesis at end of your matcher.
 `m = g(r.sub, p.sub, r.dom) && r.dom == p.dom && r.obj == p.obj && r.act == p.act)`

[2021-07-31 06:30] fracartdev commented on #852
A typo while I was bringing the code here :) it's not in the source code

[2021-07-31 07:03] closetool commented on #852
@fracartdev Test with your source code, and it seems everything runs well.
[code]
result is:

[code]

[2021-08-04 03:20] ErikXu opened #855 "[Question] Result is not matched to the editor in golang program when using RBAC with domain and pattern"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
My golang code should be the same with the online editor, but they show different results.

**Your model:**

[code]

**Your policy:**

[code]

*

[2021-08-04 05:33] hsluoyz commented on #855
@closetool @tangyang9464

[2021-08-04 06:08] #835 closed

[2021-08-04 09:33] ErikXu commented on #855
I had tried in another two languages, nodejs and dotnet. The results are different either.

**dotnet code:**

[code]

**nodejs code:**

[code]

The problem might be due to the different handling or result for `GFunction`.

Nodejs will call [generateTempRoles](https://github.com/casbin/node-casbin/blob/master/src/rbac/defaultRoleManager.ts#L299) to generate temp roles for domain, while the other tw

[2021-08-04 10:55] ErikXu commented on #855
Just for curious, the `GFunction` in golang seems to be called for more times than in dotnet.

**model:**

[code]

**policy:**

[code]

**golang:**

[code]

**golang output:**

[code]

**dotnet:**

[code]

**dotnet output:**

[code]

[2021-08-04 11:08] hsluoyz commented on #855
@ErikXu can you put this in another issue? So they can be handled separately.

[2021-08-04 14:29] ffyuanda opened #856 "[Feature]Add the Casbin SVG icon to Font Awesome"
**Is your feature request related to a problem? Please describe.**
Yes. I need a Font Awesomeicon for Casbin to use in third-party website.

**Describe the solution you'd like**
Upload the icon (make a PR) to Font Awesome.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-08-04 14:30] ffyuanda commented on #856
@hsluoyz can add the icon to use in Odoo development (would be better if we have one)

[2021-08-04 14:36] tangyang9464 commented on #855
@ErikXu I test the first example in online editor, but the result is false?
![image](https://user-images.githubusercontent.com/45587763/128200219-6bb813ef-28f8-4ec7-bdf4-030904db1178.png)

[2021-08-04 15:15] hsluoyz commented on #856
@ffyuanda see:

1. https://github.com/casbin/static , the static resource lib, including images
2. https://door.casbin.com/applications , some images in use

[2021-08-05 01:29] ErikXu commented on #855
@tangyang9464 Did you set the `matchingDomainForGFunction` function as the highlight shows in the previous screenshot?

![image](https://user-images.githubusercontent.com/6275608/128116604-7d364675-f480-43af-a5fe-e4471580062d.png)

[2021-08-05 01:31] ErikXu commented on #855
@hsluoyz ok, I will try to open another issue. But I think it's just an enhancement. 😃

[2021-08-05 01:44] ErikXu commented on #855
@tangyang9464 As I mentioned before, I think we should implement the [generateTempRoles](https://github.com/casbin/node-casbin/blob/master/src/rbac/defaultRoleManager.ts#L299) for `GFunction` in golang. I am trying to do so, but the progress should be slower than yours, as the code and logic written in nodejs is a little difficult for me. 😃

[2021-08-05 01:58] ErikXu opened #857 "[Question]The GFunction in golang seems to be called for more times than in dotnet (C#)."
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
`GFunction` in golang seems to be called for more times than in dotnet (C#), The calling times might be the same.

**Your model:**

[code]

**Yo

[2021-08-05 04:03] hsluoyz commented on #857
@closetool @tangyang9464

[2021-08-05 09:24] closetool commented on #857
@ErikXu I wonder what's the output after GFunction? Can I have your code?

[2021-08-05 09:28] closetool commented on #855
@ErikXu I don't think it is needed, for there's cache in golang version. https://github.com/casbin/casbin/blob/b6f62112061bd1b6b0163e4428423dac3cb4e092/util/builtin_operators.go#L311

[2021-08-05 09:44] closetool commented on #850
@nguyenpc Something like this?

model.conf
[code]

policy.csv
[code]

requests and results
[code]
[code]

[2021-08-05 11:06] ErikXu commented on #857
@closetool I pasted my code when openning the issue, please check.

[2021-08-05 11:24] closetool commented on #857
Sure, but I need to know what are these
[code]

[2021-08-05 13:22] ErikXu commented on #857
@closetool These are the tracing logs of `GFunction`. I added some codes to the source code of casbin. Please refer:

**golang:** [here](https://github.com/ErikXu/casbin/commit/29fdfd106fabea83cac5c6d920e260a96c61ca52?branch=29fdfd106fabea83cac5c6d920e260a96c61ca52&diff=unified)

![image](https://user-images.githubusercontent.com/6275608/128356719-f09a70da-4c42-460e-bbab-d805b9d8de66.png)

**dotne

[2021-08-05 13:50] sagilio commented on #857
The Casbin.NET RBAC data structure is a little different with golang casbin, and IChainEffector will support short-circuit better.
I think this case is the cause of IChainEffector, it will less call calculate expression when the effect is `e = some(where (p.eft == allow))`.

[2021-08-06 01:28] ErikXu commented on #857
@sagilio Thanks for your explanation. It's reasonable!

[2021-08-06 01:28] #857 closed

[2021-08-06 02:32] sagilio commented on #855
We use `generateTempRoles` on the old version.

Casbin.NET remove it at the PR: https://github.com/casbin/Casbin.NET/pull/160,it about this issue https://github.com/casbin/Casbin.NET/issues/156

Casbin (golang) remove it at this PR https://github.com/casbin/casbin/pull/702, about issue is https://github.com/casbin/casbin/issues/701

[2021-08-06 02:36] sagilio commented on #855
Casbin.NET has this cache too, Is this the reason?

[2021-08-06 16:13] ffyuanda commented on #856
@hsluoyz yeah but if we can add it to Font Awesome that would be better

[2021-08-06 20:03] #851 closed

[2021-08-07 01:47] hsluoyz commented on #851
@closetool @tangyang9464

[2021-08-07 05:50] tangyang9464 commented on #855
@closetool I think the `` generateTempRoles`` method is not for cache, isn't right?

[2021-08-07 06:28] closetool commented on #855
@sagilio @tangyang9464
Unluckily, test in casbin-go, result is `false, false`, so we should fix that.

I don't think it's cache's fault, perhaps reason is the role inheritance.

[2021-08-07 06:32] tangyang9464 commented on #855
@closetool I think reason is the role inheritance,too. I found the ``default-role-manager`` has logic error.

[2021-08-07 06:59] closetool commented on #851
@hsluoyz @stickystyle It is a design limitation, https://github.com/casbin/casbin/blob/b6f62112061bd1b6b0163e4428423dac3cb4e092/rbac_api.go#L175, we could not determine which `gtype` was chosen.

[2021-08-07 07:14] hsluoyz commented on #856
@ffyuanda you can add our icons to Font Awesome as another copy. But we will still use casbin/static.

[2021-08-07 07:14] #856 closed

[2021-08-08 06:32] closetool commented on #855
@sagilio @tangyang9464 Sorry, but I guess we forgot something, we should call `BuildRoleLinks` after adding domain match function. Could you @sagilio help me test .net version?

After that, the output is `true, true`

[2021-08-11 07:16] #855 closed

[2021-08-11 08:32] ErikXu opened #860 "[Question] GetUsersForRole seems incorrect when using RBAC with domain and pattern"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
Your answer here

**Your model:**

[code]

**Your policy:**

[code]

**Your request(s):**

[code]

**golang code:**

[code]

[2021-08-11 13:01] langzhiwu opened #861 "[Question] Can the cache reload mechanism be optimized?"
please to optimize,go to the db to load data when updating the local cache, and then overwrite the local cache to make it seamless. Instead of clearing the local cache first and then loading the data

![image](https://user-images.githubusercontent.com/13376941/129033167-21c76159-68e7-4f1a-a193-754dc02788b4.png)

[2021-08-11 13:04] hsluoyz commented on #861
@closetool @tangyang9464

[2021-08-11 13:15] closetool commented on #861
@langzhiwu Sorry, I don't get what you say. Could you use google translate https://translate.google.com/

[2021-08-12 04:29] Zxilly opened #863 "[Discussion] Use [] grammar for `in` operator in matcher."
From: https://github.com/casbin/casbin-editor/issues/60

As https://casbin.org/docs/en/syntax-for-models#special-grammer says, casbin now supports `in` operator.
As for now, we have same explanation on `in` itself: It means checking whether a word exists in array.
But, we didn't have standard on how to define a array in matcher.
In GoLang, it is https://github.com/casbin/casbin/blob/277c1a2b856982

[2021-08-12 05:05] hsluoyz commented on #863
@Zxilly Golang Casbin already uses `r.obj in ('data2', 'data3')` for long time and we cannot break the API. It should be node-casbin to follow the Go way. Or at least support both for node-casbin.

[2021-08-12 07:40] ErikXu commented on #860
I've submitted a pull request https://github.com/casbin/casbin/pull/864 might fix this issue . Please help to evaluate it. Thanks.

[2021-08-12 12:34] hsluoyz commented on #860
@closetool @tangyang9464

[2021-08-12 12:48] Zxilly commented on #863
@hsluoyz Maybe we can keep `()` as an compatibility solution, but turn to `[]` internal.
This will also be helpful for other language implementation.

[2021-08-12 12:52] #860 closed

[2021-08-12 13:00] closetool commented on #863
@hsluoyz Such as replacing "[]" with "()" in matcher?

[2021-08-12 13:40] hsluoyz commented on #863
@closetool yes, maybe it works

[2021-08-13 09:08] sagilio commented on #863
It is helpful for .NET to implement the full `in` feature.

[2021-08-13 09:37] feeman89 opened #865 "[Question] How to associate the user table with the role table"
How to associate the user table with the role table

[2021-08-13 11:27] hsluoyz commented on #865
@closetool @tangyang9464

[2021-08-14 08:50] #863 closed

[2021-08-16 13:07] #861 closed

[2021-08-17 07:33] itgelo opened #867 "[Question] Policy Group"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
Is there a config or a way to use multi-policy like methods?

**Your model:**

[code]

**Your policy:**

[code]

**Your request(s):**

[code]

[2021-08-17 13:15] ComradeProgrammer opened #868 "[Bug] Integers passed into 'Enforce' is treated as strings"
**Describe the bug**
I found that integers passed into 'Enforce' are treated as strings ,which caused '<' and  '>' operators in model cannot work as users' expectation

**To Reproduce**
Steps to reproduce the behavior:
1. Use this model
[code]
2. Use the following policy
`p,default,104857600,104857600,deny`
3. Run the following golang code
[code]
4. See the following error in output
`PS D:\workspa

[2021-08-17 13:17] sagilio commented on #868
@closetool @tangyang9464

[2021-08-18 03:20] tangyang9464 commented on #867
@itgelo If you want to user ``g`` with pattern, you should use it like below
[code]
[code]
``e.AddNamedMatchingFunc`` and ``e.BuildRoleLinks()`` are important

[2021-08-18 03:22] tangyang9464 commented on #865
@feeman89 Can you give more information and describe your needs in detail ？

[2021-08-18 04:10] itgelo commented on #867
@tangyang9464 I have added `e.AddNamedMatchingFunc` and `e.BuildRoleLinks()` also model `[matchers]`. but still not working.

have you tried with a request like this with the policy I shared in question?
`alice, /alice_data, GET ---> false (expected: true)`

or can you share in casbin editor

[2021-08-18 06:13] tangyang9464 commented on #867
@itgelo What is the version of the Go-casbin you are using? I test your case is true. The version is [v2.36.1](https://github.com/casbin/casbin/releases/tag/v2.36.1)

[2021-08-18 06:19] itgelo commented on #867
@tangyang9464 I'm using version `v2.28.3`

have you tried a request like this?
`alice, /alice_data, GET ---> false (expected: true)`

with policy:
`g, alice, (alice1)|(alice2)`

[2021-08-18 06:22] tangyang9464 commented on #867
@itgelo Yes, I have tried it. Because there have been some big changes to this part of the function recently. You can test it with the latest version first.

[2021-08-18 06:22] tangyang9464 commented on #867
casbin editor depends on node-casbin, not go-casbin. There are some differences

[2021-08-18 06:23] itgelo commented on #867
@tangyang9464 Ok, I will try to upgrade first. thanks btw

[2021-08-18 06:54] itgelo commented on #867
@tangyang9464 error `domain should be 1 parameter`, v2.36.1

[2021-08-18 06:58] tangyang9464 commented on #867
@itgelo What is your code？

[2021-08-18 07:01] itgelo commented on #867
@tangyang9464 just upgrade to v2.36.1 try to run without any changes

[2021-08-18 07:07] tangyang9464 commented on #867
@itgelo I’m a little confused. Your model and policy have not changed. Can you try to debug it? I can’t reproduce it.

[2021-08-18 07:20] itgelo commented on #867
@tangyang9464 usually after upgrade version is there any other config?
Or should it be running normally?
how to debug it? I just got error message `error: domain should be 1 parameter`

[2021-08-18 07:25] tangyang9464 commented on #867
Can I have your code? My code is
[code]

[2021-08-18 07:38] itgelo commented on #867
@tangyang9464 always error with or without `e.AddNamedMatchingFunc` and `e.BuildRoleLinks()`
[code]

[2021-08-18 08:22] itgelo commented on #867
@tangyang9464 have you tried with an adapter?

[2021-08-18 08:23] tangyang9464 commented on #867
not yet

[2021-08-18 08:28] itgelo commented on #867
@tangyang9464 I think it's an error if using an adapter.
`adapter, err := gormadapter.NewAdapterByDB(dbSilent)` [v3](https://github.com/casbin/gorm-adapter/tree/v3.3.3)

[2021-08-18 08:31] tangyang9464 commented on #867
What does your database data look like

[2021-08-18 08:38] itgelo commented on #867
Postgre
![image](https://user-images.githubusercontent.com/15007559/129866430-75e1d4bb-7aa2-4ebc-a410-883ebe6a432a.png)

[2021-08-18 08:42] tangyang9464 commented on #867
@itgelo Why does your ``g`` still have ``allow``? This should be the mistake.

[2021-08-18 08:59] itgelo commented on #867
@tangyang9464 I deleted it, got the same error. `error: domain should be 1 parameter`

[2021-08-18 09:05] tangyang9464 commented on #867
@itgelo Can you export your sql data? I think there may be a problem with your data

[2021-08-18 09:07] closetool commented on #868
@sagilio @ComradeProgrammer This matcher is not supported. Could replace by `eval`, https://casbin.org/docs/en/abac

[2021-08-18 10:42] #868 closed

[2021-08-18 11:33] hsluoyz commented on #868
@ComradeProgrammer elements like `r.cpu` will be treated as string. You need to define a custom function like `parseInt()` to do type conversion.

[2021-08-18 11:49] sagilio commented on #868
@hsluoyz The custom function `ParseFloat()` has been used on this [PR](https://github.com/casbin/kubesphere-authz/pull/8)

[2021-08-18 13:11] hsluoyz commented on #865
@feeman89 Casbin has only one table, this table maintains the user-role mapping and the role-permission mapping. If you have another user entity table or role entity table. You need to make sure you use the user ID and the role ID in Casbin table.

[2021-08-18 13:12] #865 closed

[2021-08-20 02:35] douxuefeng opened #869 "[Bug] checking permission takes almost 10 seconds, it is so slow"
my code is below:

[code]

when i use it, it takes almost 10 seconds, like below:
[code]

[2021-08-20 03:19] sagilio commented on #869
If you enable the `AutoSave` option, it is unnecessary to call `LoadPolicy` every time.

[2021-08-20 04:29] hsluoyz commented on #869
@douxuefeng how many rules do you have? Do you have a bad network connection speed?

[2021-08-20 05:42] douxuefeng commented on #869
thx for reply. i use it in my local network connection. and about 205 rules

[2021-08-20 05:42] douxuefeng commented on #869
thx i will try

[2021-08-20 08:39] hsluoyz commented on #869
this is impossble. Based on our benchmark: https://casbin.org/docs/en/benchmark , 1100 rules only cost 0.16ms. There must be something wrong. Can you share the reproducable code?

[2021-08-21 07:26] douxuefeng commented on #869
yeah, i see . i have tried many times these days, i use it in my middleware, and record how long it takes .  it runs faster, about 300 mileseconds. i guess maybe it is caused by higher io and less memery , becouse i run many tasks in my local computer

[2021-08-21 12:40] hsluoyz commented on #869
@douxuefeng good. Then I think you can try the solution here: https://github.com/casbin/casbin/issues/869#issuecomment-902400000

[2021-08-21 12:40] #869 closed

[2021-08-21 12:41] hsluoyz commented on #846
Closed as resolved.

[2021-08-21 12:41] #846 closed

[2021-08-23 06:08] Frederic-Zhou opened #870 "[Bug]官方文档中似乎有错误"
在中文官方文档的Model存储章节
[code]
这段似乎是错误的
`a := model.NewModelFromString("examples/rbac_policy.csv")`
以及
`e := casbin.NewEnforcer(m, a)`

[2021-08-23 11:45] hsluoyz commented on #870
@Frederic-Zhou plz change title and text to English, thanks!

[2021-08-25 14:01] resingm opened #871 "Is there a way to use RBAC with multiple domains?"
**What's your scenario? What do you want to achieve?**

Is there a way to define not one but multiple domains for the RBAC with domains model?
I managed to use either a wildcard or a single domain, but I did not manage to get a multi-domain model set up properly.

[code]

[code]

`user_wildcard` is allowed to access all domains. `user_tenant_1` and `user_tenant_2` can access their corresponding te

[2021-08-27 10:19] Sefriol opened #872 "[Question] Hierarchical domains with (hierarchical) roles"
**What's your scenario? What do you want to achieve?**

Pretty much a follow-up from https://github.com/casbin/casbin/issues/718#issuecomment-889785940

**Your model:**

[code]

**Your policy:**

[code]

**Your request(s):**

[code]

[2021-08-29 02:25] tangyang9464 commented on #872
@Sefriol
I think your needs are very similar to this one #493 , isn't it ?

[2021-08-29 05:08] tangyang9464 commented on #871
@resingm I don’t quite understand what you mean, can you point out what your request does not meet expectations

[2021-08-29 07:54] Sefriol commented on #872
Ah yes, this looks very similar indeed! Hopefully this gets implemented soon, since I think it's pretty typical RBAC usage situation!

[2021-08-29 12:39] Sefriol commented on #493
I have talked about this problem a couple of times. However, I think almost the best solution comes from **incorrect** policy configuration:

[code]

[code]
Where incorrect lines are `g2`s, (wrong order definition).

Now, if we query this configuration with following:
[code]
which is actually what we almost want. However, user always needs to query from the domain which he/she is an admin and try

[2021-08-29 14:52] zidingz opened #873 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-08-29 16:15] hsluoyz commented on #873
@zidingz hi, thanks for the report! Please send it to: security@casbin.org

For the `SECURITY.md`, can you make a PR to create one?

[2021-08-31 09:17] zidingz commented on #873
With pleasure! Here it is: https://github.com/casbin/casbin/pull/875

[2021-08-31 09:17] #873 closed

[2021-09-01 14:15] GYWang1983 opened #876 "[Feature] Union the effect of different roles"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Is your feature request related to a problem? Please describe.**
I cannot find the available  built-in policy effects when a user has more then one roles with "deny override" policy

**Your model:*

[2021-09-02 02:39] phoenixsqf opened #877 "[Bug]rbac_with_domain_pattern_model not effected"
**Describe the bug**
model rbac_with_domain_pattern_model.conf in example does not work probably

------

**To Reproduce**
Casbin Version: v2.36.1

rbac_with_domain_pattern_model.conf

[code]

rbac_with_domain_pattern_policy.csv
[code]

my code is below
[code]

**Expected behavior**
I think read or write action by alice will be allowed in both domain1 and domain2, but actually result is not as exp

[2021-09-02 03:16] tangyang9464 commented on #877
@phoenixsqf In order to use pattern matching, you need to use like this
[code]
 to add the match function

[2021-09-02 03:38] hsluoyz commented on #876
@tangyang9464

[2021-09-02 03:52] tangyang9464 commented on #876
@GYWang1983 I think it should be false. If your ``policy_effect`` is ``e = some(where (p.eft == allow))``, it will be true.
For ``alice, data1, write``, ``p, writer, data1, write, allow`` meets condition ``some(where (p.eft == allow))`` but ``reader, data1, write, deny`` don't meet condition  ``!some(where (p.eft == deny))``

[2021-09-02 05:22] #877 closed

[2021-09-02 06:19] phoenixsqf opened #878 "[Question]How to inherit roles cross g and g2"
How to inherit roles cross g and g2 in v2.36+
It seems be ok in v2.20.2

------

**Model:**

[code]

**Policy:**

[code]

My code is below

[code]

**Your request(s):**

[code]

How could it be allowed in the latest version?
Or what is wrong in my model?

THX

[2021-09-02 07:09] tangyang9464 commented on #878
@phoenixsqf Different ``g`` are independent of each other such as ``g`` and ``g2``. Role inheritance between them cannot be mixed. v2.20.2 have a bug, fixed later.

[2021-09-02 07:30] phoenixsqf commented on #878
Got it. THX.

[2021-09-02 09:43] #878 closed

[2021-09-02 11:02] aravindakumarbootlabs opened #879 "How can I implement hierarchical RBAC"
**What's your scenario? What do you want to achieve?**
I have two domains **organization** and **project**

organization object looks like organization/org1
project object looks like organization/org1/project/proj1

organization has one action read
project has one action read

organization has one role ORG_OWNER which can do read
project has one role PROJ_OWNER which can do read

If I assign ORG_O

[2021-09-02 11:46] MariusRossouw opened #880 "RBAC Inherit Nesting"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
I want to assign a person to an organization with a certain role.

**Your model:**

[code]

**Your policy:**

[code]

**Your request(s):**

[cod

[2021-09-02 13:33] hsluoyz commented on #880
@MariusRossouw

1. Your g in matcher only has 2 args, but policy has 3 args.
2. You didn't use g2 in matcher.

[2021-09-02 13:38] MariusRossouw commented on #880
Thank you very much for the reply.
How would I change that to achieve the same? I would prefer not to pass the org-1 in the request and rather let that be inherited from the attachment to the user. If that makes sense

Thank you in advance.
Marius

On 02 Sep 2021, 07:33 -0600, Yang Luo ***@***.***>, wrote:

@MariusRossouw<https://github.com/MariusRossouw>

  1.  Your g in matcher only has 2 args,

[2021-09-02 13:53] hsluoyz commented on #880
@MariusRossouw I think you have to pass the org-1 in request. Because if we have this:

[code]

Then there's no way to attach a single org to the user.

[2021-09-02 13:56] hsluoyz commented on #877
@phoenixsqf see: https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac

[2021-09-02 14:01] MariusRossouw commented on #880
Thank you that makes sense. How would you change the model to achieve this?
On 02 Sep 2021, 07:53 -0600, Yang Luo ***@***.***>, wrote:

@MariusRossouw<https://github.com/MariusRossouw> I think you have to pass the org-1 in request. Because if we have this:

g, alice, admin, org-1
g, alice, admin, org-2

Then there's no way to attach a single org to the user.

—
You are receiving this because you w

[2021-09-02 15:01] hsluoyz commented on #879
@tangyang9464

[2021-09-02 22:42] awmcclain opened #881 "[Question] What's the best way to limit/filter roles by resource? ABAC?"
**What's your scenario? What do you want to achieve?**
I've read through all the docs and I'm having a hard time conceptualizing how to set up roles that are filtered based on a resource ID -- for example, a user creates a room and becomes a "host" of the room -- but _only_ the room that user has created. The concept of "host" is only really a role in the context that it's a relationship between a

[2021-09-03 00:22] hsluoyz commented on #880
See: https://casbin.org/docs/en/management-api#getfilteredpolicy

[2021-09-03 03:25] hellowords opened #882 "RBAC with domain GetPermissionsForUserInDomain not work"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

RBAC with domain `GetPermissionsForUserInDomain` not work。
need get user permissions in domain .

**Your model:**

[code]

**Your policy:**

[code]

**Your request(s):**

[code]

[2021-09-03 04:09] hsluoyz commented on #881
@tangyang9464

[2021-09-03 08:21] Sefriol commented on #493
Now that I think about, I think the original idea of having "partner" domains is flawed. If you want to have links in between domains, those should be done through domain hierarchy (i.e. `g2`). In my opinion, this hierarchy should also flow down the roles from the parent domain (role hierarchy, not the role access policies), you should not be required to define these hierarchies every time you add

[2021-09-03 12:17] GYWang1983 commented on #876
@tangyang9464 Thank you for reply.
If use `e = some(where (p.eft == allow)) && !some(where (p.eft == deny))`,  `alice, data1, write ---> false` is correct, it's not a  bug.
But the result is not meet my case. Alice has  the reader  and writer role of data1, of course she should be able to write something to data1.
So, I want to implement a new `Effector` for this case. But now, the arguments in `M

[2021-09-03 17:11] resingm commented on #871
Yes of course.

So, I try to assign a user to multiple domains. In my system, a tenant is defined as a domain.

Let's assume, there exist three domains `domain_a', `domain_b` and `domain_c`. The user is defined as `sub`, the role is defined as `obj`.

With the regular RBAC model with domains, I can assign a user to just a single domain, e.g. with the record:

[code]

I extended the RBAC with a wil

[2021-09-04 02:24] tangyang9464 commented on #879
@aravindakumarbootlabs I don't understand the meaning of ``ORG_OWNER -> PROJ_OWNER mapping``. And is ``organization/{org}`` a pattern matching? Plz cite the request you want to fulfill such as ``user1, organization/sailor, read  -->true (expect false)``

[2021-09-04 04:43] tangyang9464 commented on #876
@GYWang1983 I’m confused, why do you assign two contradictory roles to alice.  You allow her to write for role writer but at the same time not allow her to write for role reader？
[code]

[2021-09-04 05:19] tangyang9464 commented on #871
@resingm ``m = (g(r.sub, p.sub, "*")`` is wrong. The pattern just be used in policy such as ``g, alice, admin, *``. And you can modify your model and policy, cite your request such as ``r, alice, data1, read --->true (expect false)`` to let me konw what effect you want to achieve or meet what kind of scene.

[2021-09-04 05:52] tangyang9464 commented on #881
@awmcclain How about this https://casbin.org/casbin-editor/#HEQFW7ZLJ

[2021-09-04 05:54] #882 closed

[2021-09-04 08:13] aravindakumarbootlabs commented on #879
Sorry, I found the domainmatching functions, that solved my problem thanks

[2021-09-04 08:13] #879 closed

[2021-09-04 08:14] aravindakumarbootlabs opened #884 "How are you handling cycles"
How are cycles handled, what will be the response from enforcer if cycle is encountered

[2021-09-04 08:25] tangyang9464 commented on #884
@aravindakumarbootlabs roleManager has a ``maxHierarchyLevel`` and it determines the depth of recursion. There will be no infinite loop, and false will be returned

[2021-09-04 10:22] #884 closed

[2021-09-04 11:55] aravindakumarbootlabs opened #885 "Discrepancy in response from editor and golang sdk"
**Describe the bug**
The policy and evaluation done on editor is working as intended, but with the same policy and evaluation in golang is not working properly

**To Reproduce**
Steps to reproduce the behavior:
1. Tried running the following go code
[code]

rbac/model.conf:
[code]

rbac/policies.csv
[code]

**Expected behavior**
Should return true for request: `user1, organizations/org1, read`
But

[2021-09-04 12:25] tangyang9464 commented on #885
@aravindakumarbootlabs you should add ``e.BuildRoleLinks()`` to build again after add match func
[code]

[2021-09-04 14:09] #885 closed

[2021-09-06 13:19] GYWang1983 commented on #876
@tangyang9464 Because the policies are not contradictory in each role, writer role and reader role each can work fine. Usually people want to use `writer + reader = allow to write and read`. The permissions of two roles should be union rather than intersection. In RBAC system, when a role is bound, the user's permissions should not become less.

The situation in real system is much more complex. T

[2021-09-07 07:53] techoner opened #886 "[Bug] When there is a comma in the policy, the policy fails to load."
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Describe the bug**
When there is a comma in the policy, the policy fails to load.

**To Reproduce**

[code]
**Additional context**
Probably there was a problem in CSV Reader ：https://github.com/cas

[2021-09-07 08:33] hsluoyz commented on #886
@tangyang9464

[2021-09-07 08:36] tangyang9464 commented on #886
@techoner you should use like this
[code]
If double-quotes are used to enclose fields, then a double-quote appearing inside a field must be escaped by preceding it with another double quote.
And you must set a logger.

[2021-09-07 09:50] techoner commented on #886
@tangyang9464  I think we have the same problem with orm-adapter, such as [gorm-adapter adapter.go#L398](https://github.com/casbin/gorm-adapter/blob/master/adapter.go#L398), adding double-quotes is unnecessary, we can load the strategy from the array.

[2021-09-07 11:19] tangyang9464 commented on #886
@techoner Suppose we have a ``policy.csv``, how to get the array? We can solve this problem as above, I think support the specified separator is not necessary

[2021-09-07 12:42] techoner commented on #886
@tangyang9464  We can split csv into an array using delimiters. In more cases, we use DatabaseAdapter. However, we need to add double quotes to each column, then concatenate it into a string, and then split it. This is redundant.

[2021-09-07 13:00] techoner commented on #886
Use part of gorm-adapter code to make an example :
[code]

[2021-09-07 14:16] tangyang9464 commented on #886
@techoner I got it and I think the csv file (FileAdapter) still needs double quotes to split. But the database adapter doesn't need delimiter. Maybe we can implement a method ``LoadPolicyLineByArray`` specifically for the database adapter.
In csv file, you still need to use like ``"r.act in (""get"", ""post"")"`` but in db you can just use normally like ``r.act in ("get", "post")``

[2021-09-07 14:40] #886 closed

[2021-09-07 15:37] techoner commented on #886
@hsluoyz @tangyang9464 Did I not understand enough?
### In my database like this :
|  ptype   | v0|v1|v2|
|  ----  | ----  |----  |----  |
| p| alice |data |r.act in ("get", "post") |
| p  | bob | data | 1 == 1 |
### Code like this:
[code]
### Why the first policy is not loaded ?

[2021-09-07 15:45] tangyang9464 commented on #886
As mentioned above, I will make some changes to the adapter. Then it can  be used normally after that

[2021-09-14 13:41] hsluoyz commented on #880
Closed as resolved.

[2021-09-14 13:41] #880 closed

[2021-09-14 13:45] hsluoyz commented on #852
Closed as resolved.

[2021-09-14 13:45] #852 closed

[2021-09-15 05:55] tangyang9464 commented on #876
Sorry it took so long to reply. I probably know now that you want to customize effctor. But I want to know why ``some(where (p.eft == allow))`` don't meet your needs, at least in your present example, it can meet your needs. Or can you give an example of the current ``policy effect`` not meeting the needs， That you need to customize？

[2021-09-15 08:35] phoenixsqf opened #888 "[Bug]Concurrent map read and map write in SyncedEnforcer"
**Describe the bug**

here is the stack

[code]

my init code is like

[code]

[2021-09-15 09:50] tangyang9464 commented on #888
@phoenixsqf Can I have your code that caused the error?

[2021-09-16 01:54] phoenixsqf commented on #888
@tangyang9464 Sorry I only meet this error once. And I dont know how to make the error reappeared because it happened in a complex scene.
Maybe concurrenttly do enforce and add role for user?

[2021-09-16 02:23] tangyang9464 commented on #888
@phoenixsqf What casbin version are you using?

[2021-09-16 02:52] phoenixsqf commented on #888
@tangyang9464 sry for forgetitng it. Im using v2.37.0.

[2021-09-17 08:16] linzworld opened #889 "[Bug] explains variable in LogEnforce function is always an empty array"
# Describe the bug

Some screenshot of the problem

This is the result of the TestEnforceExLog function in enforce_test.go
![image](https://user-images.githubusercontent.com/48641482/133748353-54b47ebf-6f7f-4f16-ad8e-fd171a132161.png)

This is a variable in the code. (this variable is explains. When you call it, it's called logExplains.)
![image](https://user-images.githubusercontent.com/48641482/

[2021-09-18 05:02] tangyang9464 commented on #888
@phoenixsqf
https://github.com/casbin/casbin/blob/74a03c56dda888c69eff820f7f684b066995fb0e/rbac/default-role-manager/role_manager.go#L42-L43
https://github.com/casbin/casbin/blob/74a03c56dda888c69eff820f7f684b066995fb0e/rbac/default-role-manager/role_manager.go#L376-L381
I think it should be the problem here, the map ``domainMatchingFuncCache`` is not concurrency safe

[2021-09-18 06:58] #888 closed

[2021-09-18 15:46] #889 closed

[2021-09-22 02:53] phoenixsqf commented on #888
@tangyang9464 Thx. Should the cache be a concurrent read write map but not a syncMap？

[2021-09-22 13:58] Josheasy111 commented on #881
Hi anyone I'm new here can i talk to anyone?

[2021-09-22 14:02] tangyang9464 commented on #881
what do you mean?

[2021-09-22 14:06] Josheasy111 commented on #881
Kinda wanna know what this are all about

[2021-09-22 15:20] kasvith commented on #121
I think this question should be addressed in `casbin` docs. This is a very common issue for many developers. Also in fact storing data in CSV like format in SQL also makes me thinks twice about picking casbin, It doesn't seem effective at all.

Clearly addressing these issues in docs will help lot of people using casbin in future(no I'm not talking about alice, bob csv example. We need something r

[2021-09-22 17:39] Josheasy111 commented on #881
Hey

[2021-09-23 03:13] tangyang9464 commented on #881
What do you want to ask? What is your question? Please describe in detail, I am confused.

[2021-09-23 04:58] hsluoyz commented on #121
Hi @kasvith we have the docs for performance tuning now: https://casbin.org/docs/en/performance

Can you share the link of CASL docs? So we can learn from it when improving the docs.

[2021-09-23 05:14] kasvith commented on #121
Hi @hsluoyz please find it here https://casl.js.org/v5/en/cookbook/roles-with-persisted-permissions

Since this is addressing a real-world use case, its much more familiar.
I found its very difficult to find good examples in casbin(I'm using node btw)

[2021-09-23 06:01] hsluoyz commented on #121
@kasvith thanks for suggestion!

@Zxilly @ErikQQY @Gabriel-403 @nodece plz improved the docs based on: https://casl.js.org/v5/en/cookbook/roles-with-persisted-permissions

[2021-09-23 06:10] kasvith commented on #121
@hsluoyz also is there any chance to update the data model which fits into databases natively without wasting space? I feel `v0-v6` columns in DB mostly will have empty values

Also as originally mentioned, if we can separate `p` from `g` it would be awesome

[2021-09-23 06:13] Zxilly commented on #121
@kasvith You can create your own adapter. The official adapter is meant to cover most of the cases.

[2021-09-23 06:14] Gabriel-403 commented on #121
@hsluoyz ok

[2021-09-23 06:20] Gabriel-403 commented on #121
I think it is necessary to solve the problem of mass persistent data in the future, but we need to discuss how to implement it

[2021-09-23 06:40] kasvith commented on #121
It's true that we can develop a custom adapter. But official guidelines enforce the way of CSV columns into Database like follows.

https://casbin.org/docs/en/policy-storage#database-storage-format

This leads to the same problem as originally mentioned in this issue. Even with a small amount of roles/permissions/users, I would not like to use that pattern.

Also one thing I noticed in these adapt

[2021-09-23 10:49] hsluoyz commented on #121
@kasvith

We set 7 columns to fit most people's need. If you only need 2 or 3, you can fork it and publish your own adapter.

Similarly, we combine `p` and `g` to make it easier for people to write their own adapter. There are definitely good reasons to seperate them. You can implement your own adaper to meet this more advanced need.

[2021-09-23 10:59] kasvith commented on #121
Thanks for the explanation. It makes sense that for most cases this might work. I will look into custom adapters.

But is there any special reason to store the data in columns? does `casbin` pull data column wise?

[2021-09-23 16:33] hsluoyz commented on #121
@kasvith

I think what we chosen is a normal and natural way for DB persistence. Casbin doesn't support to pull the data for one column with current adapters. Casbin always pulls all required rows and then get the elements from the rows.

[2021-09-23 16:34] kasvith commented on #121
Cool thanks for all the info :)

[2021-09-23 16:41] #121 closed

[2021-09-24 03:54] GYWang1983 commented on #876
@tangyang9464 Thanks for reply.
In our case, the `obj` is like this `{tenant_id}:{project_id}:{app_id}:{sub_object}`，users could have a role to grant permissions to manage all app in one project besides some specified apps .

The model:
[code]

The policies:
[code]
Cannot enumerate all apps in policies, because they are created in runtime.
So, we also need  `deny` in effect

[2021-09-24 17:30] JanakaSandaruwan opened #892 "Help at modeling a user/role/group combined model"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------
Need a help in modeling our scenario considering:
- The users belong to groups
- Groups have roles
- Roles have permissions

For example, `alice` is a user in the system. `alice` belongs to `developer

[2021-09-25 01:36] tangyang9464 commented on #892
@JanakaSandaruwan How about this https://casbin.org/casbin-editor/#B5EF3B4N6 ?

[2021-09-25 02:10] hsluoyz commented on #892
@MRGUOKING this issue should be labeled as "question", as there's a "How to"

[2021-09-25 02:19] tangyang9464 commented on #876
@GYWang1983 Why don’t you add a line of policy in runtime when you create an app? Casbin supports adding policy? Your approach is to manually exclude some apps in effect, right?

[2021-09-25 04:54] JanakaSandaruwan commented on #892
Seems this fit my scenario. Here group is considered as a role and uses role hierarchy model ?
Thanks for the help

[2021-09-25 05:56] tangyang9464 commented on #892
@JanakaSandaruwan yes, use role hierarchy

[2021-09-28 10:01] dahu33 opened #893 "Role Manager performance / scaling issue"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Is your feature request related to a problem? Please describe.**

Using the standard RBAC model:
[code]

The `(*RoleManager).HasLink` function is called N time, where N is the the number of unique

[2021-09-28 10:58] tangyang9464 commented on #893
@dahu33 I have a few opinions and questions
1. I don't konw what means about ``call GetRoles to get all the relations of a subject in one shot.``. Below is the code that calls ``HasLink`` each time in funtion ``g(r.sub, p.sub)``. Plz indicate how you think the code should be improved
https://github.com/casbin/casbin/blob/8987b1435512c363eb07e5b2b4a9057c1dfa58e6/util/builtin_operators.go#L310-L339

[2021-09-29 00:51] ComradeProgrammer opened #895 "[Bug]Wrong value stored in assertion.PolicyMap"
In policy.go , function `func (model Model)AddPolicy(sec string, ptype string, rule []string)`,

at line 165 `assertion.PolicyMap[strings.Join(rule,DefaultSep)]=i`,
https://github.com/casbin/casbin/blob/8987b1435512c363eb07e5b2b4a9057c1dfa58e6/model/policy.go#L165

 but  at line 168, we can see `assertion.PolicyMap[strings.Join(rule,DefaultSep)]=len(model[sec][ptype].Policy)+1`
https://github.com/

[2021-09-29 01:17] GYWang1983 commented on #876
@tangyang9464 Nobody want to add a policy manually after creating an app. They expect the system to do it automatically. So we need another policy system to determine whether we need to add the policy automatically. And than, maybe we can use that system to check permission instead of casbin ... =.=!

[2021-09-29 04:20] tangyang9464 commented on #876
@GYWang1983 For the two parameters you want to add before, how is ``rmMap`` used? Maybe you want to use ``HasLink`` ? But unable to get ``r.sub`` here. For the latter, I can pass in the ``e.model["p"][pType].Policy`` (all policy), then You can get the corresponding policy for each line in effect array ``effects``
![image](https://user-images.githubusercontent.com/45587763/135202190-68820baa-5bc5-4

[2021-09-30 12:46] zavre-c commented on #727
So Just for Confirmation,
If I am using **Priority Model** with need of the **super-admin** access

with Matcher
`m = g(r.sub, p.sub) && r.obj == p.obj && r.act == p.act || r.sub == "root"`

I should have some policy with top priority having allow then result is true
if top priority is deny then its false
cause matcher matches the first highest priority

Eg.

p, 100, all, resource, read, allow
p,

[2021-10-01 01:29] hsluoyz commented on #727
@zavre-c yes, you'd better setup a default policy for root. Like

[code]

With:

[code]

[2021-10-01 13:46] #895 closed

[2021-10-04 02:37] tungdn3 commented on #886
I have tried the suggestion to escape commas and quotes but it does not work. Please refer to this: https://casbin.org/casbin-editor/#6NDKB3HMP
Does anyone know what's wrong here? Thanks.

[2021-10-04 02:50] tangyang9464 commented on #886
@tungdn3 You can test it by Go-casbin. The editor depends on node-casbin and they have some differences.

[2021-10-04 16:49] hsluoyz commented on #886
@tungdn3 moverover, if you really find difference between Casbin-editor (Node-Casbin) and (Golang) Casbin and believe it's a bug, please report to us!

[2021-10-08 14:57] lukegalea opened #898 "[Question] How do you model two RBAC hierarchies (one for subject and one for resource) with domains?"
**What's your scenario? What do you want to achieve?**
I'm trying to have two RBAC hierarchies, one for resources and one for subjects, but I need to use domains for assigning subject groups and it's definitely not working.

The documentation makes it clear that two RBAC hierarchies is doable, but I wonder if I'm hitting this issue? https://github.com/casbin/casbin/issues/892

**Your model:**

[co

[2021-10-09 02:54] #892 closed

[2021-10-09 02:55] hsluoyz commented on #898
@lukegalea see: https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac

Change:

[code]

to:

[code]

[2021-10-10 00:46] lukegalea commented on #898
Thanks @hsluoyz - that makes sense and it definitely got me further!

Now, as long as I specify the role definition's domain as the specific resource, it works... but not when I try to group resources in a hierarchy and reference a parent... no good.

For example, for the request:
[code]

this works:

policy
[code]

but if I swap out the last line in the polcy to reference the company (parent to s

[2021-10-10 07:19] Josheasy111 commented on #881
Are you into programming or hacking

On Thu, Sep 23, 2021, 4:13 AM tangyang9464 ***@***.***> wrote:

[2021-10-11 16:10] franktz opened #899 "[Question] Multiple sections type ( effect ) not working ?"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
Your answer here

**Your model:**

[code]

**Your policy:**

[code]

**Your request(s):**

[code]

My Code:

[code]

When i add 'enforceContext.

[2021-10-12 01:56] tangyang9464 commented on #899
@franktz For effect, it's hard coded. See[policy effect](https://casbin.org/docs/en/syntax-for-models#policy-effect)

[2021-10-12 09:55] franktz opened #900 "[Question] How to implement "enable" or "disable" a policy ?"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
Your answer here

**Your model:**

[code]

**Your policy:**

[code]

**Your request(s):**

[code]

[2021-10-13 02:32] tangyang9464 commented on #900
@franktz I tested it's ``true``. Can I have your code?

[2021-10-14 11:41] hsluoyz commented on #898
@lukegalea you should always use the domain that `alice` has `g` policy with, aka `g, alice, admin, company:1`.

[2021-10-14 11:41] hsluoyz commented on #898
@tangyang9464 any idea?

[2021-10-15 02:18] franktz commented on #899
For now no. Thank you.

[2021-10-15 03:01] #900 closed, assigned to hsluoyz

[2021-10-15 03:01] #899 closed

[2021-10-15 14:12] lukegalea commented on #898
Thanks for your help @hsluoyz . I think I've figured it out.

Rather than using domains, I introduced a "jurisdiction" that has it's own hierarchy and that worked perfectly. I think I was just abusing domains for the wrong purpose.

[2021-10-19 06:10] fangjie-luoxi opened #904 "[Question] AddPermissionsForUser method is not outcrop"
I'm on the official website [https://casbin.org/docs/zh-CN/rbac-api#addpermissionsforuser]
see a method: AddPermissionsForUser
but I can not use it

[2021-10-19 14:33] majidkabir opened #905 "[Question] How we can get all resources which a user has a specific access to when we are using resources hierarcy?"
**What's your scenario? What do you want to achieve?**
I want to get all the resources that a specific user has specific access to, but I cannot find any method for that?

**Your model:**

[code]

**Your policy:**

[code]
**So we can get the below result**
[code]

**Your request(s):**
[code]

[2021-10-20 07:02] majidkabir commented on #905
So `GetImplicitPermissionsForUser` only returns all permissions, but will not return all resources that the user has access to when we are using resource hierarchy!

[2021-10-20 09:05] hsluoyz commented on #905
@tangyang9464 any idea to support resource RBAC?

[2021-10-23 03:59] piyongcai opened #907 "Using the casbin domain model, building database table partitions is difficult"
in some database(eg:postgresql) support partition table.

In the casbin domain model, you can create partition table by domain.
[code]
However, the casbin domain model "p" and "g" domain has diffrent position, Policy("p") domain column is "v1", but Policy("g") domain column is "v2".
It cause to the complexity of building partition table.

Sugestion:  The unified domain column is defined as the "v1

[2021-10-23 06:51] aflyfish0329 opened #908 "[Question] model definition question and group useage."
Hi, I have a question, when we use casbin, must we strictly abide by the request and policy definition of sub, dom, obj, act?

Since the obj and act of my policy happen to be fixed, I want to use a g2 group as a perm group. Will this cause additional problems? Thank you.

**Model:**

[code]

**Policy:**

[code]

**Request:**

[code]

[2021-10-23 13:38] #908 closed, assigned to hsluoyz

[2021-10-23 13:43] #907 closed, assigned to hsluoyz

[2021-10-26 12:29] francohandel opened #909 "[KeyMatch5:Matcher to match URLs with query params of restful paths]"
Recently my Company started using Casbin for its Authorization module, so far it is well suited for the company needs but on most occasions for URLs with query params, i had no means of using any of the provided built in Matchers.
**Example: /path/?status=1&type=2**
I would like to add a new KeyMatch to handle this kind of situation whereby casbin can ignore every character after the "?" symbol in

[2021-10-28 10:09] nikitabray opened #911 "Prior "allow" policies for users that belong to multiple groups"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
I have tree-like hierarchical structure. node_1 and node_2 has common ancestor: root. Alice can read from node_1 and cannot from node_2, bob can

[2021-10-29 03:33] fft164925585 opened #913 "sub_rule edit"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
I want to use the 'keyMatch3' in sub_rule, but it tells me some errors for this。
How to use the 'keyMatch3' in sub_rule or does the sub_rule sup

[2021-10-29 03:55] #913 closed, assigned to hsluoyz

[2021-10-30 07:53] Abingcbc commented on #905
@majidkabir  I think the combination of existing APIs is enough to solve this problem. You can use `GetImplicitResourcesForUser` to get all resource groups and types this user can access. Next, you can filter the groups by your specific access and type. Then you can use `GetImplicitUsersForRole` to the resources belonging to the resource group or type. Finally, the intersection of these slices is

[2021-10-30 12:19] hsluoyz commented on #905
@Abingcbc interesting solution! @majidkabir what do you say?

[2021-11-01 14:55] majidkabir commented on #905
@Abingcbc Perfect solution! based on your answer I implemented the method in Java.
[code]

[2021-11-01 17:18] #905 closed

[2021-11-02 11:06] #909 closed

[2021-11-12 08:53] dragonborngem opened #915 "[Question] Proper way to use casbin high number of policies with RBAC with resource role"
**What's your scenario? What do you want to achieve?**
I'm using casbin for my Authorization middleware
I want something like
- User1 have store 1 , store 1 have post with ID 1->2, page with ID 1->3
- User2 have store 2 , store 2 have post with ID 3->4, page with ID 4->5
- User2 may have access to store 1 in future ( gain store1_manager without delete permission ) , each user may have more than 1

[2021-11-13 14:39] hsluoyz commented on #911
Hi @nikitabray , why don't use the Priority model? https://casbin.org/docs/en/priority-model

[2021-11-13 14:49] Abingcbc commented on #911
@hsluoyz Priority model can pass @nikitabray 's requests. But it will fail in the following case:

[code]

Because the first policy it matches is `p, moderator_node_1, root, read, allow` and the effect is `allow`. It directly return True.

[2021-11-13 15:18] Abingcbc commented on #911
One way to walk around is making policies of parent resource is after the children's. This is a requirement for users.

[2021-11-14 01:34] hsluoyz commented on #911
@Abingcbc can you provide the model and policy here?

[2021-11-14 06:01] Abingcbc commented on #911
Model:
[code]

Policy:
[code]

Test cases:
[code]

There are 3 points about the policy we should pay attention to:
1. We should explicitly write `allow` policies.
e.g. `p, moderator_node_1, node_1, read, allow`
2. `Allow` policies should be before `deny` policies.
e.g. `p, moderator_node_1, node_1, read, allow` should be before `p, moderator_node_2, node_1, read, deny`.
3. Policies of children's r

[2021-11-15 16:43] srPuebla opened #916 "[Bug] LoadPolicy is not working properly since v2.7.2 to v2.39.0 with mongoadapter v2"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Describe the bug**

I am using casbin in APIs, with echoframework. Instead a file, i am working with mongo-adapter.

I have configured the next below:
[code]
It is working successfully, however, i

[2021-11-16 00:21] silverspace opened #917 "[Bug] Casbin ABAC rules fail if policy includes any "deny" rows"
**Describe the bug**
When an **ABAC** `Super Admin` matcher is used in conjunction with a **policy** that includes `deny` effects, the matcher erroneously fails if **any** policy in `policy.csv` contains a `deny` effect.

**To Reproduce**
See this shared example I created using the casbin editor:
https://casbin.org/casbin-editor/#E3LXSU3ZS

Observe that the two requests succeed if the `"foobar"` r

[2021-11-16 01:24] hsluoyz commented on #917
@abichinger @Abingcbc

[2021-11-16 05:15] Crushla opened #919 "Chinese document[Bug]"
There was an error in the Chinese document Check Permissions

![选区_007](https://user-images.githubusercontent.com/42992376/141925083-684a5a3d-2dfb-4ce0-9646-f44d200ce87d.png)

[2021-11-16 10:59] hsluoyz commented on #916
@abichinger @Abingcbc

[2021-11-18 14:26] timabilov opened #920 "Get permission for user in domain - filtering policies without domains"
------

**What's your scenario? What do you want to achieve?**

There might be the cases when policy has dynamic(patterns?) domains or don't even have any domains
As a reference this is an example  (performance example)
https://github.com/casbin/casbin/blob/master/examples/performance/rbac_with_pattern_large_scale_policy.csv
other model  example(https://github.com/casbin/casbin/issues/493)

`GetPe

[2021-11-18 14:34] hsluoyz commented on #920
@nodece @sagilio @abichinger @Abingcbc

[2021-11-18 16:21] Abingcbc commented on #916
@srPuebla I didn't get what you meant.  I cannot reproduce by following your reproduce steps. It works well with version `v2.39.0`.
Can you directly describe your problem or paste your error message?

[2021-11-18 18:51] srPuebla commented on #916
Hi @Abingcbc

Of course, maybe i didn´t explain myself.

I am gonna put a example main, and lets execute with the versions 2.7.1 and the others, ok? Lets GO!

Full Main.go:
[code]

**With version 2.7.1 or less:**
1º We execute the program first time. The result is:

2º We execute the program second time. The result is:

3º We check the mongodb and we find the document:

[code]

**With version 2.7.

[2021-11-18 19:04] srPuebla commented on #916
Hi again @Abingcbc

I think that the problem is with [mongodb-adapter](https://github.com/casbin/mongodb-adapter)

If you update the version to v3, github.com/casbin/mongodb-adapter/v3 v3.2.1, then it works properly

The point is... that i cant migrate from v2 to v3 cause i have too many policies on my PRO enviroment and when i load v3, mongoadapter fails.

But this is not the problem of this libr

[2021-11-19 02:23] Abingcbc commented on #916
@srPuebla Thanks for your reply❤️ I have reproduced the bug and I will work on this issue

[2021-11-19 06:39] timabilov commented on #920
For cases with domains with patterns in policy records, ideally we have to match them by matching function, not filtering them as plain string.

Considering that get permissions by domain *can* filter by domains and in case of keymatching domains(added domain match fn) we should not ignore keymatching when filtering domains in policies instead of strict str checking.

That why i think this is  inc

[2021-11-19 09:34] abichinger commented on #920
We could add an additional parameter `fn` to `GetPermissionsForUserInDomain` to fix this issue.

[code]

To mimic the present behavior of `GetPermissionsForUserInDomain` you can pass the following function:
[code]

In your example, you can pass this function:
[code]

This approach does not support matching function on policy records.

[2021-11-19 17:19] Abingcbc commented on #916
I think the root cause is that from `v2.7.2`, `casbin` started using a map to index policies. But `mongo-adapter v2` doesn't load policies into the map.
https://github.com/casbin/mongodb-adapter/blob/v2.1.0/adapter.go#L217
And it was fixed in `v3.0.0`
https://github.com/casbin/mongodb-adapter/blob/v3.0.0/adapter.go#L194
So this is a breaking change =.=

One way to work around is manually adding al

[2021-11-20 10:44] timabilov commented on #920
@abichinger
It is really interesting that after domain **match** support this filter part is missed. Isn't this a bug rather than enhancement?

Also its sad that `matchers` internals is not quite flexible to reuse them for filtering policies. I think that will be fair and more consistent rather than  actual implementation. Because matcher is source of truth.
Otherwise you have to give the same mat

[2021-11-20 10:49] timabilov commented on #920
from performance example:
 That is for all cases which is not just ==
we have regex for action and keymatch4 for domain
[code]

but here we filter only with  ==
[code]

[2021-11-22 15:52] hsluoyz commented on #916
Discussed with @Abingcbc and we believe it has no need to fix.