[2020-04-24 05:08] nodece commented on #432
We provide a YAML config:

[code]

It looks very complicated, but we support autocomplete, so easy.

[2020-04-24 05:14] nodece commented on #432
![Apr-23-2020 15-26-34](https://user-images.githubusercontent.com/16235121/80177103-393a6500-862d-11ea-9cf1-169ab92ca22f.gif)

[2020-04-24 12:24] ashwinsadeep opened #434 "Suggestion: Make ClearPolicy optional during LoadFilteredPolicy"
I'm designing a system where we have a rather small number of access control policies - say less than 1000. These policies will be defined on roles. However, the system has a somewhat large number of users and corresponding group membership policies - say 10M users & 20M group memberships considering an average of 2 groups per user.

I was thinking of an approach where I can load all access contro

[2020-04-24 15:54] ghaedi93 opened #435 "assinging a user to an object role in rbac_with_pattern_policy.csv"
https://github.com/casbin/casbin/blob/907df7925df1a0e7b565cb915f316278bcb5d19d/examples/rbac_with_pattern_policy.csv#L9

in our model we are dealing subject roles with a g and object roles with g2 but here in this example it seems like user cathy is being assigned to pen_admin role and book_group role both with a g identifier why should we assign a user to a resource role with a g identifier and w

[2020-04-25 06:09] hsluoyz commented on #435
@ghaedi93 that's a typo. It should be `g2`. @nodece can you fix it?

[2020-04-25 06:34] ghaedi93 opened #436 "using both grouping and keyMatch2 in a matcher"
im new to casbin and recently using it with nodejs and came across this probably frequent need to use both grouping and keyMatching on a policy , wraping a keyMatch func with g identifier or viseversa doesnt seem to be valid syntax for serving those policies containing resource with pattern

![Screenshot from 2020-04-25 11-02-29](https://user-images.githubusercontent.com/32374993/80273071-731a7280

[2020-04-25 10:38] #435 closed

[2020-04-25 10:39] hsluoyz commented on #435
@ghaedi93 fixed.

[2020-04-25 15:46] GopherJ opened #439 "merge_effect quick return?"
Currently if we are using effect like:

[code]

or

[code]

or

[code]

there isn't any optimization (quick return) it always need to iterate the whole list of policy which is not ideal because sometimes we just need to find one match and quick return the enforcing result.

[2020-04-25 16:04] hsluoyz commented on #439
I think this idea is good.

[2020-04-25 18:29] GopherJ commented on #432
@nodece autocomplete can be useful only when we are turing-complete

[2020-04-25 18:32] GopherJ commented on #434
@ashwinsadeep  The problem of this method is **we can have duplicated policies in memory**, casbin is an auth library but has no ability to do things like Full-text searching to find the part of policies related to request.

we didn't find a good method for implementing `dynamic filtered adapter` yet.

[2020-04-26 10:24] hsluoyz opened #440 "Port Casbin for Rust's scaling ABAC rules to Golang"
See: https://github.com/casbin/casbin/issues/354

Can anyone take this issue?

[2020-04-26 10:25] hsluoyz commented on #394
Is there any progress on this? @nodece @GopherJ

[2020-04-26 10:27] DivyPatel9881 commented on #440
@hsluoyz isn't this a fix #427

[2020-04-26 10:28] DivyPatel9881 commented on #440
If not, I can take this issue.

[2020-04-26 11:33] nodece commented on #394
@hsluoyz I want to use https://github.com/semantic-release/semantic-release, WDYT?

[2020-04-26 17:35] ashwinsadeep commented on #434
IMO, this will be a requirement for any medium to large sized system where storing the entire policy information in memory is not practical. In my case at least, the expected access patterns will be such that only a relatively small subset of subjects accessing a small subset of resources will be active at any given point of time.

Further to that, I don't think a `dynamic filtered adapter` in its

[2020-04-27 01:42] hsluoyz commented on #394
I think it works good in Node-Casbin. We can use it in Golang too. I remembered that you made a PR several weeks ago about it, but finally got it closed.

[2020-04-27 01:44] hsluoyz commented on #440
Oh I forgot it. Let's proceed with that PR.

[2020-04-27 03:23] nodece commented on #394
I will work on it as soon.

[2020-04-27 20:06] GopherJ commented on #434
@ashwinsadeep while `dynamic filtered adapter` loads filtered policies, casbin will clean the policies in memory. Actually I don't think we will really need to prune policies from model because we just need to overwrite with filtered policies and then rebuild the role links, the process here is easy to be done in casbin today. It can be improved: like not overwrite all but do incremental changes.

[2020-04-28 07:34] brt-srini-rama opened #441 "Policy for RBAC System with domain and resource"
Hi,
  I got to the situation were I think it has overwhelms the Casbin's feature. Please suggest if any suitable model that I can leverage from Casbin to match my use case.

use case is :
UC-1 : userA allowed to perform action on resource_A in certain domain during certain time period in daily basis only during weekdays. and none of the action are allowed on weekends(So I need to differentiate bet

[2020-04-28 08:29] hsluoyz commented on #441
@nodece @GopherJ

[2020-04-28 13:54] jkour commented on #441
@brt-srini-rama How do you define the times? It is like a setting in the application?

And what happens and userA is restricted? Does an admin go and disable access or it is a kind of business rule that is imposed by operations? I can imagine a store which allows userA to do things during operation time.

If the times are not directly linked to specific users this means you do not need an explicit

[2020-04-28 15:14] brt-srini-rama commented on #441
Hi Thanks,
  Yes, Its is same as like an operator getting in to the shop for his morning duty, and the the system should validate his access based on his tap-in time from his access card. If the tap-In time is before his duty time, then the system should not allow him an access by not opening the door. All time are a Unix timestamp derived from the command date "+%s".
Basically I need to have a Po

[2020-04-28 15:32] jkour commented on #441
Do you manage the data from the access card in this same application or you retrieve them from another server?

I seems to me that your model can be significantly simplified if you use a custom function. So, your policy may look like this:
p, userA, door-access

and them matcher can include

(r.userID = p.userID) && (r.resource = p.resource) && IsUserInShift(p.UserID)

In IsUserInShift function yo

[2020-04-29 06:38] brt-srini-rama commented on #441
OKay, but suppose consider there are three different shift with different timing and different resources(Access-Door) and also they all bound to certain domain(Eg, The worker is allowed to work only on certain floor),  and there are many workers works in different shifts . So I need to create the policy group and need to place different workers to different policy groups. Which means I need to use

[2020-04-29 10:38] #433 closed

[2020-04-29 22:00] jkour commented on #441
p, shiftA, floor_one, door_access
p, shiftA, floor_one, toilet_access
p, shiftA, floor_two, door_access
...and other shifts, and resources

g, userA, shiftA
g, userB, shiftA,
...and other users and shifts
In this case you may not need the custom function

But now you need to dynamically update the g's all the time when users change shifts.
How do you get the shift data? In your applications? exter

[2020-04-30 01:54] nodece commented on #433
@hsluoyz This is a good solutions, we should create a label for good solutions.

[2020-04-30 02:43] leopragi commented on #433
@nodece

Actually I'd prefer to stick with some other solution that I wrote. The problem with the above solution is if you don't assign a role to access a specific feature and if license have access to that specific feature. It will simply allow.

According to my requirement, even though I have a license that allows me to access `featureA`, it has to be explicitly specified by role also, If not sp

[2020-04-30 04:48] wz369 opened #442 "GetImplicitUsersForPermission cannot get users in role"
// GetImplicitUsersForPermission gets implicit users for a permission.
// For example:
// p, admin, data1, read
// p, bob, data1, read
// g, alice, admin
//
// GetImplicitUsersForPermission("data1", "read") will get: ["alice", "bob"].
// Note: only users will be returned, roles (2nd arg in "g") will be excluded.

but,i only got [ "bob"]. no "alice". this function cannot get users only Appears in g

[2020-04-30 06:02] nodece commented on #442
Thanks for the report.

I submitted a patch: #443

[2020-04-30 06:23] hsluoyz commented on #433
@nodece label created: https://github.com/casbin/casbin/labels/good%20solutions

[2020-04-30 06:25] #442 closed

[2020-04-30 06:25] hsluoyz commented on #442
Merged.

[2020-05-02 15:28] nodece commented on #394
Hi @hsluoyz, I added [semantic-release](https://github.com/semantic-release/semantic-release) to current repo. we need to notice that strictly following the [Semantic Versioning specification](https://www.conventionalcommits.org/en/v1.0.0-beta.2/).

Let's add [semantic-pull-requests](https://github.com/zeke/semantic-pull-requests) to check Semantic Versioning specification.

[2020-05-02 15:28] #394 closed

[2020-05-02 15:41] hsluoyz commented on #394
@nodece thanks for this work! Look forward to the semantic PR feature!

[2020-05-04 00:52] hsluoyz commented on #432
How to be turing-complete?

[2020-05-04 01:04] hsluoyz commented on #415
@GopherJ we should only allow policy updating on the specific FilteredAdapter. e.g., If an FilteredAdapter instance is configured to show alice policies, then it should also be allowed to edit alice's policies too.

[code]

[2020-05-04 15:18] #424 closed

[2020-05-05 08:59] fanqi1909 opened #445 "Hit "undefined function eval" when trying with ABAC example"
Hi,
I am trying to run the ABAC example from https://casbin.org/docs/en/abac with sub_rule.

The policy model is
[code]
and the policy is
[code]
I write a sample code as follows:
[code]
This prints
[code]

Could you please advise how to enable the `eval()` method ?

Thanks.
Jay

[2020-05-05 09:02] hsluoyz commented on #445
@nodece @GopherJ @DivyPatel9881 can anyone answer it?

[2020-05-05 09:25] #354 closed

[2020-05-05 09:32] fanqi1909 commented on #445
Btw, I am using  go version 1.14, and  github.com/casbin/casbin/v2 v2.2.3.

[2020-05-05 09:37] GopherJ commented on #445
@fanqi1909 You can check here: https://github.com/casbin/casbin/releases, you need to use the latest version, it's just released

[2020-05-05 09:40] GopherJ commented on #441
@brt-srini-rama The latest release: https://github.com/casbin/casbin/releases may help solving your problem. You can visit: https://casbin.org/docs/en/abac#scaling-the-model-for-complex-and-large-number-of-abac-rules for the detail documenation.

[2020-05-05 09:45] brt-srini-rama commented on #441
Yes, on the first look, it seems very flexible, let me try this out... right now I am using my custom functions to handle every conditions...

Once again thanks for pointing me this feature.

[2020-05-05 09:46] GopherJ commented on #440
This can be closed @hsluoyz

[2020-05-05 09:49] fanqi1909 commented on #445
thanks @GopherJ ,  I think this is the catch. After changing to v2.3.0, the eval() function works.

Thanks.
Jay

[2020-05-05 09:49] #445 closed

[2020-05-05 09:52] #440 closed

[2020-05-05 09:53] hsluoyz commented on #394
Is this feature finished?

[2020-05-05 10:02] nodece commented on #337
Thanks @dovics for the feature.
`go get github.com/dovics/domain-role-manager` to your project, it works fine.

[2020-05-05 10:02] #337 closed

[2020-05-05 10:09] nodece commented on #394
@hsluoyz Yeah. If commit doesn't following the [Semantic Versioning specification](https://www.conventionalcommits.org/en/v1.0.0-beta.2/), semantic-release can not trigger release.

see the https://github.com/casbin/casbin/runs/645614357#step:3:37.

[2020-05-05 12:34] hsluoyz commented on #337
@nodece can we merge it into our core lib?

[2020-05-05 16:57] GopherJ opened #446 "getImplicitRolesForUser bad return"
model.conf
[code]

policy.csv
[code]

pattern matching func
[code]

function call
[code]

**Expected output**
[code]

**Actual output**
[code]

[2020-05-05 17:49] GopherJ commented on #432
@hsluoyz My idea on turning complete is:

1. stop using p1, p2, p3...  we always save sec + ptype + rules

2. convert the whole model.conf to a function, every = is an assignment inside this function.

[2020-05-05 18:04] GopherJ commented on #446
But maybe I didn't understand correctly because maybe we should consider `book_admin` also `*`? Close because of this

[2020-05-05 18:55] GopherJ commented on #446
No I still think that we shouldn't have the link from `book_admin` to `*`, because it'll cause bugs:

[code]

normally only the user `*` can read data1, but since we got the link from `book_admin` to `*`, then any one will be able to read /data1

[2020-05-05 19:05] GopherJ commented on #446
Also if we call: `e.GetImplicitRolesForUser("*")` we will also get strange return:

[code]
which should be:
[code]

because of line: https://github.com/casbin/casbin/blob/33a2f4e3c849af5c0b4f713861d5458ae028e5d1/rbac_api.go#L141

[2020-05-05 19:08] GopherJ commented on #446
I may be false because I haven't actually run them in go because I haven't used go for a long time, please correct me if there is a mistake.

[2020-05-05 19:48] GopherJ commented on #415
@hsluoyz  I think currently we don't have this? casbin-rs won't need this because util now all the adapter will check if the insert will duplicate policy.

[2020-05-05 22:25] GopherJ commented on #338
@DivyPatel9881 @nodece  @richsoap So first of all, I think it's possible to have circular link :

For example:

https://github.com/casbin/node-casbin/issues/150

But I don't think it's that difficult to solve, we definitely need to pay attention to the usage of recursive call but except that.  I think it's fine for casbin's scenario.

[2020-05-05 23:34] GopherJ commented on #446
This is a try in casbin-rs: https://github.com/casbin/casbin-rs/pull/133

[2020-05-06 04:08] leopragi commented on #281
Have you guys implemented this? How to use this? I used keyMatch4, which is not working.

[2020-05-06 04:24] techoner opened #447 "I think we should improve KeyMatch method to avoid endless loop"
In KeyMatch all use `for{}` loop
[code]
But in this case, it will form an endless loop
[code]

[2020-05-06 04:32] nodece commented on #281
@leopragi We doesn't support it. We can only support `g, user, pattern`.

[2020-05-06 04:41] nodece commented on #281
We only support `g, pattern, role/user`

Casbin doesn't remove query params from URL. Let's give it to a user for better handling.

[2020-05-06 04:52] nodece commented on #337
@hsluoyz I think as a plugin is better.

[2020-05-06 05:40] hsluoyz commented on #281
Please send new issues for new questions.

[2020-05-06 13:54] #447 closed

[2020-05-07 08:03] hsluoyz commented on #415
@GopherJ no, need development

[2020-05-07 09:47] hsluoyz commented on #355
@jruizaranguren solved by: https://github.com/casbin/casbin/pull/425

[2020-05-07 09:47] #355 closed

[2020-05-07 09:51] hsluoyz commented on #355
@jruizaranguren can you verify if it works?

[2020-05-07 10:55] GopherJ commented on #415
@hsluoyz  Ok got it, for this moment casbin-rs doesn't need it because adapter will also check duplicated policy using db constraints

[2020-05-08 09:08] GopherJ commented on #446
@hsluoyz @nodece  any idea on this?

[2020-05-08 13:24] nodece commented on #446
@GopherJ You are right.   I'll add my implementation to avoid circular link.

[2020-05-08 13:36] hsluoyz commented on #446
[code]

@GopherJ I think you are right. A role cannot inherit via *. Only user can.

Actually * is originally designed for referring to all users, not all roles.

Can we do this?

[2020-05-09 09:43] GopherJ commented on #446
Let's keep this issue longer maybe and see what the others think

[2020-05-09 11:56] nodece commented on #446
My implement, I just add `admin_admin` to `*` link . When calling `rm.GetRoles()`, call `matchingFunc` to match all role.

[2020-05-10 07:16] ruyi84 opened #453 "There was a problem in learning"
I encountered a problem in the process of learning casbin, I wrote a strategy, there was an error not planned:
csv:
[code]
conf

[code]

However, zeta / data2 / write = true, this is why

[2020-05-10 13:17] GopherJ commented on #453
@ruyi84 You should use `deny` instead, `reject` is not casbin keyword

[2020-05-10 13:43] GopherJ commented on #432
example:

[code]

should be converted to:

[code]

[2020-05-10 13:48] GopherJ commented on #432
The advantage is that every assignment will be taken into account

[2020-05-10 14:12] hsluoyz commented on #432
How to dynamically generate such a function? Also govaluate can only evaluate expressions?

[2020-05-10 14:14] GopherJ commented on #432
@hsluoyz

I believe this can only be supported by a few expression evaluator, rhai will be able to support this type of thing.

[2020-05-10 14:17] hsluoyz commented on #432
Maybe a minor improvement for now is to evaluate the effect like matcher too.

[2020-05-10 14:18] GopherJ commented on #432
@hsluoyz Yes, I think that can be a start

[2020-05-10 14:22] GopherJ commented on #432
@hsluoyz

General speaking it should be slower, but except for converting model.conf a real script, I cannot see how to achieve turing complete.

[2020-05-10 14:24] GopherJ commented on #432
@hsluoyz

This is often not the case, because many evaluators target at `script language`

[2020-05-10 14:52] UnderTreeTech opened #455 "When should i call BuildRoleLinks function"
My App has about 1 millions policies, 800k P policy and 200K G policy.
Whenever I add new P policy and assign it to one role, should I call BuildRoleLinks function?

[2020-05-10 14:57] GopherJ commented on #455
@UnderTreeTech It's called automatically

[2020-05-10 15:10] UnderTreeTech commented on #455
@GopherJ I disabled the attribute. I wanna know whether BuildRoleLinks exists performance issue in my scenario.

[2020-05-10 15:17] nodece commented on #455
You need to call BuildRoleLinks after add G policy.

[2020-05-10 17:00] UnderTreeTech commented on #455
@hsluoyz As far I run the model_b_test.go bench by adjusting parameters to 10k roles, 500k users, it costs about 11m and panic(error run too long). So i worry about the performance of casbin much. Do you guys have any plan to optimize performance?

[2020-05-10 17:22] GopherJ commented on #455
@UnderTreeTech Also pay attention that the time of benchmarking != time of enforcing. Could you put the final result? How long it took for one operation?

[2020-05-10 17:28] GopherJ commented on #455
In casbin-rs, it's:

test b_benchmark_rbac_model_large         ... bench:  38,076,023 ns/iter (+/- 3,918,314)

for 10k roles, 500k users.

and currently casbin golang is 5x faster than casbin-rs...

[2020-05-10 20:03] GopherJ commented on #455
@UnderTreeTech in casbin-rs, we start to support incremental building role links

[2020-05-11 01:23] UnderTreeTech commented on #455
@hsluoyz Awesome feature, hope go casbin can support it asap.

[2020-05-11 01:27] UnderTreeTech commented on #455
Test failed, the following is panic messages.

[code]

[2020-05-11 04:17] GopherJ commented on #455
@nodece @UnderTreeTech  I think in benchmark we should use batch operation to AddPilicy. Like AddPolicies, this way we avoid having too much HasPolicy check

[2020-05-11 05:47] UnderTreeTech commented on #455
I don't think it can take positive effective by calling AddPolicies, cause it check HasPolicy too.
[code]

[2020-05-11 06:21] nodece commented on #455
go-benchmark is working in `go version go1.14.1 darwin/amd64`.

Build role links is the main factor affecting performance, so we need to build role links via incrementally way to improve performance.

[2020-05-11 06:27] GopherJ commented on #455
@UnderTreeTech addPolicy will cause

O((n-1)(n-2)(n-3)……

[2020-05-11 06:36] GopherJ commented on #455
@nodece  I also realized there is a bug in:

[code]

because it cannot prevent dup inside `rules`

[2020-05-11 06:40] nodece commented on #455
Let's improve `AddPolicies` and `RemovePolicies`.

[2020-05-11 07:34] UnderTreeTech commented on #455
Yes, we only add or delete P or G policy in my scenario, and i think is common scenario.

[2020-05-11 07:40] UnderTreeTech commented on #455
Why field `model[sec][ptype].Policy` Policy doesn't use map? Thus it can be overrided even user add dup policy, and leads to average O(1), worst O(n).

[code]

[2020-05-11 07:46] GopherJ commented on #455
Not sure golang supports `HashSet` or `IndexSet` stuff on vector, @nodece if it's not supported, can we switch to `HashMap` to have `O(1)`?

[2020-05-11 08:03] UnderTreeTech commented on #455
Looking forward to your improvements. Pls keep me posted when it done.

[2020-05-11 10:11] GopherJ commented on #439
implemented in: https://github.com/casbin/casbin-rs/pull/142

[2020-05-11 10:32] DivyPatel9881 commented on #439
Okay, then I will implement it for casbin-core

[2020-05-11 10:54] UnderTreeTech commented on #455
@GopherJ @nodece update my test result, 500k P Policy and 10K G policy, 38ms per enforce.
It seems BuildRoleLinks doesn't count for the performance issue but  add policy.
[code]

[2020-05-11 11:07] GopherJ commented on #455
@UnderTreeTech  This bench is not valid because you are putting everything inside a bench function, to fix you just need to use `AddPolicies`, and then bench only `Enforce`

[2020-05-11 11:39] UnderTreeTech commented on #455
Update test result: 1.66s per enforce. 1000k P and 100k G. am i right now?
[code]

Update code snippets.
[code]

[2020-05-11 11:43] GopherJ commented on #455
@UnderTreeTech You forgot to build role links

[2020-05-11 11:47] UnderTreeTech commented on #455
@GopherJ After build role links, 1.06621303s per enforce. Waiting for your improvements.

[2020-05-11 12:02] GopherJ commented on #455
@UnderTreeTech  I believe 1 second is already not bad no? In casbin-rs it took 3.6 seconds. With https://github.com/casbin/casbin/issues/439 the bench of enforcing can be even better.

Let's say 500ms for 1000k + 100k.

[2020-05-11 12:16] nodece commented on #455
Golang doesn't supports `HashSet` or `IndexSet`. Golang supports `HashMap`, but slice cannot as map key.

[2020-05-11 12:45] josefsabl commented on #64
I just wanted to say that I am just researching the authorization topic at the moment and had EXACTLY the same questions that got asked. I am totally satisfied with answers and decided to use casbin instead of XACML.

[2020-05-11 14:31] UnderTreeTech commented on #455
@GopherJ @nodece Yes, go don't support slice as map key. We can hash every single element in model[sec][ptype].Policy as the key, just like as:
[code]
If we can use the map data struct, i do believe per enforce can get extraordinary performance improvement. Thus casbin can really set as an infrastructure authentication component in any scenario.

[2020-05-11 14:39] nodece commented on #455
@UnderTreeTech Sounds good. Let me improve the Policy.

[2020-05-11 16:06] GopherJ commented on #455
@UnderTreeTech  Just to make it clear, bench of  `enforcing` will not change using this, the only thing it improves is: `AddPolicy` and `AddPolicies` speed maybe

[2020-05-12 00:24] GopherJ commented on #439
hi @DivyPatel9881 I just found that channel's overhead is out of my imagination so I reverted the PR and made https://github.com/casbin/casbin-rs/pull/145

[2020-05-12 01:23] UnderTreeTech commented on #455
okay，i've already send a PR to adjust the policy initialize way in bench case.
I wanna confirm that whether you'll replace slice by map in struct Assertion or not? if is sure, what's the plan and which version will release this feature? Actually my application is a large saas service, we really have millions of polices.

[2020-05-12 01:49] joyoes opened #457 "when upgrade to 1.14 of golang in casbin ？"
when upgrade to 1.14 of golang in casbin ？

[2020-05-12 05:16] nodece commented on #457
Could you tell me why?

[2020-05-12 06:47] nodece commented on #455
I thought about it yesterday. I found https://github.com/casbin/casbin/issues/439 is a good way to improve performance.  There is no concept of index in Casbin, so convert map to slice will not greatly improve. But it's a good idea in future.

[2020-05-12 06:51] DivyPatel9881 commented on #439
Okay, I will check this out.

[2020-05-12 07:14] joyoes opened #458 "What is difference of V1 and V2？"
What is difference of github.com/casbin/casbin/v2 v2.4.1 and github.com/casbin/casbin V1.19.1

[2020-05-12 07:36] GopherJ commented on #455
@UnderTreeTech

I wanna confirm that whether you'll replace slice by map in struct Assertion or not? if is sure, what's the plan and which version will release this feature? Actually my application is a large saas service, we really have millions of polices. We can't pay it if every enforce takes 1s.

1 million ~ 1second to me is not so slow, I'll try to find other ways to improve bench like using

[2020-05-12 11:48] GopherJ commented on #439
@DivyPatel9881 I would suggest a new interface similar to this: https://github.com/casbin/casbin-rs/blob/master/src/effector.rs

[2020-05-14 02:10] hsluoyz commented on #455
We can write a mapping function to map a policy slice into a string. The easiest way is to use the CSV format: `p, alice, data1, read` as the string.

Then use this string as hash key. We can create and maintain a map struct besides the policy slice array. This map will add and remove key together with policy add and remove.

Who can implement this?

[2020-05-14 02:43] hsluoyz commented on #432
How is evaluator like govaluate working? It's like Docker or run-time instruction translation?

And if we choose this function idea. Why not just re-write Casbin in Lua and embed a Lua interpreter for all languages?

[2020-05-14 04:47] nodece commented on #455
The feature can only improve add/remove policy performance.

[2020-05-14 10:18] GopherJ commented on #432
@hsluoyz  evaluator parses string as AST then use `Recursive descent` method to eval every part of expression.

[2020-05-14 12:49] foxluqi opened #462 "RABC with domain and resource"
I have the policy as below
[code]
How to setup model to let below request success?
[code]
I have try to write custom match function for g. But it does not work as expect.
[code]

[2020-05-14 13:09] GopherJ commented on #462
@foxluqi Why are you putting `*` in request, it looks strange to me

[2020-05-14 20:04] GopherJ commented on #432
@hsluoyz  I just did a fibonacci test using `rhai` and `rlua`.

the result of fibonacci(20):

rlua is 23x faster than rhai:)

I may do more bench test this weekend

[2020-05-15 10:28] foxluqi commented on #462
@GopherJ I putting * in request is because I have no idea which domain has the right on object at that point.

[2020-05-15 13:52] UnderTreeTech commented on #455
I don't understand why the draft implementation @hsluoyz mentioned couldn't improve enforce performance, could you explain it, thanks a ton.

[2020-05-15 15:44] GopherJ commented on #455
@UnderTreeTech

Enforce => **use** policies and request to check if certain user has the right to do something
Policy Management => add/remove policies

`Policy Management`'s changes will not influence `Enforce` speed, you'll just feel quicker when you try to add/remove policy, but `Enforce` will still have the same speed

[2020-05-15 16:05] nodece commented on #455
@UnderTreeTech The #439 can improve the enforce performance at the moment.

[2020-05-15 16:55] UnderTreeTech commented on #455
which go casbin version will implement this feature?

[2020-05-15 17:03] nodece commented on #455
If no one implement the feature, I will implement it tomorrow.

The feature will greatly improve the enforce.

Klaus <notifications@github.com>于2020年5月16日 周六00:55写道：

[2020-05-17 02:42] nodece commented on #439
@DivyPatel9881 Is there any progress?

[2020-05-17 02:47] hsluoyz commented on #432
The number looks nice. Expecting your result.

[2020-05-17 05:49] DivyPatel9881 commented on #439
Yes, I am on it. I have added ```EffectorStream``` interface and its corresponding default implementation as ```DefaultEffectorStream``` struct. Now just some changes have to be made in the enforcer implementation. After completion of changes in Enforcer implementation, I will be posting a PR.

[2020-05-17 12:34] nodece commented on #439
@DivyPatel9881 Thanks for your contribution. It is greatly improve performance.

[2020-05-17 14:19] GopherJ commented on #432
@hsluoyz While thinking more, I think it can also be dangerous to use lua stuff, because it looks more like a real language, that means also it may not be sandboxed and security issue may raise

[2020-05-19 05:06] beyondexp commented on #453
I also encountered the same problem，but I did't use "rejected". At the beginning, I found an article introducing casbin from this address. When I tried to run it, I got the same error as above. I carefully checked for a long time, and finally found that it was a problem caused by code comments. Just delete the code comment after "p = sub, obj, act, eft" to solve this problem.
**There is still a pr

[2020-05-19 11:29] nodece commented on #453
Thank you @beyondexp for your report. This is a good feature, but we don't support comments after expression.

I provide a correct model for you.
[code]

[2020-05-19 12:23] GopherJ commented on #453
@nodece  it seems that we have this supported using this line no?: https://github.com/casbin/casbin/blob/0aab1e445eb0e74491982b53c2d63c57880812c4/model/model.go#L65

[2020-05-19 13:32] nodece commented on #453
@GopherJ @beyondexp fixed in #464.

[2020-05-19 14:51] GopherJ commented on #453
ok yes do it in config module is more clean thanks for it

[2020-05-20 02:54] baronwithyou commented on #273
Just make sure your adapter and casbin are of the same version.

for example:
[code]

[2020-05-20 03:41] hsluoyz commented on #458
1. v2 uses Go modules.
2. v2 returns error for all function calls instead of causing panic.

[2020-05-20 03:41] #458 closed

[2020-05-20 03:42] hsluoyz commented on #457
Casbin works for Go 1.14

[2020-05-20 03:42] #457 closed

[2020-05-20 03:42] hsluoyz commented on #455
@nodece is this feature completed?

[2020-05-20 03:44] hsluoyz commented on #453
Closed as resolved.

[2020-05-20 03:44] #453 closed

[2020-05-20 03:46] hsluoyz commented on #354
@harsimranb this issue is solved, please see: https://casbin.org/docs/en/abac#scaling-the-model-for-complex-and-large-number-of-abac-rules

[2020-05-20 03:47] hsluoyz commented on #441
Closed as resolved.

[2020-05-20 03:47] #441 closed

[2020-05-20 03:48] hsluoyz commented on #419
@nodece @GopherJ

[2020-05-20 03:48] hsluoyz commented on #429
Is this finished?

[2020-05-20 03:50] hsluoyz commented on #368
Sorry that my URL was wrong, it should be: https://github.com/casbin/ruby-casbin

[2020-05-20 03:50] hsluoyz commented on #368
@calebfaruki can you add the code to it?

[2020-05-20 03:53] hsluoyz commented on #462
A request should not contain *.

[2020-05-20 03:53] #462 closed

[2020-05-20 09:48] GopherJ commented on #455
@nodece merge_effect's quick return is missing

[2020-05-20 12:18] nodece commented on #455
I don't know that current progress.   Ping @DivyPatel9881 .

[2020-05-20 12:28] nodece commented on #429
We've got some problems and waiting to solve the https://github.com/rhysd/github-action-benchmark/issues/30

[2020-05-20 12:58] nodece commented on #419
@maplebeats
part 1:
We already support multiple ABAC rule in #427.  With this feature, we can easily combine ABAC and RBAC.

part2:
Due to I don't know that your logic, I guess you should record user orders to casbin.

[2020-05-20 13:24] hsluoyz commented on #419
See docs about scaling ABAC rules feature: https://casbin.org/docs/en/abac#scaling-the-model-for-complex-and-large-number-of-abac-rules

[2020-05-20 17:25] MatthewPattell commented on #419
@nodece this simple example:

<details>
<summary>Show casbin model.</summary>
<p>

[code]

</p>
</details>

[code]

[2020-05-20 17:40] nodece commented on #419
Is user get own projects?

[2020-05-20 17:48] MatthewPattell commented on #419
@nodece I updated my [previous reply](https://github.com/casbin/casbin/issues/419#issuecomment-631615413).

[2020-05-21 08:09] nodece commented on #419
Maybe we can use RBAC with domain.
Model
[code]

Policy
[code]

Code
[code]

[2020-05-21 11:59] MatthewPattell commented on #419
Thanks for reply.

[2020-05-21 11:59] #419 closed

[2020-05-21 13:41] GopherJ opened #465 "By default disable logger"
When we run

[code]

I saw tons of log messages, I have doubt that this can be useful for human. Can we disable it by default?

[2020-05-21 16:01] nodece commented on #465
We can disable logger.

[2020-05-22 13:07] #465 closed

[2020-05-25 09:27] GopherJ opened #469 "missing role manager bench"

[2020-05-25 09:29] GopherJ commented on #469
It's important to know how long it took for `g(r.sub, p.sub)` or `g(r.sub, p.sub, domain)`

[2020-05-25 09:37] hsluoyz commented on #469
Sounds great. Can anyone work on this? @nodece @DivyPatel9881 @kingiw @hackerchai

[2020-05-25 09:39] DivyPatel9881 commented on #469
I will add benchmarking for RoleManager.

[2020-05-25 10:18] GopherJ commented on #469
@DivyPatel9881 At the same time could you fix also this line:

https://github.com/casbin/casbin/blob/95839a1d89bd2c3d7b1edea46d599a44089c76bc/model_b_test.go#L98

We don't have `data150` so it's not raisonable

[2020-05-25 20:23] GopherJ commented on #469
@DivyPatel9881

https://github.com/casbin/casbin-rs/blob/b3bd688fd7fbb3b0c497b0ad255e129ed549b945/benches/benchmark.rs#L108

[2020-05-25 22:20] nodece commented on #439
@DivyPatel9881 How is your progress?

[2020-05-26 05:54] DivyPatel9881 commented on #439
Almost done. Today I will be posting a PR regarding this.

[2020-05-26 14:43] hsluoyz opened #470 "Make an authorization plugin/middleware for kubernetes (k8s)"
Kubernetes is one of the biggest project in Go and we have no reason for not supporting it well. I hope we can develop a middleware or something similar to help Kubernetes user use Casbin as the authorization layer.

This is very important for us. Currently, no single k8s and its ecosystem users use Casbin because we don't have such a middleware.

Here's a link about how other projects integrate w

[2020-05-27 05:31] schungx commented on #432
AFAIK, Lua has a JIT.  That's gonna make it fly!

[2020-05-27 10:56] enix223 opened #471 "Get implicit permissions with resource group"
Thank you for such awesome project first.

I am building a system with RBAC and resource group as below, user associates with roles, and resource belongs to group.

## model.conf
[code]

## policy.csv
[code]

## program
[code]

however, the API return the resource group only
[code]

So, how can I retrieve the resources list instead of resource group?

[2020-05-27 11:20] nodece commented on #471
Hi , @hsluoyz , What do you think?

[2020-05-27 12:57] hsluoyz commented on #471
@enix223 you can call `GetUsersForRole()` on `data_group` to get `data1` and `data2`.

[2020-05-28 01:00] enix223 commented on #471
Thanks for your quickly response.

Yes, this solve my problem. However, it doesn't look very neat, is it possible the enforcer API handle this situation internally?

[2020-05-28 01:16] hsluoyz commented on #471
Any thought about how to provide such an API? @nodece @GopherJ @DivyPatel9881 @kingiw @dovics

[2020-05-28 10:34] GopherJ commented on #471
basically as the name of `GetImplicitPermissionsForUser` says it will just fetch `p` policies. It won't generate new `policies` based on indirect role links.

If we would like to have a new API, we shouldn't adjust this one

[2020-05-29 00:35] enix223 commented on #471
ok, that's fine, still hoping a new API to support this.

[2020-05-29 00:35] #471 closed

[2020-05-29 10:57] lfarrel6 opened #473 "Role inheritance with pattern matching domains"
### Background Context

I need to configure a RBAC control system with domains. Users can be members of many domains and have a specific role within each domain. I want to configure the roles in the system to have a role hierarchy within the scope of these domains.

For example a user with role guest in domain/1 would have read only access. A user with role admin in the same domain should inherit

[2020-05-29 11:59] hsluoyz commented on #473
@lfarrel6 I think you want this feature: https://github.com/casbin/casbin/pull/371

Policy should change to:

[code]

[2020-05-29 12:28] lfarrel6 commented on #473
Ok. I am I correct in saying that #371 is not yet supported?

[2020-05-29 13:29] hsluoyz commented on #473
Well, the temp conclusion for that feature is: you can use: https://github.com/dovics/domain-role-manager to enable that feature. If you are in a hurry, you can use it right now.

We are also working on merging it back to the core library (this repo) these days, see: https://github.com/casbin/casbin/pull/371#issuecomment-635948706 but it requires some time.

[2020-05-29 13:40] lfarrel6 commented on #473
Cool, thanks for your help!

[2020-05-29 13:40] #473 closed

[2020-05-29 23:26] GopherJ opened #474 "make g(r.sub, p.sub, domain) lazy/cached"
Often an user/role has multiple policies on different objects, actions.

[code]

If a request comes, `["bob", "domain1", ""data1", "action1"]`, there will be in total 4+ call `has_link("bob", "alice", "domain1")`.
which is not ideal, because we can reduce this function call to only once. So I think we should try to find a way to make `g` lazy.

[2020-05-29 23:52] GopherJ commented on #474
[code]

[2020-05-30 10:42] nodece commented on #474
@GopherJ I submitted a PR: #476 , waiting your review.

[2020-05-30 19:26] GopherJ opened #477 "role graph serialization for front-end usage"
![Screenshot from 2020-05-26 22-49-02](https://user-images.githubusercontent.com/33961674/83337433-798ba380-a2bb-11ea-865b-fd0a4e84c346.png)

I have a covid-19 project which shows virus propagation chain, so I came up with a small idea of serializing role manager.

basically the serialized json should be similar to the following to be used by frontend libraires such as d3.js

[code]

[2020-05-30 19:31] GopherJ commented on #477
Or a more general format:

[code]

The second format is more general but actually we dont care about `edges` so I prefer the first example.

[2020-05-30 19:32] GopherJ commented on #477
A difficulty of serialization is `circular link`.

[2020-05-31 14:53] nodece commented on #477
Visual analysis is good idea. Yang had the same idea.

[2020-06-03 12:36] visur commented on #299
I think, @weberr13, you want something that I solved by matcher function overwrite:
**Model**:
`	m := model.NewModel()
	m.AddDef("r", "r", "usr, url, mtd")
	m.AddDef("p", "p", "scp, per, url, mtd")
	m.AddDef("g", "g", "_, _, _")
	m.AddDef("e", "e", "some(where (p.eft == allow))")
	m.AddDef("m", "m", "g(p.per, r.usr, p.scp) && keyMatch(r.url, p.url) && regexMatch(r.mtd, p.mtd)")`

**Policy**:
`	//

[2020-06-04 11:59] DeppLearning opened #481 "How to use matched ressources from keyMatch in policy model?"
I'm trying to implement a simplified RBAC model with groups on users and resources (REST). I have seen the tutorials for this use-case (https://casbin.org/docs/en/rbac) but I'm wondering if there is a simplified way to do this:

I want to have two groups of users, admins who can do anything with any resource, and simple users who can only access their own resources. I will switch to something more

[2020-06-05 04:58] hsluoyz commented on #477
Actually I planned to have this feature in the new Casbin dashboard project: https://dashboard.casbin.org/ but actually no progress for now because we are just in lack of developers :(

[2020-06-05 06:01] techoner opened #484 "an error occurs when run EnforceWithMatcher()"
panic: Unable to access unexported field 'sub' in token 'r.sub' [recovered]
	panic: Unable to access unexported field 'sub' in token 'r.sub'
[code]

[2020-06-05 06:53] GopherJ commented on #481
you can define a custom matched and pass

r. sub，r. obj as parameters

[2020-06-05 07:17] hsluoyz commented on #481
I think you need to write a custom function like `keyExtract()` to extract `:sub` out of `/users/:sub`, then you can compare it with `sub`.

[2020-06-05 07:39] DeppLearning commented on #481
Thanks @GopherJ  and @hsluoyz, I'm using the rust version. Somehow thought I couldn't add custom functions there.

[2020-06-05 07:39] #481 closed

[2020-06-05 08:02] hsluoyz commented on #481
@DeppLearning why can't add?

[2020-06-05 12:40] #484 closed

[2020-06-05 13:30] nodece commented on #481
Let's ping @GopherJ. I'm not sure if supported the feature.

[2020-06-07 01:46] hsluoyz commented on #376
Closed as stale.

[2020-06-07 01:46] #376 closed

[2020-06-07 13:21] #474 closed

[2020-06-08 17:38] ashish612 opened #487 "unable to import casbin package in project"
When trying to reference casbin package in the project, it fails with below error

[code]

[2020-06-09 00:13] hsluoyz commented on #487
It seems to be a bad network connection issue, not a Casbin code issue.

[2020-06-09 03:28] #487 closed

[2020-06-10 03:13] rus-ik opened #489 "Can you please update casbin version on packagist.org to the latest release"
Thanks in advance

[2020-06-10 03:35] hsluoyz commented on #489
@rus-ik please raise this issue in PHP's repo: https://github.com/php-casbin/php-casbin

[2020-06-10 03:35] #489 closed

[2020-06-10 03:37] hsluoyz commented on #355
Merged in: https://github.com/casbin/casbin/pull/425

[2020-06-10 03:44] hsluoyz commented on #434
@ashwinsadeep you can implement your own role manager to handle all `g` policy rule logic: https://casbin.org/docs/en/role-managers . Only provide `p` rules in the Casbin adapter. All `g` rules are handled through the new role manager.

[2020-06-10 03:50] ashwinsadeep commented on #434
@hsluoyz We've eventually settled on a somewhat similar approach. Subject role mapping is passed along in a JWT. At the enforcer, we get the subject role mapping from the JWT and use those roles during enforcement.

Casbin adapter is only loading p policies which does not change very often.

[2020-06-10 03:57] hsluoyz commented on #434
Good to hear that you found the solution! I will close this issue for now.

[2020-06-10 03:57] #434 closed

[2020-06-10 08:05] navono commented on #201
@misterion hi, Do you complete demo code?

[2020-06-10 09:54] hsluoyz commented on #368
Closed as stale.

[2020-06-10 09:54] #368 closed

[2020-06-10 09:56] hsluoyz commented on #393
Any progress?

[2020-06-10 10:00] hsluoyz commented on #367
It's up to the application to have more complex mechanism to define what "disabling Casbin" means. But currently, Casbin itself will let all requests pass if it's disabled.

[2020-06-10 10:00] #367 closed

[2020-06-10 10:02] hsluoyz commented on #332
Closed as stale.

[2020-06-10 10:02] #332 closed

[2020-06-11 02:45] hsluoyz commented on #415
@speza I think we agreed on updating adapter first, then update memory. Can you make a PR for it?

[2020-06-11 12:43] navono commented on #201
[code]
should be
[code]

[2020-06-11 13:12] misterion commented on #201
I didn't found ways to do this with non modified casbin. So we had change an enforcer and add custom role manager. You can deep look at here https://github.com/ProtocolONE/rbac

[2020-06-12 00:29] navono commented on #201
@misterion Thank you.

[2020-06-12 04:08] #415 closed

[2020-06-15 07:01] amiyamandal-dev opened #491 "LoadPolicy not working with mongodb adapter"
hello,
working on a piece of code but seem like not working at all.
1. haspolicy is always sending state of false if the policy is in the database
  for that, I have to make a query in DB to check that policy exist
2. LoadPolicy is not working due to this when API is called API won't work
[code]

[2020-06-15 07:50] hsluoyz commented on #491
@nodece @GopherJ @dovics can anyone look into this issue?

[2020-06-15 08:23] dovics commented on #491
Hi~ @amiyamandal-dev This is because the value of `v0` is empty, the loadPolicy will return when find the first empty field.

I am not quite sure what your first field is, you can delete it if it is not needed，But please don't leave it empty

[2020-06-15 08:37] amiyamandal-dev commented on #491
hi @dovics and thanks for replying.

Since I want to create a general policy and some special policy.
So when for general policy.
[code]
since API is self explanatory that anyone can register to it.
Thing is that when when no policy is their its working fine. AddPolicy able to insert in db and all the check is working fine.

if theirs is any way for making general policy

[2020-06-15 09:06] dovics commented on #491
@amiyamandal-dev I guess you need this
[code]
and then use matching func in matcher
[code]
if you need use the `g()` in matcher, you could run at first
[code]

[2020-06-15 09:25] amiyamandal-dev commented on #491
@dovics thanks it worked

[2020-06-15 09:37] Despire opened #492 "Return multiple matched results?"
Is there a way I could retrieve all the matches result from the Enforce method? Currently it returns only the [first matched result](https://github.com/casbin/casbin/blob/master/enforcer.go#L520-L529).

https://github.com/casbin/casbin/blob/c6a4ba2082f33e9e3e494151bd95e0e3b183a3fc/enforcer.go#L520-L529

The reason I need all the matched results is the following:
I have something called a scope whi

[2020-06-15 10:25] hsluoyz commented on #492
@nodece @dovics

[2020-06-15 10:46] nodece commented on #492
Hi @Despire, Casbin should support the feature, but  when casbin found use has certain policy, It will break check.

You can checkout https://github.com/casbin/casbin/blob/master/effect/default_effector.go.

[2020-06-15 11:43] Despire commented on #492
Hi
yes it will break the check. So maybe a different method could be used for that case ?

for example it could look something like this

[code]

[2020-06-15 12:21] nodece commented on #492
Your idea is very good. Actually, there's only one hit policy.

[2020-06-15 12:31] dovics commented on #492
Hi @Despire  Your needs are so special that I don't think many people need it,

I provide a solution for your needs,  You can write an effort like this
[code]
casbin provide  `SetEffect()` to set youself Effect, You can receive what you want in the channel,

[code]

[2020-06-15 12:39] Despire commented on #492
@dovics Hi, yes I already thought about a custom Effector,
The issue with that though is that when I receive multiple HTTP request at the same time, and they are use the same SyncedEnforcer they will all use the same channel and the result would be undefined

[2020-06-16 01:44] rrasulzade opened #493 "Implement cross-domain role inheritance: g, admin, developer, domain1, domain2"
Hi there,

I'm building an RBAC system with domains. There are some constraints: Users are admins associated with permissions in an organization. Each organization can have multiple partner organizations. Once a partnership is established, admin users in both organizations will need to have permission to access the resources of the partner organization. The desired behaviour is to give permissions

[2020-06-16 02:14] w4-hanggi opened #494 "Allow permissions to be added to users in RBAC?"
Why it is allowed to add a permission to user without role?

Is it reasonable?

whats the pros and cons?

[2020-06-16 04:47] hsluoyz commented on #494
If you don't like it, you can just force to assign permissions to roles. We support it for ACL model (without RBAC or roles).

[2020-06-16 04:47] #494 closed

[2020-06-16 04:48] hsluoyz commented on #493
@nodece @GopherJ @dovics

[2020-06-16 04:50] nodece commented on #493
@rrasulzade  Please upgrade latest version then read the  https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac.

[2020-06-16 12:17] rrasulzade commented on #493
thanks @nodece yes, I'm aware of the new domain pattern matching feature and that's how I'm using
[code]
But my question isn't about modelling the given policy example above. It's related to cross-domain access. The challenge I'm facing is how to assign external roles to members of `domain::orgA` (Alice and Eve) to give permission to access `domain::orgB` once orgB and orgA become partner organiza

[2020-06-17 04:44] ticktap opened #496 "suggestion: add a rule of effect "Allow-override""
Add an expression like `some(where (p.eft == allow)) || !some(where (p.eft == deny))`，The default result is true, both allow and deny authorizations are supported, allow overrides the deny.

[2020-06-17 04:56] hsluoyz commented on #496
@ticktap can you make a PR?

[2020-06-17 05:00] ticktap commented on #496
@hsluoyz ok!

[2020-06-17 05:05] dovics commented on #493
@rrasulzade Currently, Casbin does not support inheritance relationships between domains, This feature may require adding the new model syntax and needs to be discussed. maybe yuo can try using `/orgA/orgB` instead

[2020-06-17 05:17] dovics commented on #492
There seems to be no better way than locking, but this will degrade performance. Maybe you can try multiple casbin instances. I know none of these solutions are good, but if the Casbin wants to support https://github.com/casbin/casbin/issues/439, it seems difficult to implement your requirement.

[2020-06-17 07:59] Despire commented on #492
I totally agree with that you prefer performance and that most of the times you just need a single hit match.

But there also may be cases where the business logic requires to compare all the matches, (in my case it's the scope I mentioned), even though these are less likely to occur.

One possibility would be to implement one Enforce that would just match a single hit and you could implement #439

[2020-06-17 10:12] nodece commented on #492
@Despire Thank you for your understand.

[2020-06-17 10:12] #492 closed

[2020-06-17 10:24] GopherJ opened #498 "user data management"
I'm wondering if we can add custom `data` for RBAC. Sometimes we would like to add custom data for specific user. Or let childrent inherit parent's data (if the data is public)

[2020-06-19 08:51] UnderTreeTech commented on #455
Any updates?
Looking forward to switching to O(1) for inserting/removing policy.

[2020-06-19 12:41] nodece opened #499 "performance: switch to O(1) for inserting/removing policy"
## Summary
https://github.com/casbin/casbin/issues/455#issuecomment-646519444

[2020-06-20 02:11] hsluoyz commented on #455
@UnderTreeTech see: https://github.com/casbin/casbin/pull/500

[2020-06-20 07:56] #499 closed

[2020-06-20 13:47] #455 closed

[2020-06-22 01:54] hsluoyz commented on #423
@nodece @GopherJ @zhmushan

[2020-06-22 08:40] msean opened #501 "how to set casbin conf if I want to use rabc with resource roles at the same time match the restful api"
I use the casbin with rabc with resource model, this is my conf
[code]
this is the policy:
[code]
but it can not match the request:
[code]
if I want to match the /api/:id restful api, how to set the model conf?

this is the go test code
[code]

[2020-06-22 09:30] GopherJ commented on #501
@msean your code looks good to me, but I didn't find where have you added the following policies:

[code]

You have executed `ClearPolicy` and then you just called:

[code]

[2020-06-22 09:33] GopherJ commented on #501
BTW @dovics @nodece  do you think that we should remove the `name` parameter of `MatchingFunc`, It's not useful to me and it causes confusion like here:

@msean called:

[code]
but `"g2"` has no sense

[2020-06-22 09:40] msean commented on #501
It's my fault edit
[code]
now, I  correct the code

[2020-06-22 10:09] dovics commented on #501
hi @msean @GopherJ  I think this is a bug. Casbin does not use the rolemanager in the model when creating the enforce, please see https://github.com/casbin/casbin/blob/master/enforcer.go#L168, so if we call `AddNamedGroupingPolicy`, the rolemanager in enforcer will replace the one in model through `BuildIncrementalRoleLinks()`

Currently I have no idea to fix it, so I suggest you call
[code]

[2020-06-22 12:39] GopherJ commented on #501
Ok I see, let's do this:

[code]

[2020-06-22 13:58] lominskyi-perfectial opened #502 "GetAllRoles gets nil pointer"
[code]

#policy.csv
[code]

#conf.model
[code]

#Result
[code]

Is there anything I can do? I use: github.com/casbin/casbin/v2
Thanks!

[2020-06-22 14:09] dovics commented on #502
@lominskyi-perfectial I think you should update to the lastest version, you are still using 2.0.0

[2020-06-22 14:24] lominskyi-perfectial commented on #502
@dovics updated to 2.7.2. Get the empty array now.
Gonna read the doc, I might miss something sufficient

[2020-06-22 14:34] #502 closed

[2020-06-22 19:17] tpoxa opened #503 "Bytes instead path to model file"
I am willing to deliver my app as a single binary file. I use go-bindata to bind static files into go code.
Is there any way to provide casbin bytes instead of a file path?

Thanks.

[2020-06-23 01:36] hsluoyz commented on #503
@tpoxa model can be loaded via code or string: https://casbin.org/docs/en/model-storage#load-model-from-code . Policy can also be added/removed via code (mgmt API and RBAC API). Is this what you want?

[2020-06-23 04:55] nodece commented on #503
You should need the code:

[code]

[2020-06-23 13:16] tpoxa commented on #503
Thank you @nodece  I think I just need to update my casbin.

[2020-06-23 13:16] #503 closed

[2020-06-23 23:16] GopherJ commented on #498
Finally I think it's maybe not a good idea to have this because the persistence will be a problem, it's similar to `policy` but just for specific usage.

A workaround is to use: `p2` and use `named` function to fetch them

[2020-06-23 23:16] #498 closed

[2020-06-23 23:17] GopherJ commented on #439
I think this can be closed

[2020-06-23 23:17] #439 closed

[2020-06-23 23:31] GopherJ opened #504 "[QUESTION] what's the difference of `Enforcer` and `SyncedEnforcer` if by default we have locks in every struct with map?"
I'm confused while seeing `Lock` in every struct with `map. I'm wondering if it's correct and ncessary?

It's not necessary for `Enforcer` because normal `Enforcer` is not thread-safe.

For syncedEnforcer we can have multiple goroutines reading/writing, we already have a top-level mutex, why do we still need other mutex/lock?

Any idea?

[2020-06-23 23:33] GopherJ commented on #504
In go, we can use `go test -race` for testing, have we tested what happens if we remove `child locks`?

[2020-06-23 23:40] GopherJ commented on #504
Here the locks which I think unecessary

package model

- https://github.com/casbin/casbin/blob/a5d65bea854ccfa2d9b802813bbcc9323b9e1acd/model/policy.go#L60
- https://github.com/casbin/casbin/blob/a5d65bea854ccfa2d9b802813bbcc9323b9e1acd/model/policy.go#L66
- https://github.com/casbin/casbin/blob/a5d65bea854ccfa2d9b802813bbcc9323b9e1acd/model/policy.go#L75
- https://github.com/casbin/casbin/blob/a

[2020-06-23 23:43] GopherJ commented on #504
It's worth noting if we are using `global mutex` I think `sync.Map` is then unecessary for sub structs, because `sync.Map` has also mutex inside.

[2020-06-23 23:51] GopherJ commented on #504
In role manager we are using `sync.map` but I'm not sure if it's necessary to have because its performance is worser than `Map` and we already have top-level lock in synced enforcer

https://github.com/casbin/casbin/blob/a5d65bea854ccfa2d9b802813bbcc9323b9e1acd/rbac/default-role-manager/role_manager.go#L44

[2020-06-23 23:54] GopherJ commented on #504
I think in go by default we all want `SyncedEnforcer`, that's why these locks exists because many users may use normal enforcers in multiple threads.

[2020-06-23 23:59] GopherJ commented on #504
So the question is:

And:

[2020-06-24 01:05] dovics commented on #501
@GopherJ I totally agree with you, I moved the `RoleManager` to `Model`, Please review

[2020-06-24 02:50] hsluoyz commented on #504
@nodece @dovics

[2020-06-24 02:51] hsluoyz commented on #498
@nodece @dovics

[2020-06-24 05:26] msean commented on #501
There is an other question for help:
[code]
My expectation is:
[code]

[2020-06-24 06:11] dovics commented on #501
@msean Casbin don't support setting act in g2, `g` is used to handle inheritance relationship

In fact, your original policy has been able to meet your expectation if don't have`p, Leader, ResGroup1, write`, You maybe want this
[code]

[2020-06-24 06:32] msean commented on #501
If I want to add two resource into  g2:
[code]
and I just want to  set /api/v2/:id only read access, so it can not to set /api/:id and /api/v2/:id to a group?

[2020-06-24 06:41] GopherJ commented on #501
you have put two _ for g2，then your g2 function will only accept two parameters

[2020-06-24 08:00] msean commented on #501
@GopherJ if I put three _ for g2,
The third _ can be regarded as act?
How to set model conf?

[2020-06-24 09:43] GopherJ commented on #501
@msean the third argument is `domain` it's for puting tings in different domain, if you need another group for `act`, I think you can use `g3` with two `_`

[2020-06-25 08:35] lihaotian0607 opened #506 "how to distinguish users and roles?"
[code]

[code]
?????  why is the output the same?

[2020-06-25 10:41] hsluoyz commented on #506
See: https://casbin.org/docs/en/rbac#how-to-distinguish-role-from-user and https://github.com/casbin/casbin/issues/193

[2020-06-25 10:41] #506 closed

[2020-06-25 12:57] UnderTreeTech commented on #504
I have different opinion. I don't think SyncedEnforcer or the top level mutex is graceful implementation, **it should be deprecated**. In casbin policy is the core object, it includes G and P policy.  Casbin should handle the concurrent access policy scenario at the bottom which is truely transparent to adapter、enforcer or other policy operators.
I agree with config lock mutex is not necessary. Us

[2020-06-25 14:56] nodece commented on #504
Yep, I agree with @UnderTreeTech, Casbin should provides a threadsafe model, It is transparent for adapter、enforcer.

[2020-06-25 15:11] nodece commented on #504
Hi @hsluoyz, @GopherJ  I think we should add v3 proposal or roadmap.

The following is support feature in future:

- [ ] threadsafe model:  deprecated syncedEnforce.
- [ ] audit log: record  enforcer、policy changes and so on log.
- [x] quick return on enforce: #472
- [x] Refactor RM to model: #505

and so on

[2020-06-25 15:12] GopherJ commented on #504
@nodece  cannot we use meilestone?

[2020-06-25 15:16] nodece commented on #504
milestone are also is good idea, it's similar roadmap.

[2020-06-25 16:41] UnderTreeTech commented on #504
@nodece In addition, Based on #500 CachedEnforce can be deprecated too. In most RBAC authentication scenario, user can get auth result by using GetRolesForUser and HasPermissionForUser, which authentication result is returned in microseconds.

[2020-06-25 17:10] GopherJ commented on #504
@UnderTreeTech I don't think it should be deprecated.  CachedEnforcer is pretty useful for heavy calculations.

[2020-06-25 17:15] GopherJ commented on #504
However I do  think current cachedEnforcer lacks of control，how can it defend DOS attack?  It can easily overflow the memory.

[2020-06-26 00:34] UnderTreeTech commented on #504
In my scenario, I store user's role in G policy, userid is the key and roles is the value. At the same, P policy store role's resources in P policy, roleid+object+action is the key and it's index in the slice is the value. @dovics has implemented policy map, find element overhead is O(1), So I can get authentication result asap by using Roles And Policy apis but not enforce.
I think this is a comm

[2020-06-26 05:58] UnderTreeTech commented on #504
It's not the duty for application to defend or avoid DDOS attack but Advanced Anti-DDoS Service. Application responsible for monitoring abnormal QPS, burst traffic and file warnings timely.

[2020-06-26 06:36] GopherJ commented on #504
@UnderTreeTech

I think yes and no. A basic control is necessary like the capacity of cache, use LRU,  and clear cache once policy changed etc. Now these features are lacking.

[2020-06-26 06:40] GopherJ commented on #504
@UnderTreeTech

I think this is a common way to achieve rbac using casbin, so it is reasonable to deprecate CachedEnforcer. @GopherJ

How about more complicated senario?  when there are many policies, I wouldn't want the enforcer to repeat the same work.

[2020-06-26 08:14] UnderTreeTech commented on #504
First, CachedEnforcer doesn't make great performance improvement based on policy map. Second, CachedEnforcer consumed another more memory while user must keep mind to maintain cache changes, otherwise user would get wrong authentication result. Based on the issues i don't think it's worth to use CachedEnforce while we have thread safe policy APIs.

[2020-06-26 08:18] GopherJ commented on #504
@UnderTreeTech  so how do you use `keyMatch` and `regexMatch` or other custom functions defined by users,

An enforce can be really heavy when there is a combination of these things, if these is no cache...I cannot image how bad the performance can be.

[2020-06-26 13:32] nodece commented on #504
In my option, I prefer to set cache in my application instead of SyncedEnforcer.

[2020-06-27 00:19] UnderTreeTech commented on #504
Yep, my scenario is not complicated, just standard RBAC, I only worry about  CacheEnfocer would cause authorization result is not consistent in concurrent read/write polices. That's disaster to saas applications.

[2020-06-27 12:28] GopherJ commented on #504
@UnderTreeTech read is much more frenquently than write. If policies changes, we should clear cache.

[2020-06-29 12:08] Sefriol commented on #201
I think this could be solved with adding domain inheritance similar like in here: https://github.com/casbin/casbin/issues/270#issuecomment-538033723

Therefore, if you have global domain, which is a "parent" to all other domains, adding an admin user to global domain should give admin rights to any other child domain under it.

Combined with regexMatch, getting the desired result should be pretty

[2020-07-01 15:10] AravinthSankar-hash opened #507 "Enforce method for multiple roles and actions"
I have list of users, each user can have multiple roles (assume one have 100 roles), total of 500 roles are available, also there are multiple actions that users can perform (like create file, edit file, delete file). I’m using Casbin for authorization. Attached the sample data below.
Now consider one user logs in (he has 10 roles – role1, role2…etc.), I need to check for 5 actions that this user

[2020-07-01 16:30] GopherJ commented on #507
@AravinthSankar-hash You can use `GetImplicitRolesForUser` to check if specific user has all the roles that it should have.

You can call `GetImplicitPermissionsForUser` to check if specific user has all the actions it should have

[2020-07-01 17:01] GopherJ commented on #507
At the same time @nodece @divy9881 @dovics maybe we can offer:

HasImplicitPermissionForUser
HasImplicitPermissionsForUser

[2020-07-02 05:24] hsluoyz commented on #423
@00LT00 can you take this issue?

[2020-07-02 10:40] kowthalganesh commented on #507
@GopherJ Just a thought process to align,
HasImplicitPermissionForUser
HasImplicitPermissionsForUser

it's good and goes to find the permission user-specific, But some projects user details are confidential, if you privilege to roles too, that will make a broader scope to achieve the solutions

Example:

HasImplicitPermissionForRole
HasImplicitPermissionsForRole

[2020-07-02 12:33] GopherJ opened #508 "setup issue-label-bot?"
https://github.com/marketplace/issue-label-bot seems good.

Seems enhancement, question are missing. Not sure if it's a good idea then..

[2020-07-02 12:41] GopherJ commented on #507
@kowthalganesh casbin will not distinguish user/role. Even we have `user/role` notion in API but when comes to implementation, an user is a role, a role is an user.

[2020-07-02 14:01] hsluoyz commented on #501
Hi @msean we have the `SetRoleManager()` API. So after you created your own role manager. You should call it to attach it to the enforcer. See this example:

https://github.com/casbin/casbin/blob/6f8386053d230fdf554aadca6339fd214a374e6c/model_test.go#L352-L366

@GopherJ @dovics if the above way works, we have no reason to modify the model. In the initial design, model is just supposed to handle th

[2020-07-02 14:08] hsluoyz commented on #504
@GopherJ I think this PR: https://github.com/casbin/casbin/pull/500 added all the locks. Do you have a performance downgrade number? Like 20% performance dropped? If it affects much, I'm considering reverting that PR.

[2020-07-02 14:11] GopherJ commented on #504
@hsluoyz I don't think those locks will affect that much. Normally it's quick to acquire a lock. I think we can add new PR to handle this issue instead of recerting that because it adds good feature.

Before that PR we already have many locks

[2020-07-02 14:18] hsluoyz commented on #504
@GopherJ can you help remove the unnecessary locks?

[2020-07-02 14:26] hsluoyz commented on #508
Seems interesting! I'd like to see how it works for Casbin-RS first.

[2020-07-02 14:36] GopherJ commented on #501
@hsluoyz  We don't need role manager in the root level I believe.  Because a role manager is attached to a Policy/Assertion.

[2020-07-02 14:50] hsluoyz commented on #501
The most important API for a role manager (https://github.com/casbin/casbin/blob/master/rbac/role_manager.go) is `HasLink()`. And it is only used when an enforcer is executing the g(_, _) function in the matcher, which is defined in a model. So we can see it is the enforcer that integrates all parts (model, adapter, role manager) together. Purely binding a role manager to a model doesn't make much

[2020-07-02 14:52] GopherJ commented on #508
Tried here: https://github.com/casbin-rs/diesel-adapter/issues/43

[2020-07-02 16:14] GopherJ commented on #504
@hsluoyz yes will try to do it

[2020-07-03 04:47] hsluoyz commented on #504
Fixed in: https://github.com/casbin/casbin/pull/510

[2020-07-03 04:47] #504 closed

[2020-07-03 04:58] hsluoyz commented on #507
@AravinthSankar-hash call `enforce(user, action, ‘write’);`, Casbin can automatically calculate all the roles you have, you don't need to pass the roles into that function manually.

The 5 actions are also unnecessary. If you need to check 5 actions for one time, why not define it as a new action. And this new action inherits 5 actions.

[2020-07-03 04:58] #507 closed

[2020-07-03 04:59] hsluoyz commented on #501
Closed as resolved.

[2020-07-03 04:59] #501 closed

[2020-07-03 18:58] DGollings opened #511 "(ABAC) Performance checking many unique rules?"
Hi,

Trying to get a complex set of permissions going, because of many actors and domains I got stuck implementing RBAC and am going for a more finegrained approach. It's a logistical platform, so a single shipment has a sender and receiver but also multiple other parties that can (or can't) see or interact with it.

So I figured it would make sense to allow implementing rules for every single shi

[2020-07-03 19:06] DGollings commented on #511
Was poking around the documentation. Would defining a 'g' for each shipment make the problem better or worse you think?

(note: I haven't read the docs for `g()`)
So prefilter using `g(r.obj, p.obj)`, then each 'group' would only have the two possible rules, Read/Write

[2020-07-08 08:42] aguss787 opened #516 "Performance Issue when Policy Evalution is Slow"
There is a use case in our authorization services that requires additional information from other service.

In other locally evaluated policy, casbin is fast enough to meet our requirement. However, it is not the case when we include our use case described above. After some investigation, we found that the problem is that the policy is evaluated sequentially, thus making evaluation of multiple pol

[2020-07-08 15:24] GopherJ commented on #516
@aguss787  Hi, this can sure be considered adding into casbin, but I think we also need to think about different scenarios. A threshold customizable to activate multi-core ability.

[2020-07-09 05:57] aguss787 commented on #516
Sure, I think that's make sense. I will try to put it on a parameters or config.

[2020-07-09 08:01] aguss787 commented on #516
@GopherJ I updated my PR to make it optional with by default it turned off, so others will not affected.
btw, do you mind helping me with the codeclimate's code limit, I don't think I can make it any smaller :sweat_smile:

[2020-07-09 09:10] GopherJ commented on #516
@aguss787  it's fine for me, not sure why codeclimate has 500 code limit ~, maybe @nodece  @dovics @divy9881  can help

[2020-07-10 00:44] hsluoyz commented on #493
@rrasulzade we can use `g, admin, developer, domain1, domain2` to declare that the `admin` role in domain1 will inherit the permissions of the `developer` role in domain2.

[2020-07-10 00:47] hsluoyz commented on #493
Can anyone take this issue? @nodece @GopherJ @techoner @BetaCat0 @00LT00 @dovics @438561537 @yahoo17

[2020-07-10 00:48] hsluoyz commented on #511
@nodece @GopherJ @dovics

[2020-07-10 01:06] rrasulzade commented on #493
@hsluoyz I introduced a term `group` to collect all admin users of a certain organization (domain). Using rbac hierarchy and domain matching features, I can create partnership connections between domains. I defined these groups under global domain with `*`, so using KeyMatch2 can connect 2 different domains through a globally accessible group. There's a certain naming format for the group as well,

[2020-07-10 01:22] hsluoyz commented on #511
@DGollings sorry for late response.

First, can you try to modify your matcher to:

[code]

Casbin uses govaluate for matcher evaluation and it supports "short-circuit" feature:  https://github.com/Knetic/govaluate/issues/36. So ideally, if `r.obj == p.obj` part is true, it will never waste time in evaluating other parts.

If the above doesn't help, we should can a built-in optimization inside Cas

[2020-07-10 09:17] DGollings commented on #511
@hsluoyz sorry, can't try your suggestion as I had to abandon Casbin due to time constraints (trying to release version 1.0 of a new project this monday :))

I can however tell you how I fixed it for my usecase:
The problem I was having with the current Casbin implementation was answering the question:
"Casbin - here's all the shipments in the database, every single one of them, which ones does th

[2020-07-14 07:34] yk17310320725 opened #517 "Batch operation will be add repeatedly"
When I was fixing  php-casbin, I found that AddPolicies() in Go would add repeatedly.
eg.

[code]

[2020-07-14 08:09] hsluoyz commented on #517
@00LT00 can you take this issue?

[2020-07-14 08:16] GopherJ commented on #517
Ref: https://github.com/casbin/casbin/issues/455#issuecomment-626501614

[2020-07-14 13:27] misu200 opened #518 "allowing the parsing of policy file to deal with commas inside columns"
From forum: https://forum.casbin.org/t/13

If I have in Model .conf like:
`matchers m = eval(p.sub_rule) && r.obj == p.obj && r.act == p.act`

then in policy file the following stuff works:
`p, my_custom_func(r.sub.Age), /data1, read`

BUT not the following kind of stuff where my custom function has at least 2 parameters:
` p, my_custom_func(r.sub.Age,r.sub.MaxAge), /data1, read`

....because the

[2020-07-14 14:28] hsluoyz commented on #518
@00LT00 @dovics can anyone take this issue?

[2020-07-15 00:32] GopherJ commented on #518
@misu200 There are some options you can use:

1. inline your custom function and make sure it's an expression without comma seperator, in the first version of `scale ABAC feature` we would like to only support this format.

2. try to use `""` to contain your `my_custom_func(r.sub.Age,r.sub.MaxAge)` to see if it works. I believe still no, because we need to consider removing `\"` to make it works.

[2020-07-15 01:31] hsluoyz commented on #518
I have a good way: use regex's split (https://yourbasic.org/golang/split-string-into-slice/#split-by-whitespace-and-newline) to split on all commas except the ones inside brackets:

a, b, c --> [a, b, c]
a, func(b, c) --> [a, func(b, c)]

Can anyone implement it?

[2020-07-15 01:39] #518 closed

[2020-07-15 01:40] hsluoyz commented on #518
@misu200 fixed in: https://github.com/casbin/casbin/pull/521

[2020-07-15 03:20] 95Key opened #522 "Add DeleteRolesForUserInDomain"
At present, there are ways to DeleteRoleForUserInDomain in the project，
I hope it can be increased DeleteRolesForUserInDomain  like DeleteRolesForUser
It can easily operate the domain

Thank you for your contribution！

[2020-07-15 03:45] hsluoyz commented on #522
@nodece @GopherJ @00LT00 @dovics can anyone take this issue to add this API?

[2020-07-15 05:51] #522 closed

[2020-07-15 13:51] #517 closed

[2020-07-15 20:13] rrasulzade opened #527 "How to query all permissions from grouping policy?"
I'm looking for a solution to get all permissions which are referenced in grouping policy. i.e:
[code]
Let's say I query `role:admin` to get its permissions which are `[[data1_group data1 read] [data2_group data2 read]]`
How can I achieve this in Casbin?

Thanks

[2020-07-15 20:35] rrasulzade commented on #527
Interestingly, `GetImplicitRolesForUser(user, domain)` returns all grouping policies even the ones are not under the given domain.  In an example above I'll get `data2_group data1_group` if I query `role:admin` as a user and `domain1` as a domain inputs.

[2020-07-15 21:52] hsluoyz commented on #527
@nodece @GopherJ @dovics @00LT00

[2020-07-17 04:20] nodece commented on #527
@rrasulzade I guess you need to call `GetImplicitPermissionsForUser`.

[2020-07-18 02:10] GopherJ opened #534 "go test sometimes can modify examples/"
This is abnormal, normally casbin only need to read them.

[2020-07-18 02:23] #534 closed

[2020-07-18 02:23] GopherJ commented on #534
I had this issue few times, still no idea why it happens.

[2020-07-18 03:32] rrasulzade commented on #527
Thanks @nodece, Not sure if this is a right thread for this question, What's the update procedure of a policy in Casbin look like? Should I delete the old one and add a new policy? I don't see any API functions for updating an existing policy in Casbin DB

[2020-07-18 04:35] nodece commented on #527
Casbin doesn't provide update API, we only supports add and delete APi.

[2020-07-19 09:58] 6ecuk opened #537 "SyncedCachedEnforcer"
Hi, I have a question - is there any solution to have a hybrid with syncedEnforcer and cachedEnforcer? I need a solution to have a performance from cachedEnforcer and auto-update from syncedEnforcer.

[2020-07-19 12:00] GopherJ commented on #537
we should just implement those function in cached enforcer

[2020-07-20 08:45] nodece commented on #537
We should add lock to model then it is safe in everyway.

[2020-07-20 10:08] dovics commented on #537
it is not enough that model is safe. We need to consider adapter

for example `addPolicy`,Its steps are `model.HasPolicy -> adapter.AddPolicy -> model.AddPolicy`, If two threads exec addPolicy at same time, the first thread pauses after the end of adapter.AddPolicy, the second begin execution until finished, hasPolicy will return false, and there will be two identical contents in the adapter

[2020-07-20 10:20] dovics commented on #537
Now the `IEnforcer` is very large, maybe we can abstract a new interface to manage the model and adapter, only provide basic functions, and then enforcer to provide API, which can also better integrate casbin-raft

[2020-07-20 10:41] GopherJ commented on #537
@dovics if adapter can ensure the duplicate check.  I think it's safe

[2020-07-20 11:36] dovics commented on #537
@GopherJ It seems that most of Golang's adapters do not support this feature. Does this require us to read the database twice? I think it is faster to just check the data in memory

[2020-07-20 11:47] GopherJ commented on #537
@dovics If this feature is not supported I think we should request their authors to implement，otherwise how can we ensure that there isn't any Adapter.AddPolicy while calling Model.HasPolicy

If we cannot ensure this，there will be duplicates.

Image when you call HasPolicy，there is already 3 ongoing Adapter.AddPolicy

[2020-07-20 12:48] dovics commented on #537
@GopherJ  this is the key to this problem. We need a new way to ensure strong consistency. The current read-write lock is one way.

I don’t know what way @nodece wants to ensure this in the model, But if we use this method on the new component, will it be better than reading the database twice?

[2020-07-20 13:23] nodece commented on #537
in my opinion, I should add lock to ManagementAPI to ensure that adapter is safe, for model also same.

[2020-07-20 17:11] GopherJ opened #540 "Prometheus integration"

[2020-07-20 22:23] GopherJ commented on #537
Normally db adapter should have constraints to deny duplicates, if not, we should find another solution

It's important to have this, otherwise filtered adapter is also buggy... because check dup in model is useless

[2020-07-21 13:54] elhmarouan commented on #161
@anton-khodak Can you share your policy.csv file ?

I have the same problem as yours. I want to attach roles dynamically to resources to avoid policy duplication.
Thanks.

[2020-07-22 03:48] #527 closed

[2020-07-22 17:54] mfzl opened #545 "Partial evaluation as in Open Policy Agent"
As explained in the blog post https://blog.openpolicyagent.org/write-policy-in-opa-enforce-policy-in-sql-d9d24db93bf4

Is this possible with Casbin?

Use case is when you have a list of resources you want to retrieve only the resources subject is allowed to view. Without it, each resource needs to be checked after retrieval before returning response to user.

[2020-07-23 05:43] nodece commented on #545
It looks like you want to filter data from DB by policy.

The image from above blog post:

![image](https://user-images.githubusercontent.com/16235121/88252507-0c0b5a80-cce1-11ea-914e-fd22e0e334d1.png)

Casbin mainly control user if can access Server/Data,  so workflow:` Client` <-> `Casbin` <-> `Server/Data`.

For example:

You should try to use `ABAC with policy rule` on https://casbin.org/en/ed

[2020-07-23 07:07] mfzl commented on #545
Casbin doesn't have to convert policy to SQL. As mentioned in blog post the conversion is for user to do. Open policy agent returns
expressions that cannot be evaluated and then user converts those expressions to SQL.

[2020-07-23 07:13] mfzl commented on #545
For example:

`p, r.sub.Age > 18 && r.sub.Age < 60, /data1, read`

Would return ` r.sub.Age > 18 && r.sub.Age < 60` as unevaluated

This essentially means subject has read access if this expression evaluates to true but casbin doesn't know how to evaluate the
expression and returns  `r.sub.Age > 18 && r.sub.Age < 60` instead of evaluating.

User can then convert the expression to:
`users.age > 18

[2020-07-23 07:15] anton-khodak commented on #161
@elhmarouan,  I don't use `policy.csv` directly and populate it through calls to Casbin. See here for an example: https://github.com/cellgeni/imaging-experiments-tracker/blob/0ffd27f8d2fa1186a1b688df5e408a276efadc3a/experiments/authorization/casbin.py#L57

[2020-07-23 07:23] mfzl commented on #545
To clarify further

### Request
[code]

### Model
[code]

### Policy
[code]

As you see in this case `Request` doesn't have information about the subject's `Age` so instead of trying to evaluate it
return part of the expression that cannot be fully evaluated i.e `r.sub.Age > 18 && r.sub.Age < 60` for user to evaluate.

`r.sub.Role == 'Admin'` however can be evaluated and it should return `False` i

[2020-07-23 08:12] nodece commented on #545
you should note is `eval(p.sub_rule)`, Casbin will eval `p.sub_rule` as expression.

[2020-07-23 08:14] mfzl commented on #545
I'm not sure what you mean. Are you saying it's possible to do.

[2020-07-23 08:16] nodece commented on #545
please visit https://casbin.org/docs/en/abac#scaling-the-model-for-complex-and-large-number-of-abac-rules for details.

[2020-07-23 08:17] nodece commented on #545
For you above example, `r.sub.Role == 'Admin' && r.sub.Age > 18 && r.sub.Age < 60` will returns false, because ` r.sub.Age` is undefined.

[2020-07-23 08:22] mfzl commented on #545
This is the problem I'm getting at. Is there a possible way to tell casbin to not evaluate in case it's undefined and return the expression.

I understand it evaluates to `false`. I tried with https://casbin.org/en/editor

[2020-07-23 08:23] mfzl commented on #545
I think partial evaluation is a powerful feature to enforce policies on huge lists of resources.

[2020-07-23 08:28] nodece commented on #545
Casbin dependent on  https://github.com/Knetic/govaluate. I think govaluate cannot support the feature.

[2020-07-23 08:29] nodece commented on #545
In Casbin, we also support add owner function to matcher.

[2020-07-23 08:36] mfzl commented on #545
I thought so, hence why I opened https://github.com/Knetic/govaluate/issues/144

[2020-07-23 08:54] GopherJ commented on #545
Casbin currently doesn't support **partial evaluation**

[2020-07-23 09:01] GopherJ opened #546 "Rule Indexing feature"
Ref:

1. https://blog.openpolicyagent.org/optimizing-opa-rule-indexing-59f03f17caf3
2. https://github.com/casbin/casbin/issues/511

[2020-07-23 09:05] mfzl commented on #545
Do you think it's in the realm of possibilities if `govaluate` adds support for it?

[2020-07-23 09:09] GopherJ commented on #545
@mfzl it's not on `govaluate` side, it's more on our side, but yes we also need to know if `expression evaluator` has this error type

[2020-07-23 19:19] rrasulzade opened #547 "How to synchronize multiple Casbin enforcer instances running with a single pg Gorm adapter?"
I'm using Casbin library with pg Gorm adapter in one of my services. I wonder how I can keep Casbin enforcers synched if I'm running multiple instances of that services? Since Casbin policies are loaded once at startup and stored in memory, if one of the instances updates policies later, other enforcers wouldn't be notified. I looked at Casbin server but not sure if that would be helpful in this c

[2020-07-23 19:35] pasanh commented on #402
This is important for us also. To ensure we have a cluster of instances to support the volume of enforcement operations we have.

[2020-07-23 21:12] rrasulzade commented on #547
maybe I should implement Watcher / WatcherEx interface for pg Gorm? Are there any examples of SQL/ORM db watchers?

[2020-07-24 02:55] hsluoyz commented on #402
@nodece @dovics I think master-slave mode should be supported as part of our Summer 2020 project: https://github.com/casbin/Summer2020#3-casbin%E5%88%86%E5%B8%83%E5%BC%8F%E6%8F%92%E4%BB%B6-golang

@dovics can you take this issue?

[2020-07-24 02:57] hsluoyz commented on #540
@GopherJ what's Prometheus? How to integrate? adapter, middleware, or ? Please provide some details.

[2020-07-24 02:58] hsluoyz commented on #540
If we didn't find someone to work on it, we can add "help wanted" label to attract contributors.

[2020-07-24 03:02] hsluoyz commented on #546
@GopherJ good point about this optimization.

I think it is @00LT00 's responsibility to take this issue. Can you do it?

[2020-07-24 04:28] nodece commented on #546
I note is that is Consul also use similar method to optimizing policy, the https://github.com/armon/go-radix used by Consul.

[2020-07-24 05:09] nodece commented on #540
Add Prometheus can collect the number of function calls, response number of function.

It is important for monitoring Casbin.

[2020-07-24 07:15] nodece commented on #547
For multiple Casbin instances , We only supports use Watcher / WatcherE.

When policy changes, Casbin will call Watcher / WatcherEx to notify other Casbin.

Please visit https://casbin.org/docs/en/watchers for Watcher details.

[2020-07-24 07:29] 00LT00 commented on #546
I'm trying to solve the update of caddy @hsluoyz .And then I will learning it.

[2020-07-24 07:58] GopherJ commented on #540
@hsluoyz Yes we can mark it as `help wanted` it's low priority but I think many people/adopters will probably need this feature to be able to understand better what's happening.

[2020-07-24 08:05] GopherJ commented on #540
I may move this to `casbin-dashboard` issue later because it's better to be alive there

[2020-07-24 17:25] divy9881 commented on #546
Yeah, storing policy rules in hierarchical data-structure like `Trie` can be very fruitful in cases where there are a large number of policy rules. Storing it in linear data-structure like `list` does not allow you to optimize further than O(N), under this we can get result generation optimized by O(log(N)) roughly. If everyone is okay, can I take this issue, I will be very happy to work on this.

[2020-07-24 20:01] rrasulzade commented on #547
Thanks @nodece.  As I understand, the watcher will notify other instances to reload policies from DB but doesn't that sound an expensive operation?

[2020-07-25 01:55] hsluoyz commented on #547
@rrasulzade yes, that's why we have introduced WatcherEx: https://github.com/casbin/casbin/pull/400. WatcherEx instances will only sync policy diff than the whole policy data.

[2020-07-25 02:01] rrasulzade commented on #547
@hsluoyz
I check that interface too but I don't see any examples/implementations of it for Redis or other tools on https://casbin.org/docs/en/watchers. Something I need to implement on my own?

[2020-07-25 02:04] hsluoyz commented on #547
@dovics is it possible to use WatcherEx with Redis backend? Can you add WatcherEx's docs to our website?

[2020-07-25 03:37] hsluoyz commented on #537
@6ecuk has this issue been fixed by: https://github.com/casbin/casbin/pull/538 ? If yes, please close it.

[2020-07-25 06:45] GopherJ commented on #546
@divy9881 I think yes, could you elaborate your idea once you got it?

[2020-07-25 09:37] dovics commented on #547
@rrasulzade It is feasible to use redis to implement watcherEx. We can subscribe to the same channel, let the instance that received the modification request publish, and then let other instances update according to the published content.

Currently we do not have an implementation of watcherEx yet, maybe I will try it next month

[2020-07-26 01:42] hsluoyz commented on #534
@GopherJ this is because in some examples, we have new line between p rules and g rules to improve readability. But after Casbin write back to file, the new line is removed.

[2020-07-26 02:09] hsluoyz commented on #161
@anton-khodak @elhmarouan BTW, the above is not true any more. We have supported pattern matching (like *) in each arg (1st, 2nd and 3rd) in `g`. See:

PR: https://github.com/casbin/casbin/pull/475
Docs: https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac

[2020-07-27 05:21] #537 closed

[2020-07-29 08:08] elhmarouan commented on #161
@hsluoyz Thanks, but I still can't manage to get it work with pattern matching.

I have the following model:

[code]
My policy looks like this:

[code]
The following requests work fine:
[code]

I want a superadmin user that could administrate all cases using the following mapping:

`g, superadmin, CASE_ADMIN, *
`

But I always get false with this request:

`superadmin, CASE/5, CASE_EDIT --> false

[2020-07-29 08:19] hsluoyz commented on #161
@nodece @dovics can you answer this question?

[2020-07-31 01:28] wndrr101 opened #550 "Add priority policy element support"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2421%20Funded-%2300A156.svg" />](https://issuehunt.io/r/casbin/casbin/issues/550)

Hello,

It seems that I stuck in the middle with trivial issue. Hope you'll help me with a guidance.
Trying to build a model for REST API authorisation with an option to override "parent" permission.

<h3>Option 1</h3>

Test model:
[code]

Tes

[2020-07-31 05:08] hsluoyz commented on #550
@wndrr101 very good question. I think Option 1 would be easier. We should add a new column for rules called "priority number". It works very similar to classic firewall rules:

`
Rules are processed in priority order; the lower the number, the higher the priority. We recommend leaving gaps between rules - 100, 200, 300, etc. - so that it's easier to add new rules without having to edit existing ru

[2020-08-02 03:41] hsluoyz opened #551 "Make a Casbin middleware for "gorilla/mux" web framework"
https://github.com/gorilla/mux is one of the most popular Go web frameworks (with 12.4k stars). But we still don't have an authz middlware for it yet.

There are already some users complaining about it on Reddit:

https://www.reddit.com/r/golang/comments/i18qoo/a_little_confused_about_authorization/fzysms0/

![image](https://user-images.githubusercontent.com/3787410/89114977-f6eab480-d4b4-11ea-996

[2020-08-02 03:41] hsluoyz commented on #551
@nodece @GopherJ @divy9881 @dovics @00LT00 can anybody take this task?

[2020-08-03 03:00] hsluoyz opened #552 "Multi-threading contention caused by concurrent map writes"
It's reported in go-admin (our user)'s issue list by 2 persons:

- https://github.com/wenjianzhang/go-admin/issues/181
- https://github.com/wenjianzhang/go-admin/issues/180

We should investigate & resolve it if it's our side's issue.

[2020-08-03 03:01] hsluoyz commented on #552
@nodece @GopherJ @dovics @00LT00 can anyone work on this?

[2020-08-03 06:08] hsluoyz commented on #552
Fixed by: https://github.com/wenjianzhang/go-admin/pull/182

[2020-08-03 06:08] #552 closed

[2020-08-03 09:46] ngjaying commented on #63
@hsluoyz This model hard coded the role name in the matcher. If we allow to customize the roles so that the roles are dynamic added, how can we model it. The core requirement is:
- A dynamic list of roles which can access all objects
- Another dynamic list of roles which can access only owned objects
Thanks

[2020-08-03 10:07] vtolstov commented on #63
you can add you own func to matcher to get owner of object

[2020-08-03 10:14] ngjaying commented on #63
Yes, but my problem is that the owner rule is not universal for all roles. Some roles does not need to check own func; some roles should always be rejected; some roles should always be accepted. And the roles list are dynamic.

Example, roles [admin, customAdmins ... ] can access all; roles [users, ausers ...] can access owned obj; roles [banned ...] cannot access any obj.
With the proposed matche

[2020-08-03 10:16] vtolstov commented on #63
so if for some roles you don't need to check owner you can pass roles to matcher func and return early ?

[2020-08-03 10:19] ngjaying commented on #63
right, but the roles list are not static.  How can the matcher func filter roles against a dynamic list?

[2020-08-03 10:25] hsluoyz commented on #63
@ngjaying please fire new issue for your problem. This issue will be locked.

[2020-08-03 10:35] ngjaying opened #553 "Combine ABAC and RBAC for dynamic roles list"
I have a similar request as #63 but thinking to apply it to dynamic roles list. We would like to let the user create customized roles at runtime. So we will have dynamic roles list which can be categorized as
- A dynamic list of roles which can access all objects. e.g.  roles [admin, customAdmins ... ]
- Another dynamic list of roles which can access only owned objects. e.g.  roles [admin, customA

[2020-08-03 15:54] DarkSorrow opened #554 "RBAC with domain pattern"
Hello,

I'm using the go version of casbin ""github.com/casbin/casbin/v2"
And i took as exemple those files
https://github.com/casbin/casbin/blob/master/examples/rbac_with_domain_pattern_model.conf
https://github.com/casbin/casbin/blob/master/examples/rbac_with_all_pattern_policy.csv

but when i try to do
`test, _ := casEnforcer.Enforce("alice", "domain1", "data1", "read")`
The result i get is fal

[2020-08-04 00:36] hsluoyz commented on #554
@DarkSorrow please use https://casbin.org/en/editor to test first.

[2020-08-04 08:09] DarkSorrow commented on #554
hello well i was the one that raised that issue already on the editor and then was told that the editor wasn't up to date but that this was working on the real server. But then maybe i'm lacking something?

here was the issue there:
https://github.com/casbin/casbin-editor/issues/16

[2020-08-04 12:08] nodece commented on #554
@DarkSorrow please visit https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac for using pattern.

[2020-08-04 12:39] DarkSorrow commented on #554
I visted your documentation but the code you provide as example doesn't work with what you show as exemple in the start
where does your e.rm comes from? I don't have it when i import the "github.com/casbin/casbin/v2".
I understand the concept of open source library and that people can read the code and all but you seems to be importing package in different ways with the file examples. It would be

[2020-08-04 14:32] DarkSorrow commented on #554
I'm trying to do this with the casbin v2

[code]

But it doesn't seems to work either with the file example you gave

[2020-08-04 14:34] nodece commented on #554
@DarkSorrow  This is test code: https://github.com/casbin/casbin/blob/master/rbac_api_test.go#L236.

[2020-08-04 14:43] DarkSorrow commented on #554
@nodece well i tried what was in that line too but it doesn't work with the domain pattern file.
Did you try to test the rbac_with_domain_pattern_model.conf? Cause i admit i'm not sure what else to try at the moment, i'm thinking of trying a last thing by implementing a role manager but my need seems to be pretty basic, i just want to have a role with a wildcard for the domain :x
The library seems

[2020-08-04 15:40] #554 closed

[2020-08-04 15:42] DarkSorrow commented on #554
I added the matcher with the AddDomainFunc and it seems to be working now, maybe the doc could be updated to show this later :x

[2020-08-04 15:44] hsluoyz commented on #554
@nodece @00LT00 can you add this to docs?

[2020-08-06 08:26] hahait opened #559 "RoleManager for Mysql"
The mapping between users and groups I store in mysql is used to represent the mapping between users and roles in RBAC, just like RBAC in Django.
Therefore, I need to customize rolemanager; I finished rolemanager refer to: https://github.com/casbin/session-role-manager.
The current problems are as follows:
<1>  `rbac_api.go` method does not work properly, such as: `e.GetRolesForUser("<username>")`

[2020-08-06 09:36] hsluoyz commented on #559
@nodece @dovics @00LT00

[2020-08-06 20:48] 00LT00 commented on #551
I'm create mux-authz in [mux-authz](https://github.com/casbin/mux-authz) @hsluoyz

[2020-08-06 21:16] 00LT00 commented on #551
But now I have a problem.
Should we only verify the whole path like
`r.obj = "/dataset1/resource1/*/*..." `
or verify only a single field like `/xxx/{token}/xx`
`r.obj = token`
The mux isn't support '*'.Therefore, if the first method is used, users must use regular expressions to match paths like `r.HandleFunc("/{url:[A-Za-z0-9\\/]+}", handler)`
But if the second method is used, there are not many

[2020-08-07 03:03] hsluoyz commented on #551
@00LT00 are you asking a Casbin core library question? Here's the wrong place. In this middleware, you can just copy the example and test from other middlewares.

[2020-08-07 03:04] hsluoyz commented on #551
@00LT00 also please do this: https://github.com/casbin/mux-authz/issues/1

[2020-08-07 16:02] DarkSorrow opened #560 "Domain pattern and LoadFilteredPolicy"
Hello,

I'm still trying to implement something with domains.
I've been using the domain pattern because i might have a lot of domains and wanted to have the right to create some superdomain.

I'm trying to use an adapter such as this one https://github.com/casbin/casbin-pg-adapter
So far it seems to work however it seems that casbin erase everything when you start a loadFilteredPolicy, the proble

[2020-08-08 02:34] hsluoyz commented on #560
@nodece @00LT00

[2020-08-08 20:56] 00LT00 commented on #553
I've been thinking for a long time how to use dynamic roles.But I have no good idea temporary. Can you give me some hints especially the matchers? How do you want matchers to write... @ngjaying

[2020-08-09 20:49] 00LT00 commented on #559
Hello, thanks for using casbin.
Can you give us some more detailed test cases? I think it's right on my location.

![image](https://user-images.githubusercontent.com/47566260/89741537-b39bd180-dac4-11ea-99f6-600d0626e31f.png)
![image](https://user-images.githubusercontent.com/47566260/89741546-bf879380-dac4-11ea-8dfd-acb8493dcb18.png)

[2020-08-09 21:05] 00LT00 commented on #551
finished casbin/mux-authz#2

[2020-08-10 02:05] hsluoyz commented on #559
@hahait please call `e.SetRoleManager(rm)` to set your custom role manager to the enforcer.

[2020-08-10 02:30] hsluoyz commented on #553
@ngjaying you can do this:

Model:

[code]

Policy:

[code]

[2020-08-10 02:30] #553 closed

[2020-08-10 02:35] hsluoyz commented on #560
@DarkSorrow if this is the adapter issue, can you send the issue here instead? https://github.com/casbin/casbin-pg-adapter/issues

[2020-08-10 02:36] hsluoyz commented on #550
@00LT00 please work on this issue.

[2020-08-10 03:56] hahait commented on #559
<1> Below is the custom role Manager file:  `CasbinRoleManager.go`

[code]

<2> Here is the custom `PermissionInit.go` file; In the same package as `CasbinRoleManager.go` above
[code]

<3> The permissions verification middleware file is shown below:
[code]

<4> Finally, I modified the source code in the file` rbac_api.go`;  so that I could use casbin properly
![image](https://user-images.githubuse

[2020-08-10 03:58] hahait commented on #559
I have done this before and then submitted this issue;
thinks

[2020-08-10 04:01] hsluoyz commented on #559
@hahait sorry, missed one call:

[code]

Don't forget to call `e.BuildRoleLinks()` to initialize the roles based on the new role manager you have set.

[2020-08-10 06:18] hahait commented on #559
thanks, I tested and this problem has been solved

[2020-08-10 06:25] #559 closed

[2020-08-10 06:43] 00LT00 commented on #551
updated casbin/mux-authz#3 @hsluoyz

[2020-08-10 06:50] 00LT00 commented on #550
I'm trying to do

[2020-08-10 09:14] DarkSorrow commented on #560
Well i was thinking about doing it on the adapter and checked most adapter but they all work a bit the same, they seems to erase previous value, i somehow thing that i can bypass this by making my own query and translation but i don't know if there would be some possibilities of having something in the core that erase the policyline filtered only instead of the whole policy line. Because in the en

[2020-08-10 15:23] hsluoyz opened #561 "Repo weekly advertising (RVA) plan"
To better advertise each Casbin project, every student should write & send out a post to a related forum/community to advertise the project repo that he/she is working on each week.

Some good places I know (but not limited to):

- https://www.reddit.com/
- https://news.ycombinator.com/
- https://www.v2ex.com/
...

This task can be done before your weekly report. Please remember to attach the URL

[2020-08-10 15:28] hsluoyz commented on #561
GSoC students: @hackerchai @divy9881 @kingiw

Summer2020 students: @00LT00 @kocoler @dovics @PsiACE @ZipoChan @tldyl @Xhy-5000 @yk17310320725 @zhmushan @Sagilio @438561537 @yahoo17

[2020-08-11 05:10] hsluoyz commented on #560
@DarkSorrow can you make a PR?

[2020-08-12 04:00] hsluoyz commented on #551
Done: https://github.com/casbin/mux-authz

[2020-08-12 04:00] #551 closed

[2020-08-12 07:58] sumia01 opened #563 "get implicit permissions for a user per domain is not working for me, maybe my policies are wrong?"
Hi,

I need some help.
I have an RBAC model with object hierarchy.
The enforcer works fine, the rules are applied and the result is correct.

But I can't get implicit permissions for a user per domain (team in my case).

The goal of this model and policies:
- there are teams,
- teams have custom permission groups (team_owner in team1 and admin in team2)
- users are in this permission groups
- I wa

[2020-08-12 08:45] hsluoyz commented on #563
@nodece @GopherJ @dovics @00LT00

[2020-08-12 11:38] hawle commented on #563
+1 I would also like to know that. Have a similar problem with GetImplicitPermissionsForUser

[2020-08-12 11:55] nodece commented on #563
@sumia01 You ignore return value of `e. GetImplicitPermissionsForUser`.

[2020-08-12 12:09] sumia01 commented on #563
true, it's my bad, sorr. The error said: domain should be 1 parameter.
the function param (domain ...string) confused me, but I see now in the source code.

So `e.GetImplicitPermissionsForUser("user1", "1")` returns
`2020/08/12 14:05:37 GetImplicitPermissionsForUser:  [[team_owner 1 team allow]]`

It means this func can't return every permission what belongs to team_owner?
`p, team_owner, 1, team,

[2020-08-12 12:30] nodece commented on #563
:( maybe you can get these information by `e.GetFilteredNamedGroupingPolicy("g2",1,"team")`.

@hsluoyz Could you give @sumia01 more information?

[2020-08-12 12:40] hsluoyz commented on #546
@00LT00 is there any progress for this issue?

[2020-08-12 12:47] hsluoyz commented on #563
Currently, `GetImplicitPermissionsForUser()` get only get the permissions directly assigned to a user or or implicitly assigned to the user via a role. It has no knowledge about the matcher (your matcher is kind of complex) and cannot query out all the permissions that fulfilled the matcher.

We definitely need to improve on this part. @00LT00 can you work on it?

[2020-08-12 12:50] sumia01 commented on #563
@nodece thanks for your help & answers
@hsluoyz thanks for your answer, I'll follow this issue

[2020-08-12 18:30] 00LT00 commented on #550
@nodece @wndrr101 Hi, I'm trying to add priorityID for the policy. Now I have some problems.
1. is the new column priorityID optional? front or back?
2. can priority be equal?

[2020-08-13 17:09] rrasulzade commented on #547
hey @dovics, any luck of trying above you mentioned?

[2020-08-13 17:12] nodece commented on #547
@rrasulzade We are going to prepare [casbin-raft](https://github.com/casbin/casbin-raft).

[2020-08-13 17:18] rrasulzade commented on #547
@dovics that seems something different than Redis watcher. Could you please provide some details about casbin-raft? Will that also achieve https://github.com/casbin/casbin/issues/402? Thanks

[2020-08-13 17:28] nodece commented on #547
@rrasulzade Using casbin-raft can solve the any sync issue, we are still testing casbin-raft, so we only have test code, you can checkout casbin-raft to visit more information. one thing to note that it is in beta phase, and it works on casbin v3 beta version.

[2020-08-13 19:05] wndrr101 commented on #550
Hello @00LT00,

Here is my 2c:

it might be optional on my opinion, if it's optional than req_definition and pol_definition should be created new verb line "num"
[code]
no "num" - no numbered priority

didn't get what you mean.

Don't think so. What would be "choosing function" in this case with same prioriries? It's like now.

***
While I'm using now my own hack for pycasbin (just length sort WHE

[2020-08-13 21:04] 00LT00 commented on #550
@hsluoyz @nodece @dovics What do you think about the Group/Role's rules? I feel a little too complicated.

[2020-08-14 01:20] wingdog commented on #560
I have the same issue and this is where clear policy happens:
https://github.com/casbin/casbin/blob/master/enforcer.go#L263

For me it seems to be more like a bug than a feature request.

[2020-08-14 05:22] hsluoyz commented on #423
A reddit post that asks for Casbin support on GraphQL: https://www.reddit.com/r/golang/comments/i9drqp/graphql_and_authorization/

[2020-08-14 05:40] hsluoyz commented on #550
@nodece @GopherJ @xcaptain

[2020-08-14 09:16] DarkSorrow commented on #560
@hsluoyz i'll try to put what i made but it's not well tested yet cause i'm on holidays xD. I kinda fork the repo tho because i'm using pgx for postgres but i should be able to isolate the code otherwise i'll just publish my adapter i suppose

But still i think it could be nice to have just a "clearFilteredPolicy" or something like that to remove only the filtered policy and keep the rest still in

[2020-08-14 14:34] nodece commented on #560
@DarkSorrow  I think you want to keep old role_manager then load filtered data by call LoadFilteredPolicy.

Currently, most adapter just supports load the policy with pure domain, we cannot sure what you need when you are using domain pattern, it is quite complex, because casbin builds user role links at run time through the associated domain of pattern search, so I recommend you make own adapter.

[2020-08-14 14:55] nodece commented on #550
@00LT00 This is good idea, but I also know it is quite complex, so I recommend starting with #546,  because I don't think our data struct of policy can supports the feature.

maybe the best work for you on Summer 2020.

what do you think?

[2020-08-14 15:27] #496 closed

[2020-08-14 15:36] nodece commented on #550
I wonder #496 can solve the question. could you upgrade casbin to v2.10.0 and using `e = some(where (p_eft == allow)) || !some(where (p_eft == deny))` as policy_effect?

[2020-08-14 16:59] DarkSorrow commented on #560
@nodece but the thing is that i'm actually making my own adapter however casbin only seems to have this `persist.LoadPolicyLine(line.String(), model)`
And it seems that when this is called it erase the thing that are in the model the thing i lack is somehow link to the persist package because i need to just erase things filtered and add the refresh value but this doesn't seems to be possible in th

[2020-08-15 12:26] nodece commented on #560
I remember now, If you want to keep role links, you can call `e.EnableAutoBuildRoleLinks(false)`, the Casbin doesn't clear role links, but Casbin will clear all policy.

look like: `e.EnableAutoBuildRoleLinks(false)` -> `e.LoadFilteredPolicy()` -> `e.EnableAutoBuildRoleLinks(true)`.

[2020-08-15 13:08] hsluoyz opened #566 "Casbin Users 👨🏻‍💻👩🏻‍💻👨🏻‍💻👩🏻‍💻"
We appreciate you support if you or your organization is using Ant Design. You are welcome to leave replies about your product and organization here, which could became the confidence of maintiners, communication and undecided watchers.

Recommended reply format:

[code]

[2020-08-15 13:43] GopherJ commented on #566
@hsluoyz I believe you made a typo `Ant Design`?

[2020-08-15 14:29] hsluoyz opened #567 "Supporting Casbin 🚀🚀🚀🚀"
Casbin is an open source project. It's an independent project with its ongoing development made possible thanks to the support by our amazing backers.

Issues on Casbin can be funded by anyone and the money will be distributed to contributors and maintainers. If you use Casbin please consider becoming a backer:

## Want to prioritize the issue you are interested in? Try:

[![issuehunt-to-marktext]

[2020-08-15 16:22] GopherJ opened #568 "SyncedEnforcer missing functions & CachedEnforcer should overload functions to clear cache"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%241%20Funded-%2300A156.svg" />](https://issuehunt.io/r/casbin/casbin/issues/568)

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $1.00)

- [<img src='https://avatars0.githubusercontent.com/u/3787410?v=4' alt='hsluoyz' width=24 height=24> hsluoyz](https://issuehunt.io/u/hsluoyz) ($1.00)

###

[2020-08-15 16:29] GopherJ commented on #568
If we compare `enforcer_synced.go` with `enforcer_interface.go`, there are couple of functions missing, that means those functions may cause thread safety problems

CachedEnforcer currently don't clear cache automatically, we should overload functions

[2020-08-15 16:29] GopherJ commented on #568
Example: https://github.com/casbin/casbin-cpp/pull/61

[2020-08-17 08:29] DarkSorrow commented on #560
@nodece but it's not the roles the problem, it's the removal of all policies. In the use case i have i can have many domain being loaded at different time and changed as well, each time a domain is loaded it erase all policies, the code uses policies to manage rights and not just role. In the solution you are giving me there is no more use for policies

What i'm trying to do is to have domain bein

[2020-08-17 09:58] DarkSorrow commented on #560
Actually my question would be, is it possible to have a flag preventing the call to loadFilteredPolicy to erase all existing policies
And a function allowing to remove a specific domain policy from the persisted policy?

[2020-08-17 13:08] nodece commented on #560
I realized the problem, if we can provides append policy is best way. Casbin provides ManagerAPI to remove specific domain.

@DarkSorrow  Do you have any ideas? we most welcome contribution.

[2020-08-17 14:50] DarkSorrow commented on #560
@nodece I think it would be nice to have an appendPolicy yes
Tho also, i think it would be good to have a flag a bit like the AutoSave that actually make the `e.model.ClearPolicy()` be called when the filteredPolicy is called, something like `EnableFilteredAutoClean()`.
Then from what i'm seeing there is already a RemovedFilteredPolicy so i'm thinking we are already suppose to be able to remove on

[2020-08-17 15:44] nodece commented on #560
@DarkSorrow Do you mean to remove specific domain policy in appendFilterPolicy? Casbin cannot sure what data.

[2020-08-17 16:17] DarkSorrow commented on #560
@nodece i'm thinking that this `func (model Model) RemoveFilteredPolicy` which is there https://github.com/casbin/casbin/blob/master/model/policy.go#L177 is actually all is needed to remove the policies from the persistent data before loading the "fresh" policy for that domain. I mean in order to keep data consistent when you make an AppendFiltteredPolicy the steps would be
Remove the filtered dat

[2020-08-17 16:49] nodece commented on #560
sounds good,  could you make the PR? @DarkSorrow

[2020-08-18 02:36] andyyumiao opened #569 "how many QPS does casbin support?"
I need a performance metric, how many QPS does casbin support？

[2020-08-18 05:40] nodece commented on #569
I plan add go-metrics to casbin. what do you think ? @andyyumiao

[2020-08-18 06:19] andyyumiao opened #570 "Is there HTTP service support？"
Is there an HTTP interface in casbin? I mean most production environments may access centralized services through HTTP, so it's language independent.

[2020-08-18 06:20] hsluoyz commented on #570
See Casbin services: https://casbin.org/docs/en/service

[2020-08-18 06:20] #570 closed

[2020-08-18 06:24] andyyumiao commented on #570
the url cann't be open...   should i use http proxy?

[2020-08-18 06:35] hsluoyz commented on #569
@andyyumiao we have a benchmark here: https://casbin.org/docs/en/benchmark

And Casbin for different languages have different performances. I don't have concrete numbers for all languages. But generally speaking, we can have:

[code]

Maybe we need to have a performance ranking for all Casbins. Please show your numbers here.

Java: @tldyl
C++: @divy9881
Node.js: @nodece @zhmushan
PHP: @techoner @y

[2020-08-18 06:37] hsluoyz commented on #570
It's hosted in GitHub pages. Maybe you need to use a proxy. Or run it on localhost: https://github.com/casbin/casbin-website

[2020-08-18 06:38] hackerchai commented on #569
@hsluoyz Agree with that. I will supply a casbin-rs wrk performance test below.

[2020-08-18 09:29] DarkSorrow commented on #560
Well i'm checking a bit how to implement it but i kinda don't know if it works well with how the adapter and policies are built, the removedFilter seems to actually part of adapters so i guess it shouldn't be implemented in the enforcer code and actually since the variables seems to have to be declared in adapter the same way the filter object works i think i can't really add them as i was plannin

[2020-08-18 11:15] divy9881 commented on #569
Currently, casbin-cpp is going through a huge change, as we are changing the method interface to the constructor interface, it would be wise if we set-up the benchmark pipeline and get the benchmark, after making this changes.

[2020-08-19 13:40] rrasulzade commented on #547
hey @nodece, Will casbin-raft be supported on casbin v2? Currently, I'm using v2 and I'm not sure about the new changes on v3 beta which I suppose will be v3 later.

[2020-08-19 14:38] GopherJ commented on #569
casbin-rs's current benchmark on i7-10gen, 8 cores

[code]

[2020-08-20 03:50] andyyumiao opened #572 "Is there a detailed HTTP service?"
I can't find what I need through these places:
https://casbin.org/docs/en/service
https://github.com/casbin/casbin-server
https://github.com/paysuper/casbin-server

And some of my questions are：
1.How can I update the policy through the HTTP interface?
2.How to update model through HTTP interface?
3.Where is the API for verifying permissions(I mean HTTP interface)?
4.Do I need to implement it myse

[2020-08-20 06:16] andyyumiao opened #573 "which version is the most stable？"
If I want to use it in a production environment, which version should I use? Or which version is the most stable, casbin or jcasbin?

[2020-08-20 06:43] andyyumiao opened #574 "How to build global permission system"
If i want to build a company level permission system, how to use caspin? How to isolate authority policies and rules of different business parties? I mean, we have to connect all the departments of the whole company

[2020-08-20 08:33] andyyumiao opened #575 "[Bug]RBAC Verification incorrect"
**model.conf:**
[role_definition]
g = _, _

[matchers]
m = g(r.sub, p.sub) && r.obj == p.obj && r.act == p.act

**policy.csv:**
p, data2_admin, data2, read
g, alice, data2_admin

**test function：**
package main

import (
	"fmt"

	"github.com/casbin/casbin/v2"
)

func check(e *casbin.Enforcer, sub, obj, act string) {
	ok, _ := e.Enforce(sub, obj, act)
	if ok {
		fmt.Printf("%s CAN %s %s\n", sub, ac

[2020-08-20 09:25] vtolstov commented on #575
firstly try to not ignore error from Enforce because ok have reasonable value if err is nil

[2020-08-20 09:30] andyyumiao commented on #575
thanks for the reply, and i just printed the error, should you take a look it?
**panic: runtime error: invalid memory address or nil pointer dereference**

[2020-08-20 09:40] vtolstov commented on #575
you need to get full backtrace

[2020-08-20 09:46] andyyumiao commented on #575
panic: panic: runtime error: invalid memory address or nil pointer dereference

goroutine 1 [running]:
main.check(0x0, 0x117f50e, 0x5, 0x117f531, 0x5, 0x117f3f7, 0x4)
	/Users/wl/workspace/casbindemo/1stACL.go:11 +0x1a0
main.main()
	/Users/wl/workspace/casbindemo/1stACL.go:23 +0xc4

[2020-08-20 09:52] vtolstov commented on #575
i think that you check func receives nil in e variable (*casbin.Enforcer)

[2020-08-20 09:58] andyyumiao commented on #575
yes it's a nil,  many thanks!!!

[2020-08-20 10:01] #575 closed

[2020-08-20 10:01] andyyumiao commented on #575
thanks @vtolstov

[2020-08-20 10:38] andyyumiao opened #576 "how to create/modify model files dynamically in the database?"
We all know that policy files can be created dynamically in the database, but how to create or modify new model files dynamically in the database?

[2020-08-20 12:21] hsluoyz commented on #573
Use latest version.

[2020-08-20 12:21] #573 closed

[2020-08-20 12:24] hsluoyz commented on #572
Please send issue at: https://github.com/casbin/casbin-server

[2020-08-20 12:24] #572 closed

[2020-08-20 12:25] hsluoyz commented on #576
We only support these ways: https://casbin.org/docs/en/model-storage

Model is just a string. And you can simply store it into DB in your own way.

[2020-08-20 12:25] #576 closed

[2020-08-20 12:26] hsluoyz commented on #574
Use `RBAC with domains` model: https://casbin.org/docs/en/rbac-with-domains

[2020-08-20 16:49] afdecastro879 opened #577 "[Bug] Pattern matching in RBAC not working"
**Describe the bug**
I'm using pattern matching with RBAC but seems like it's not working as expected. I'm following https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac

I'm using casbin V2

**To Reproduce**

**rbac_model.conf**
[code]

**rbac_policy.csv**
[code]

main.go
[code]

The result of running this sript is:
[code]

**Expected behavior**
I would expect both permission checks to be

[2020-08-20 17:14] GopherJ commented on #577
@afdecastro879 I think you are mixing `pattern matching` in role manager with custom functions.

Basically what you want is to put  a groupt of **object** in the same group. In this case you should use custom functions by editing your `rbac_model.conf`:

[code]

[2020-08-21 02:21] andyyumiao commented on #576
But for ABAC model, for example, how to dynamically modify the matcher for different business parties? this requirement may come from different business parties. I mean, I want to build a unified permission system

[request_definition]
r = sub, obj, act

[policy_definition]
p = sub, obj, act

[matchers]
m = r.sub.Hour >= 9 && r.sub.Hour < 18 || r.sub.Name == r.obj.Owner

[policy_effect]
e = some(w

[2020-08-21 02:22] andyyumiao commented on #574
Can ABAC model support this？

[2020-08-21 02:34] andyyumiao opened #578 "Aboud casbin-dashboard and casbin-server"
What is the relationship between these projects?
https://github.com/casbin/casbin
https://github.com/casbin/casbin-dashboard
https://github.com/casbin/casbin-server
https://github.com/paysuper/casbin-server

casbin-dashboard and casbin-server seems not stable, or do I have other options? For casbin-dashboard and casbin-server

[2020-08-21 03:02] andyyumiao opened #579 "what's the best practice"
I want to build a unified authority system to connect different business parties. Is there a best practice or recommended way? I mean through HTTP protocol. My understanding is that caspin is a rule parsing engine, do we need to develop an outer layer HTTP service?

[2020-08-21 03:12] andyyumiao opened #580 "how can ABAC model implement multi tenant isolation？"
1.how can ABAC model implement multi tenant isolation？
2.how can ABAC model support adding and modifying matchers dynamically？This is because we usually add a lot of rules in complex business scenarios

[2020-08-21 03:50] hsluoyz commented on #579
Closed as not being specific.

[2020-08-21 03:50] #579 closed

[2020-08-21 03:51] hsluoyz commented on #580
Closed as not being specific.

[2020-08-21 03:51] #580 closed

[2020-08-21 03:51] hsluoyz commented on #578
Closed as not being specific.

[2020-08-21 03:51] #578 closed

[2020-08-21 03:52] hsluoyz commented on #574
Closed as not being specific.

[2020-08-21 03:52] #574 closed

[2020-08-21 03:52] hsluoyz commented on #576
See Casbin-Server

[2020-08-21 03:53] andyyumiao commented on #580
Why close the post, is the description not clear？

[2020-08-21 03:55] hsluoyz commented on #580
Please stop spamming issues in the project. Please look at the docs first and raise valuable and specific questions. Ideally, please only raise 1 or 2 issues totally in all Casbin repos.

[2020-08-21 03:58] andyyumiao commented on #580
These problems are not the same. Is this how you do open source projects? Garbage Project！！！bye

[2020-08-21 07:27] GopherJ opened #581 "[Feature] Log actions, AddPolicy, RemovePolicy ..."
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when casbin golang cannot have a clear and concise

[2020-08-21 20:03] #577 closed, assigned to hsluoyz

[2020-08-23 18:45] wndrr101 commented on #550
@nodece , I've been thinking about #496, but I'm using pycasbin at the moment. Either I'll port $496 functionality to python or may be in future make a transition to Casbin Server.

@hsluoyz , could you please tell me why there are 2 versions of pycasbin - one is https://github.com/casbin/pycasbin and another is https://github.com/pycasbin and what is the difference?

[2020-08-24 00:19] hsluoyz commented on #550
@wndrr101

- https://github.com/casbin/pycasbin is the core library for Python. https://github.com/pycasbin/pycasbin is just a fork of it.
- https://github.com/pycasbin is a place to hold all PyCasbin related adapters, middlewares, etc.

@techoner can we delete the fork: https://github.com/pycasbin/pycasbin to avoid misunderstanding?

[2020-08-24 02:29] andyyumiao commented on #569
How dare you open source such projects? You are advised to close the source, because you have a waste leader @hsluoyz
 who resists opinions and resists proposals，get out of GitHub!!!

[2020-08-24 02:29] #569 closed

[2020-08-24 08:06] hsluoyz opened #584 "[Feature] Add the "UpdatePolicy()" API to update a single policy rule"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

Currently, we recommend the users to remove and then add a policy for updating. There are two drawbacks:

1. Performance for two operations: add & remove is low.
2. The order of policy will be change

[2020-08-24 08:08] hsluoyz commented on #584
@nodece @GopherJ @00LT00 can anyone take this issue?

[2020-08-25 10:56] Gaadek opened #585 "[Question] Implement RBAC with domain + resource policies the most efficient way"
**My scenario**

I'm designing a file storage system (similar to a FTP) and I'm looking for the best option to design my security with Casbin

I have several `servers`, each containing `folders`, themselves storing `files`.
In parallel, I have a pool of `users`.

A `server` is a root element on which `user` role is defined:  a `user` can have 1 and only 1 role for a given `server` (e.g. `alice` is

[2020-08-25 13:30] GopherJ commented on #569
@andyyumiao It's not opinions OR proposals, you were flooding us with junk issues. You should be ashamed!

The other open source projects will just add you into blacklist without wasting time to talk to you.

[2020-08-25 14:10] hsluoyz commented on #585
@nodece @GopherJ @00LT00

[2020-09-01 08:45] hackerchai commented on #561
https://www.v2ex.com/t/703209
Here is the Casbin-RS advertising post in V2EX community.

[2020-09-02 16:30] PhilippSeitz opened #588 "[Question] Get roles for user with matcher_functions in the role_definition"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
Hi, i want to apply a preset of policies to all my groups like in the model below, which works pretty nice on enforcing the policies. But now i

[2020-09-04 11:53] hsluoyz commented on #588
@PhilippSeitz you can call `GetImplicitPermissionsForUser()`.

[2020-09-07 15:06] Gaadek commented on #585
Hi, after some days working on this topic, I think my approach is not the good one.
I now believe the resources should not be disabled, I should use the permissions to manage that.

Furthermore, I realize my problem comes from probably from some kind of misunderstanding of the various models and in which cases I can apply them or not. Do you have a good resources to get some training on that (in E

[2020-09-07 15:06] #585 closed

[2020-09-07 15:12] hsluoyz commented on #585
Sorry that none of our contributors have answered this question. Actually this question is long and tailored for your scenario instead of a question directly pointing to Casbin bugs or features. If you still expect an answer, I personally suggest this: https://github.com/casbin/casbin/issues/567

[2020-09-09 14:20] pagesuite-github opened #596 "Dynamic policy rules"
We are creating a new administrative portal for our clients to manage resources within their account. Example resources in the account are publications, editions within that publication, and pages within an edition. There will also be many users in each client account. We would like to have granular control over all operations on all resources, down at the identifier level.

I thought this would b

[2020-09-10 03:07] hsluoyz commented on #596
@pagesuite-github hi, what's your question specifically?

[2020-09-10 08:34] pagesuite-github commented on #596
Thanks for getting back to me so soon :)

Would using a custom matching function to check the resource ID in the request object is owned by the user making the request be the correct way to enforce the dynamic route issue mentioned above? We don't want a user from one account requesting publication:123456, which (could) belong to another account. We need to check first that publication:123456 is i

[2020-09-11 01:01] hsluoyz commented on #596
sub's account ID can be passed into matcher via request, like r.sub_account. Similar to obj's account ID: r.obj_account. Then in matcher, you can just compare: `r.sub_account == r.obj_account`. It looks better.

For RBAC, I don't know what you mean, but you can easily use it as:

[code]

[2020-09-11 04:23] rillazoid72 opened #597 "ABAC with policy rules using JSON"
Hi folks!

I am wanting to implement ABAC with policy rules into my project but I need to use JSON or BSON. How can the policy rules be evaluated? Maybe something like json rule engine? For example, evaluating "r.sub.Age > 18" or "r.sub.Age < 60".

What methods have you seen using ABAC on JSON files?

[using golang, json/bson, mongodb]

[2020-09-11 08:13] GopherJ opened #598 "[Feature] missing domain support in some RBAC APIs"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when the following RBAC APIs don't support domain

[2020-09-11 08:16] pagesuite-github commented on #596
Thanks again for the quick response and continued help!

The issue there is that we may not know the accountID for the resource at the point of the request. Take this example

`enforcer.enforce("alice", "publication:123456", "create-edition");`

At this point, we know Alice wants to create an edition for publication 123456, but we don't know which account that publication belongs to. To find this

[2020-09-11 08:36] pagesuite-github commented on #596
Thanks again for the quick response and continued help!

The issue there is that we may not know the accountID for the resource at the point of the request. Take this example

enforcer.enforce("alice", "publication:123456", "create-edition");

At this point, we know Alice wants to create an edition for publication 123456, but we don't know which account that publication belongs to. To find this in

[2020-09-11 08:36] pagesuite-github commented on #596
Thanks again for the quick response and continued help!

The issue there is that we may not know the accountID for the resource at the point of the request. Take this example

`enforcer.enforce("alice", "publication:123456", "create-edition");`

At this point, we know Alice wants to create an edition for publication 123456, but we don't know which account that publication belongs to. To find this

[2020-09-11 10:09] pagesuite-github commented on #596
After playing around for a bit longer, I believe I am now close to having it setup correctly for our needs. I've added _"domain"_ to the request definition and the group role matcher:

Policy file:

[code]

Model file:

[code]

This means the policy file reads logically, there is no need to redefine a policy each time to give users single-access privileges like before, we can simply add a user to

[2020-09-11 11:36] hsluoyz commented on #597
@rillazoid72 you can use the JSON adapter: https://github.com/casbin/json-adapter

It's on our adapter list: https://casbin.org/docs/en/adapters

[2020-09-11 11:37] #597 closed

[2020-09-11 11:40] hsluoyz commented on #598
@00LT00 please try to solve this issue.

[2020-09-11 12:04] rillazoid72 commented on #597
@hsluoyz My question is how do you use "r.sub.Age > 18" or "r.sub.Age < 60" in the JSON file?

A more in depth example would be:
{"PType":"p","V0": [What do I put here for JSON],"V1":"data1","V2":"read"}

I already know about the adapters, please re-open

[2020-09-11 14:05] hsluoyz commented on #597
Can't write like this?

[code]

[2020-09-11 15:41] rillazoid72 commented on #597
Hey @hsluoyz  thanks for your fast responses. The problem was coming from the mongodb side, casbin is working just fine. While I have your attention, what does "V0", "V1", "V2" come from, what does it mean?

Once again thanks for your responses.

[2020-09-11 15:44] hsluoyz commented on #597
"V0", "V1", "V2" are just placeholders for policy elements. We defined up to "V5" to allow at most 6 elements in policy. This is usually enough for most of use cases.

[2020-09-11 18:59] rillazoid72 commented on #597
@hsluoyz I appreciate the information!

[2020-09-14 02:29] hsluoyz commented on #598
@jpatters I noticed you sent an issue here: https://github.com/teramoby/speedle-plus/issues/11 . Actually Casbin has a friendly RBAC API here: https://casbin.org/docs/en/rbac-api  let me know if you have any questions.

[2020-09-14 04:01] 00LT00 commented on #598
When I was working on this issue. I found that there are several functions with the "indomain" suffix that can achieve the same function.@hsluoyz @GopherJ

[2020-09-14 08:47] Gaadek opened #599 "[Question] Is it possible to define policies in RBAC with domain without domain restriction?"
Hello,

For my app I've implemented the RBAC with domain model.
I'd like users with specific role, no matter its domain, to perform some actions.

In my case, I want users with `admin` role, in any domain, to be able to `create` users in a central repository.
Once the user is created in the repository, the `admin` user can "map" the user to a domain with a role (and there the domain is important)

[2020-09-14 10:49] hsluoyz commented on #599
@Gaadek please give an example model and policy, and request and expected result.

[2020-09-14 11:20] jamesislebron opened #600 "[Question]wildcard or keyMatch func for rbac domain ?"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**

I am trying to create a rbac model with domain.
I want to achieve that a role has some permissions in all domains.So I use "*" for domain in po

[2020-09-14 12:14] hsluoyz commented on #600
@nodece @00LT00

[2020-09-14 12:16] GopherJ commented on #598
@00LT00 we can replace those old functions, because `indomain` suffix is not necessary

[2020-09-14 12:31] Gaadek commented on #599
Sure,

Here is the  model I'm using:
[code]

The policies I'm using:
[code]

And the test cases:
[code]

The very first test case is to check if `alice` can create a user, which is expected to be `true` because `alice` is `admin` for 1 domain. It returns `false` because `alice` is not directly linked to domain `*`

Thetest case #4 returns `false` as expected because `bob` is not `admin`on any doma

[2020-09-14 12:40] 00LT00 commented on #598
I think you can look at the `rabc_api_with_domains` file. @GopherJ

[2020-09-14 19:12] 00LT00 commented on #598
plz review the pr #601 @GopherJ @hsluoyz @nodece

[2020-09-14 19:44] 00LT00 commented on #599
I think we do not support the wildcards of domains at the moment. @Gaadek

[2020-09-14 19:59] 00LT00 commented on #600
`e.rm` is a private struct for Enforcer
![image](https://user-images.githubusercontent.com/47566260/93132078-a1d2cd00-f707-11ea-921f-20b374133d73.png)
So you can try
[code]

[2020-09-14 20:02] 00LT00 commented on #599
@Gaadek I think #600 could give you some help.

[2020-09-15 02:27] jamesislebron commented on #600
It works.
While it means that the docs and examples are both wrong ?
Hope that there are some correct for this cause it really confused.
Thanks a lot !

[2020-09-15 04:41] hsluoyz commented on #600
@jamesislebron @00LT00 can you update the wrong docs here: https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac ?

[2020-09-15 08:07] jamesislebron commented on #600
sure, I'll correct it in docs and examples.

[2020-09-15 08:37] 00LT00 commented on #600
updated. @hsluoyz

[2020-09-15 10:21] hsluoyz commented on #600
Um.. I see two exactly the same PRs. I merge the earlier one (131) this time.

https://github.com/casbin/casbin-website/pull/131
https://github.com/casbin/casbin-website/pull/132

[2020-09-15 10:22] #600 closed

[2020-09-15 16:04] pagesuite-github commented on #596
Am I asking for something that Casbin doesn't support?

[2020-09-16 07:51] Gaadek commented on #599
Thanks for the comment, I reviewed the #600.

I need to determine if that's acceptable for me to assign the users to the "*" domain

[2020-09-16 08:48] lucas-57blocks opened #603 "[Question] eval support in policy"
With the code in pr [fix: compatible RBAC in ABAC](https://github.com/casbin/casbin/pull/583), change the replace role of eval string in policy, why? How to support scenario  below? #583

@hsluoyz @GopherJ @nodece

**Model:**
[code]

**Policy:**

[code]

**Request:**

[code]

[2020-09-16 14:04] hsluoyz commented on #603
@00LT00 can you reply to this question?

/cc @nodece

[2020-09-16 18:00] 00LT00 commented on #603
@lucas-57blocks Now we don't support `r.user.Role == p.role`  writing directly in Conf. So you can try
Policy:
[code]
Model:
[code]
test.go
[code]
And it's ABAC in fact.

[2020-09-17 01:50] lucas-57blocks commented on #603
@00LT00  Now, the code is
[code]
That means, only support ">", "<", "==", ">=", "<=", "!=", "=~", but other operators, key match function, custom function can't be supported without those operators?

[2020-09-17 03:13] 00LT00 commented on #603
Sorry, I made a serious mistake, the real problem should be here
`p, employee, **true**, /user/profile, (GET)`
it should be `1=1`, and I think we should add `"true"`

Umm..I think the `key match function, custom function` should be used at `Model` rather than at `Policy`

[2020-09-17 07:34] lucas-57blocks commented on #603
@00LT00  That's great if you add `"true"`.
There is another thing I want to discuss. We use matcher to check all policies, logic may be complex, so matcher is very flexible, we can also use `eval` to do policy-specific checks, the logic also can be complex, why restrict flexibility? Is it required by the tenets of ABAC?

[2020-09-17 08:30] hsluoyz commented on #603
@lucas-57blocks see the scaling ABAC feature: https://casbin.org/docs/en/abac#scaling-the-model-for-complex-and-large-number-of-abac-rules

[2020-09-17 10:26] nodece commented on #603
@lucas-57blocks You are right, we should consider the bool in part of ABAC.

[2020-09-17 11:06] lucas-57blocks commented on #603
@hsluoyz I've read it before, but it doesn't explain the question about restrict flexibility in policy.

[2020-09-17 12:15] dschmidt commented on #568
`CasbinJsGetPermissionForUser(...)` accepts only `*Enforcer`, it would be cool to be able to pass a `*SyncedEnforcer` to it.
For that at least `GetImplicitPermissionsForUser(...)` is missing in the `SyncedEnforcer`.

[2020-09-17 13:06] hsluoyz commented on #568
@00LT00 can you fix this issue?

/cc @nodece

[2020-09-17 15:19] dschmidt opened #604 "CasbinJsGetPermissionForUser is too limited"
Hey everyone,

I'm checking out casbin because I'm considering to use it for a project. What especially caught my interest, is the new casbin.js because no other go authorization framework seems to provide anything similar. While I was playing around with it, I noticed limitations of `CasbinJsGetPermissionForUser`, which I would like to discuss:

(I hope this is the right repository to discuss, ot

[2020-09-17 16:12] hsluoyz commented on #604
@kingiw can you take a look?

[2020-09-17 20:12] 00LT00 commented on #568
@hsluoyz @dschmidt  plz review #605

[2020-09-18 03:52] xslasd commented on #604
e.GetUsersForRole(role) 目前不支持分页查询， 是否可以添加。我需要给前端展示角色的用户信息。

[2020-09-18 05:05] kingiw commented on #604
Glad to see your valuable comments!

Current implementation of `CasbinJsGetPermissionForUser` only support for conventional ACL and RBAC models. What we currently doing is rebuilding the design of CasbinJS and looking for a more generic solution is to let CasbinJS support all models, like RBAC w/ domains and complicated ABAC models.

To minimize the the information passed to the frontend while mai

[2020-09-18 06:50] brt-alok-adhao opened #606 "[Question] Is it possible to get reason of permissions denied from casbin enfocer with boolean response?"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
Your answer here

**Your model:**

[code]

**Your policy:**

[code]

**Your request(s):**

[code]

[2020-09-18 08:38] dschmidt commented on #604
You're welcome and thanks for your comment! :)

Here are my thoughts on what you wrote:

[code]

I'm not sure this is true, if you strip `sub` from the matcher definition and the response to the frontend, how is the frontend supposed to prioritize conflicting rules? I'm not sure all conflicting rules can be resolved at server side, because the resource they will be used against is not known yet.

[2020-09-18 12:20] 00LT00 commented on #568
@hsluoyz @nodece @dschmidt  Plz review #607 and #608

[2020-09-18 12:45] dschmidt commented on #568
commented on #607, no idea about #608 :)

[2020-09-18 16:09] brt-alok-adhao commented on #606
Hello,
I have updated the example and included what I am looking for.
I have used Cabin RBAC with domains in one of my projects.
Now if the decision is false then I also need to respond back to the user with the reason why he is not having Access.
As enforcer just returns a boolean value. I am not sure if the action is not present or the policy is not present or the user is not present.

So, My ex

[2020-09-18 16:35] hsluoyz commented on #274
@benwilson512 Casbin already has a native Elixir implementation: https://github.com/casbin/casbin-ex

[2020-09-18 16:38] hsluoyz commented on #606
@00LT00 can you work on this feature (responds with the reason where it failed.) ?

/cc @nodece

[2020-09-18 16:41] 00LT00 commented on #606
I will try.

[2020-09-18 17:21] benwilson512 commented on #274
It did not at the time I posted this issue :).

[2020-09-19 01:50] hsluoyz commented on #274
@benwilson512 We will consider to make a new Lua implementation these months: https://github.com/casbin/casbin-lua Maybe let a GSoC student work on it next summer.

[2020-09-19 11:36] GopherJ commented on #606
@hsluoyz  @brt-alok-adhao Is there a method to implement this? In my opinion it's currently not possible, because model.conf's matcher will be parsed to an AST, and we need to find the first `false` while evaluating to be able to return back the failed expression.

However, govaluate and rhai don't support this from my understanding...

If we don't do this way, it'll be hard to implement, even if

[2020-09-19 18:53] 00LT00 commented on #606
May be we can split expression ourselves, use tree. But it will take us further and further away from govaluate... And we cannot ensure stability. Do you have some idea?

[2020-09-20 16:46] kingiw commented on #604
In my mind, the priority of the policies can be determined at the backend in some sort of other forms like the orders (The more ahead, the higher priority)

I believe the roles are not necessary to the frontend. The frontend doesn't need to know which group the current subject belongs to. All the policies passed to the frontend are dedicatedly filtered out according to the subject and are **anonym

[2020-09-21 02:03] rrasulzade commented on #547
@hsluoyz @nodece @dovics
Hi all, I wonder where I can get updates and status on `casbin raft` implementation? Will it be released with `casbin` v3 and how does the timeline look like for this release? Thanks

[2020-09-21 02:26] hsluoyz commented on #547
@dovics

/cc @nodece

[2020-09-21 13:47] hsluoyz commented on #606
@GopherJ we don't need to return the matcher AST level information. Just return the currently triggered rule, e.g., the first allowed rule index or rule itself for Allow-override model.

[2020-09-21 15:45] PhilippSeitz commented on #588
@hsluoyz for this i need to pass the domain. But i want to get all permissions across `domains` (not really used as domains here)

[2020-09-21 16:25] hsluoyz commented on #588
@nodece @00LT00

[2020-09-21 16:29] hsluoyz commented on #603
@nodece I still didn't get why we restrict the eval here: https://github.com/casbin/casbin/pull/583/commits/7c9f78f6a964183442201037e723600080df7a8c#r475317157

Can you explain this line?

[2020-09-21 16:36] hsluoyz commented on #596
@00LT00

/cc @nodece

[2020-09-21 16:38] nodece commented on #603
@hsluoyz  For example, we should eval p.sub, which should be an expression, but what the user provides is not an expression.

Model:
[code]
Policy
[code]

[2020-09-21 20:57] 00LT00 commented on #588
May be we need a func to get roles, whether domain is used or not ?

[2020-09-22 00:40] hsluoyz commented on #603
@nodece it's the end user's responsibility to know that column means "rule" which is an expression instead of a element like "sub", "obj", "act". As the end user controls both the model and policy rules, he can well know that "admin" in the first rule is not an expresssion. Actually I suggest changing a different name, use "rule" as an additional column will be better:

Model:

[code]

Policy:

[c

[2020-09-22 00:41] hsluoyz commented on #588
@00LT00 please add `GetImplicitPermissionsForUserForAllDomains()`

[2020-09-22 00:46] #598 closed

[2020-09-22 01:19] lucas-57blocks commented on #603
@hsluoyz This example is the same as mine, "rule" is "ext". I use "ext" as additional expresssion in policy, but this expresssion was been restricted.

[2020-09-22 01:22] hsluoyz commented on #603
Then I think we can roll back this change.

[2020-09-22 06:09] #603 closed

[2020-09-22 06:09] hsluoyz commented on #603
@lucas-57blocks reverted in: https://github.com/casbin/casbin/pull/611

[2020-09-22 10:02] dschmidt commented on #604
Okay, sounds good. It's nothing I need urgently for now, so I'm happy to wait and see what you come up with.

Good luck on your mission! \m/

If there's anything you want feedback on or help with, let me know here.

[2020-09-24 16:16] PhilippSeitz commented on #588
@hsluoyz but it seems like the `GetImplicitPermissionsForUser()`  does use the keymatcher while filtering the policies.

[code]

i would expect it to equal `[["owner", "data1", "write" ], ["owner", "data1", "read" ]`.
Because `Enforce(alice, data1, read)` does return `true`.

Maybe we can add the possibility to intercept the matching here, by a custom matcher:
https://github.com/casbin/casbin/blob

[2020-09-25 10:34] pokid commented on #584
i  usually check if policy existed  before i add or del policy,if existed,i won‘t do that operation.
but when i try to use add & remove to update policy , the result of getting policy for role in domain is different before del and after del,i feel confused about this.
to resolve this,i hava to keep the result of getting policy for role in domain before del,and transmit this result to add operation

[2020-09-25 11:19] 00LT00 commented on #584
yeah, we will add `UpdatePolicy()` . But it is a break change. So it will be merged late. I think you can refer to #592  to add this function yourself. @pokid

[2020-09-25 13:07] hsluoyz commented on #584
@00LT00 why is `UpdatePolicy()` a breaking change? We can first make it an optional function in the interface, like add and remove.

[2020-09-26 15:48] 00LT00 commented on #596
@pagesuite-github  Hi, I think you should understand to [use function](https://casbin.org/docs/en/function). The usage of `regexMatch(r.act == p.act)` is wrong.
You can try
Model:
[code]
Policy
[code]
And you need to register the `keyMatch` to casbin Enforcer

[code]

Now, the `alice` can do anything as admin not limited by domains

[2020-09-26 16:36] 00LT00 commented on #588
@PhilippSeitz Hi, does it meets your requirement?

[2020-09-27 05:17] hsluoyz commented on #588
@00LT00 does this PR: https://github.com/casbin/casbin/pull/612 consider the matcher expression like `keyMatch()` in it?

[2020-09-27 06:37] #568 closed

[2020-09-27 06:39] hsluoyz commented on #568
@00LT00 congrats! Please claim your $1 funding at: https://issuehunt.io/r/casbin/casbin/issues/568

[2020-09-28 08:03] PhilippSeitz commented on #588
@hsluoyz @00LT00 First of all thank you for the quick responses. Unfortunately this does not seems to be the case https://github.com/casbin/casbin/pull/612#discussion_r495756036.

[2020-09-29 11:17] 00LT00 commented on #588
Now, this function was return the value of model(Policy.csv). In fact, member can read anythins. But it is determined during operation. `model[p][p]` wasn't have this permission.
If we need get this permission, we need the `e.model[p][p].RM` has default value.
Do you have any ideas? @nodece @hsluoyz

[2020-09-29 13:47] GopherJ opened #613 "[Feature] add the new UpdateGroupingPolicy() API"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when when I would like to rename a role and there

[2020-09-29 14:04] hsluoyz commented on #588
`GetImplicitPermissionsForUser()` is a simplified version of batch enforce. It doesn't use the matcher as what enforce() does. Because we know, matcher is an expression actually. There's no way to know which permissions and user will make matcher hold.

Another way to solve it is to add a `batchEnforce()` function to allow enforce multiple elements (maybe users, or permissions) at the same time. `

[2020-09-30 03:48] holayao opened #614 "[Question]Is it possible to ignore func (rm *RoleManager) PrintRoles() when i disable log"
------

**What's your scenario? What do you want to achieve?**
Your answer here

i have been  study with GC recently , and i found func (rm *RoleManager) PrintRoles() took up a lot of heap memory due to this line as shown in the red box
![image](https://user-images.githubusercontent.com/41869842/94640989-a22bb480-0312-11eb-89b6-d787d90a615d.png)
so i wonder if this function can be ingored when i d

[2020-09-30 13:01] hsluoyz commented on #614
@nodece @00LT00

[2020-09-30 14:58] 00LT00 commented on #614
@holayao I noticed that you are still using the old version of casbin. So I suggest you should update the version for the many feature.
And you can how to turn off the log [here](https://casbin.org/docs/en/log-error#logging).
[code]

[2020-10-01 03:05] holayao commented on #614
I have already disable log feature,but this function will be executed when call buildRoleLinks, as > [here](https://github.com/casbin/casbin/blob/c730e2689d1f9e60206fbe30f0995d48899b6760/enforcer.go#L253)

it looks like we must enable function buildRoleLinks,or when i add or delete a role ,it wont work

[2020-10-01 11:49] hsluoyz commented on #614
We can wrap the log printing in `buildRoleLinks()` with an EnableLog flag check. @00LT00 or @holayao can you make a PR?

[2020-10-02 03:11] holayao commented on #614
@hsluoyz of course,it's my pleasure

[2020-10-02 12:44] CSRaghunandan opened #616 "[Bug] documentaion for error handling needs to be updated"
The logs for error handling is outdated as per the latest major version of Casbin: https://casbin.org/docs/en/log-error#error-handling

It mentions using `NewEnforcerSafe` and `LoadModelSafe`, both of which are not present on v2 of casbin.

[2020-10-02 12:52] hsluoyz commented on #616
@CSRaghunandan thanks for pointing it out! Are you willing to make a PR to fix it?

[2020-10-04 03:15] #614 closed

[2020-10-08 08:02] PhilippSeitz commented on #588
@hsluoyz sounds good. `GetRolesForUserForAllDomains` is already a great help. With that i can get the permissions for each role.

[2020-10-08 14:30] hsluoyz opened #617 "[Feature] Add BatchEnforce() API to make getting all real implicit permissions possible"
See discussions here: https://github.com/casbin/casbin/issues/588#issuecomment-700727805

`GetImplicitPermissionsForUser()` is a simplified version of batch enforce. It doesn't use the matcher as what enforce() does. Because we know, matcher is an expression actually. There's no way to know which permissions and user will make matcher hold.

Another way to solve it is to add a `BatchEnforce()` fun

[2020-10-08 14:31] hsluoyz commented on #588
OK. Close this for now. Raised another issue about `batchEnforce()` API here: https://github.com/casbin/casbin/issues/617

[2020-10-08 14:31] #588 closed

[2020-10-09 14:40] hsluoyz commented on #581
Fixed by: https://github.com/casbin/casbin/pull/591

[2020-10-09 14:40] #581 closed

[2020-10-10 05:16] liujiajun commented on #613
Hi all, I would like to work on this issue if no one's taking.

[2020-10-10 11:56] liujiajun commented on #613
Since this is my first time contributing to the project, I was wondering anyone could help check the proposal below:

### Proposal
Add a new RBAC API `EditRoleName(oldName, newName, roleType string) (bool, error)`, where `roleType` can be either `resource` or `subject`.  `rowType` is needed because we need to know which field to update in policy rules. Alternatively, we can use something like `ind

[2020-10-10 12:36] hsluoyz commented on #613
@GopherJ why don't we use `UpdatePolicy()` (https://github.com/casbin/casbin/pull/592) to update the roles in the g policy?

[2020-10-11 03:07] #616 closed

[2020-10-11 05:21] hsluoyz commented on #234
@kocoler can you work on this?

[2020-10-11 08:57] CSRaghunandan opened #618 "[Bug] GetUsersForRole() and GetRolesForUser() are not working on casbin 2.13.1 on postgres database/sql connector"
**Describe the bug**

GetUsersForRole() and GetRolesForUser() methods are not working when I'm using `RBAC with domains model`.

GetRolesForUser() is returning an empty list even for the names which have roles defined in the policies
And GetUsersForRole() is returning an error `name does not exist`

I am testing on Arch Linux `5.8.13-arch1-1` running casbin version `2.13.1`

[2020-10-11 10:51] 00LT00 commented on #618
Can you provide your policy and model?

[2020-10-11 12:35] nodece commented on #618
I guess you didn't fill in the domain parameter.

example: `GetRolesForUser("user1", "domain")` or `GetUsersForRole("role1", "domain1")`.

[2020-10-11 18:35] CSRaghunandan commented on #618
I did call the function with the domain name as the 2nd argument.

[2020-10-11 18:39] CSRaghunandan commented on #618
How can I share the policy and model files with you? This is related to our companys products, so I'm not allowed to make a public comment.

[2020-10-12 06:09] 00LT00 commented on #618
@CSRaghunandan  Could you write a simple example to reproduce the bug? It could make us solve the problem as soon as possible.

[2020-10-12 10:56] CSRaghunandan commented on #618
Model:

[code]

Policy:

[code]

I connected to casbin using postgres DB using the  `"github.com/Blank-Xu/sql-adapter"` and `pq` as the native postgres connector.

Below is a sample code for testing:
[code]

[2020-10-12 13:25] tvanriper opened #619 "[Bug] A matcher with multiple eval() doesn't work"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Describe the bug**
A matcher with multiple eval() statements only calls the first eval(), caching the results.

**To Reproduce**
Compile this:

[code]
... then run it.

Notice in the logging how th

[2020-10-12 14:54] nodece commented on #618
My code works fine:
[code]

I suggest that you check that the adapter loads the policy correctly.

[2020-10-12 15:01] CSRaghunandan commented on #618
Oh! I was using the postgres adapter.

Let me try using file adapter and see if it works. I will report back.

Thanks for your quick response

[2020-10-12 17:41] dwang7 commented on #599
you can define your conf like this:

[code]

The domain is not specified in the policy definition. It is only specified in the role and request definition.

[2020-10-12 18:23] nodece commented on #619
@tvanriper I submitted a PR: https://github.com/casbin/casbin/pull/620. could you review this PR?

[2020-10-13 07:23] CSRaghunandan commented on #618
@nodece

I just tested it out with file adapter and it is working fine. I was using postgres connector: sqladapter "github.com/Blank-Xu/sql-adapter"

Would using a different connector like `xorm` connector solve this issue? Now, how do I debug my program?

Below are the data I see in the database:
[code]

The data seems to be fine? at least when comparing to the policies CSV file  I loaded.

[2020-10-13 07:57] CSRaghunandan commented on #618
@nodece @00LT00

I found what the problem was, I was using `AddNamedGroupingPolicy` instead of `AddGroupingPolicy` and that was the issue I think

After I started using `AddGroupingPolicy` `GetRolesForUser` and `GetUsersForRole` are working. Closing the issue.

[2020-10-13 07:57] #618 closed

[2020-10-13 07:57] tvanriper commented on #619
It looks okay, but I lack familiarity with this code base.  I would defer to those who know the code base better.

[2020-10-13 10:18] flusflas opened #621 "[Question] Cannot mock enforcer (IEnforcer has unexported methods)"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
I want to create a mocking struct (e.g. using [https://godoc.org/github.com/stretchr/testify/mock](https://godoc.org/github.com/stretchr/testify

[2020-10-13 13:03] hsluoyz commented on #621
@nodece

[2020-10-13 14:51] nodece commented on #621
@flusflas could you upgrade to v2.13.1?

 It works fine: `//go:generate mockery --name=IEnforcer --srcpkg=github.com/casbin/casbin/v2`

[2020-10-14 14:07] flusflas commented on #621
I am able to generate a mock struct, but an instance of that struct cannot implement the interface as there are unexported methods (Error: `Type cannot implement 'IEnforcer' as it has a non-exported method and is defined in a different package`). Maybe I'm missing something...

Little example:
[code]

[code]

[2020-10-14 15:35] #584 closed

[2020-10-14 15:49] nodece commented on #613
It has been implemented by #592.

[2020-10-15 01:37] hsluoyz commented on #621
@flusflas released v2.14.1: https://github.com/casbin/casbin/releases/tag/v2.14.1

[2020-10-15 01:42] #619 closed

[2020-10-15 02:02] hsluoyz commented on #619
@tvanriper released v2.14.2: https://github.com/casbin/casbin/releases/tag/v2.14.2

[2020-10-15 07:42] 00LT00 commented on #613
@nodece Plz reopen this issues, I just thought of the #592 couldn't resolve this issues. Because it just update `model[p]`.

[2020-10-17 22:14] SPopenko commented on #545
@GopherJ could you please suggest the recommended  way how to solve this resource list filtration task?
Like ‘Alice’ owns a few pets (A, B) and as well she is veterinarian who treats another pets (C, D),  how we could return the list of “pets” that she has access to: A,B,C,D ?

[2020-10-26 07:17] Edwardsj opened #628 "p2"

[2020-10-26 07:18] #628 closed

[2020-10-26 16:43] #234 closed

[2020-10-26 16:44] hsluoyz commented on #234
The Audit Logs have been added in: https://github.com/casbin/casbin/pull/626

@kocoler please improve the docs here: https://casbin.org/docs/en/log-error to tell people how the log works and how to write a custom logger.

[2020-10-26 16:48] hsluoyz commented on #613
@00LT00 we should have `Enforcer.UpdateGroupingPolicy()` series functions like add and remove.

Can you add this too?

[2020-10-26 18:43] niallnsec opened #629 "[Bug] Log Spam after upgrade to 2.15.0"
**Describe the bug**
After upgrading to version 2.15.0 Casbin is writing unwanted log messages to stdout.

**To Reproduce**
Init Casbin with a model with logging disabled by passing false as the third argument.

**Expected behavior**
No log will be written to stdout, as in previous versions.

**Desktop (please complete the following information):**
 - OS: Any

**Additional context**
I think this i

[2020-10-27 00:43] hsluoyz commented on #629
@kocoler can you take a look at this issue?

[2020-10-27 07:51] 00LT00 commented on #613
I am writing, but something has been delayed in the past two weeks

[2020-10-29 04:58] #629 closed

[2020-10-29 04:58] hsluoyz commented on #629
@niallnsec fixed in: https://github.com/casbin/casbin/pull/630

[2020-10-30 10:58] adrianwix opened #632 "[Question] How to document the business rules of your application"
Hi, I was wondering if anyone could recommend a way to keep track of the rules/permissions that are used or can be use in an application.
I have for example a set of resources
[code]
and a set of actions that can be use with this permissions
[code]
Then the funny thing beginns when we have _different set of possible combinations_.
Like for example
[code]
So `ROLE` can only have the actions CREATE

[2020-10-31 06:31] hsluoyz commented on #632
@nodece @kocoler

[2020-10-31 12:04] nodece commented on #632
@adrianwix Do you want to log the policy?

[2020-11-04 06:07] while-loop commented on #161
hsluoyz are you correctly setting your custom functions?

I think I also want the same config as you. Here are sample tests (check the custom config section).

￼

[2020-11-04 13:54] nodece commented on #161
@elhmarouan The latest version supports this feature.

[2020-11-05 06:25] kanika21011 opened #633 "[Question] Passing a list in the enforcer in an ABAC model"
Hi,
I am working on an ABAC model, where I have to check if an entity is allowed to access a resource
Something like,
p, r.sub.Name == 'Alice' || r.sub.Name == 'Bob', data1, read
Now is there a way I can pass the list in enforcer instead of checking for individual names?

[2020-11-06 04:58] kevinlu1211 opened #634 "[Question] Using Casbin for data filtering"
Hello I understand that the output of Casbin is for enforcing authorization, but I was wondering if it is a common pattern where people are using Casbin for data filtering?

For example,

[code]

[2020-11-06 05:25] hsluoyz commented on #634
@kevinlu1211 yes, see: https://github.com/casbin/casbin/issues/617

[2020-11-06 06:21] kevinlu1211 commented on #634
@hsluoyz I've read through it, could you elaborate a bit?

[2020-11-06 11:18] nodece commented on #633
I'm not sure if it's this: https://casbin.org/docs/en/abac#scaling-the-model-for-complex-and-large-number-of-abac-rules

[2020-11-06 14:41] kanika21011 commented on #633
It is something similar to it.
What I am trying to do is have a list of names that can access a specific resource.
Like Alice and bob can access data1 on read-write mode. It is easy to do right now as we are looking at only two rows for now. If this turns to be 1000 rows then instead of writing each policy separately, is there a way I can have a list in the policy file and the pass list in the enf

[2020-11-07 01:55] hsluoyz commented on #633
@kanika21011 I think you need `batchEnforce()`: https://github.com/casbin/casbin/issues/617

@nodece can we implement it?

[2020-11-07 10:55] nodece commented on #633
@hsluoyz I guess he wants to pass the `policy` to enforcer.

@kanika21011 Do you mean this?

[2020-11-07 11:12] kanika21011 commented on #633
No, I want to pass the list in the enforcer.
Something like,

list = ["Alice","Bob"]
e.enforce(list, "data1", "read_write")
and my policy file might look like,
p, r.sub.Name in ("Alice", "Bob"), data1, read_write

The enforce should check if the list("Alice", "Bob") is allowed to do a read_write operation on data1 or not

[2020-11-07 11:13] hsluoyz commented on #633
@nodece @kocoler can you help implement this? https://github.com/casbin/casbin/issues/617

[2020-11-08 08:37] kanika21011 commented on #633
@hsluoyz yes.
and the policy should also contain the list and not the individual rule
Is this possible?

[2020-11-09 15:40] rrasulzade commented on #547
@hsluoyz  @nodece  @dovics
Hi everyone, could you please provide the estimated time for Casbin-raft and v3 to go to public? Thanks

[2020-11-12 15:06] hsluoyz commented on #234
@Wang-Kai The new Logger interface is ready, see: https://casbin.org/docs/en/log-error

[2020-11-12 15:06] hsluoyz commented on #160
The new Logger interface is ready, see: https://casbin.org/docs/en/log-error

[2020-11-12 23:11] cooked-sashimi opened #638 "[Question]"
## Configuration file:

[request_definition]
r = sub, obj, act

[policy_definition]
p = sub, obj, act

[role_definition]
g = _, _

[policy_effect]
e = some(where (p.eft == allow))

[matchers]
m = g(r.sub, p.sub) && r.obj == p.obj && r.act == p.act

The goal is to allow `user=alice` to have admin access all the capture A* and B1 which I have done via:

[code]

The goal is to allow this to scale up

[2020-11-16 10:32] sangalao opened #639 "function "LoadModel" is not synchronized in structure [SyncedEnforcer]"
See content of file :
https://github.com/casbin/casbin/blob/master/enforcer_synced.go

function "LoadModel" is not present, and thus not synchronized in this structure.
Therefore, thread concurrency issues may occur while calling [LoadModel] functions and other methods through different go routines

[2020-11-16 11:25] sangalao opened #640 "[Bug] LoadPolicyLine method crashes in adapter.go if model is empty (robustness issue)"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Describe the bug**

[Bug] LoadPolicyLine method crashes in adapter.go if model is empty and policy non-empty (robustness issue)

to reproduce :
Use an empty model and a non-empty policy, and try to

[2020-11-16 14:12] GopherJ commented on #640
@sangalao basically model shouldn't be empty, it should at least contain: `r, p, e, m` section, otherwise casbin may crash. I don't think it's good to add this check because if this happens, casbin should stop working immediately.

However, maybe we should change to make it `panic` with an error message which I think is a correct way of handling this

[2020-11-16 16:26] hsluoyz commented on #640
Good point!

[2020-11-16 16:50] hsluoyz commented on #639
@sangalao can you make a PR to fix it?

[2020-11-16 16:50] hsluoyz commented on #639
@nodece

[2020-11-17 04:41] dragonborngem opened #641 "[Question] Result with same model , policy and request is not the same on editor casbin page"
I tested this model policy and request below, expected result must be

[code]
but it only on ABAC example page, if I switched to other example and paste same config, result will be
[code]
the different is last request, It true on ABAC example page and false on other example page, any reason why this happen or I missconfig something?
link to result image

![image](https://user-images.githubusercont

[2020-11-17 06:23] hsluoyz commented on #641
Please send the issue to: https://github.com/casbin/casbin-editor instead.

[2020-11-17 06:23] #641 closed

[2020-11-17 10:05] dragonborngem opened #642 "[Question] How to combine RBAC with ABAC to find owner of r.obj"
**What's your scenario? What do you want to achieve?**
Hi, I'm new to casbin
After read some docs, I have defined my model as below, but I'm still confuse about how can I combine RBAC and ABAC together
My case: I want admin to access any resource , It's ok, but I also want user who created resource can access them also
example for simple endpoint
[code]
I can get user and obj from request , but r.

[2020-11-18 17:28] bingmwu commented on #254
Any fix for JCasbin in the near future? We have experienced exactly the same issue.

[2020-11-19 05:28] hsluoyz commented on #254
@bingmwu what's your suggestion for a fix?

[2020-11-19 08:15] dragonborngem opened #643 "[Bug] GetRolesForUser Does not work with a list of domain in parameter"
**Describe the bug**
A clear and concise description of what the bug is.

I'm using go 1.15 with casbin v2.17.0 and gorm  v1.20.6

As i can see , function
**func (*casbin.Enforcer).GetRolesForUser(name string, domain ...string) ([]string, error)**
can pass list of domain or slice of domain as second argument, but if I pass more than one domain, I will get this err
**domain should be 1 parameter**

[2020-11-19 13:22] bingmwu commented on #254
@hsluoyz We used a work around, leveraging  @TransactionalEventListener for now:

- A CasbinPolicyChangedEvent is created, and is published right after the enforcer API is called to update the policy, for example:

[code]

- Use a event listener to update watcher again, after transaction is committed. This would result in the Casbin policies in memory being refreshed twice, for each policy update

[2020-11-19 14:32] nodece commented on #643
@dragonborngem This is not a bug.

If you want to get the roles for a user with multiple domain, you can only pass each domain to `GetRolesForUser` via loop.

Case: we have a user named `alice`,  which has `a`, `b` domain. I want to know what roles `alice` has in the `a` and `b` domain.
[code]

[2020-11-20 02:17] dragonborngem commented on #643
I know I should do it this way, but I don't think this function should be shown that it can be passed with multiple domains

[2020-11-20 03:03] rrasulzade commented on #547
Hi again, as you noticed this feature is very crucial for us, in order to run multiple instances to perform policy enforcement operations using Casbin. I'm very curious when we'll be able to use casbin-raft to support cluster of instances of casbin enforcer?

[2020-11-20 13:01] hsluoyz commented on #643
@dragonborngem we use `domain ...string` to support 0 domain and 1 domain, but not >1 domains.

[2020-11-20 13:01] #643 closed

[2020-11-24 10:34] fospitia opened #648 "[Feature]"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A

[2020-11-24 10:34] #648 closed

[2020-11-24 10:40] fospitia opened #649 "[Feature] New DynamoDB adapter for NodeJS"
Hi.

I made a DynamoDB adapter for NodeJS, https://github.com/fospitia/casbin-dynamodb-adapter, this support Auto-Save.

You can add it to the adapter list, please.

Thank you

[2020-11-24 12:16] wndrr101 opened #650 "[Question] Best way to combine RBAC and external LDAP groups membership"
Hello, could you please provide an approach on best way to handle external LDAP groups and RBAC?

Let's say we have:
role-1  - just Casbin role for RBAC
user-1 - external user from LDAP
user-2 - external user from LDAP
group-1 - group in LDAP (members are user1 and user2)
group-2 - group in LDAP (member is the user2)

[code]

P- and G-policy is just like that:
[code]

So, we have this membership i

[2020-11-24 14:08] hsluoyz commented on #650
@wndrr101, maybe you need to implement a custom LDAP role manager: https://casbin.org/docs/en/role-managers

[2020-11-24 14:22] wndrr101 commented on #650
I think I've found an answer (could be any easier??)

Since we're able to manipulate with "request" we can go for "grouping for ABAC" (no need for custom RoleManager just for groups acquisition, right?)

[code]

[code]
And here we dynamically loading "group membership" via ABAC and using **g2** for role-groups membership checks (last request is the most interesting - inheritance checks do work for

[2020-11-24 14:33] hsluoyz commented on #650
Glad that you found a solution by yourself! @nodece will answer for the Casbin-editor questions.

[2020-11-24 23:55] chanced commented on #546
roaring bitmaps may also help. But that may not be an option for all client languages.

[2020-11-27 16:27] github-actions[bot] opened #652 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2020-11-28 00:48] hsluoyz commented on #652
@nodece @abichinger

[2020-11-28 10:09] #652 closed

[2020-12-01 12:26] inamvar opened #655 "RBAC filtering roles based on a domain"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
I have set up "Role definition with domains tenants" model and it works well. I need to get the list of all roles in a domain. getAllRoles() ret

[2020-12-01 13:59] hsluoyz commented on #655
Call: https://casbin.org/docs/en/management-api#getfilteredpolicy and extract the column out.

[2020-12-01 14:01] hsluoyz commented on #655
Call: https://casbin.org/docs/en/management-api#getfilteredpolicy and extract the column out.

[2020-12-01 14:01] #655 closed

[2020-12-02 15:16] colynn opened #656 "[Question] there are some confuse about the user constraint permission?"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**

As described in the docs, [`casbin`](https://github.com/casbin/casbin) already support RBAC1 and  `RBAC with domains`.

For example, if I have

[2020-12-02 16:13] hsluoyz commented on #656
@colynn can you give more details about what kind of RBAC2 support you wants?

[2020-12-02 18:45] sebd71 opened #658 "RegexMatch on g2 (second RBAC system)"
Hello,
Below are my RBAC model and policies.
In order to reduce policies definition for an 'admin' subject / role, I would like to chain g2 + regexMatch on object :
 `p, admin, /projects/[0-9]+, (GET)|(POST)`

So matcher would be something like that :
m = g(r.sub, p.sub) && **g2(regexMatch(r.obj, p.obj))** && regexMatch(r.act, p.act)

Note that one solution would be to "hardcode" admin notion in m

[2020-12-03 01:15] hsluoyz commented on #658
@nodece

[2020-12-03 02:15] colynn commented on #656
eg, support for constraint definitions for user and role latitude.

[2020-12-03 05:44] hsluoyz commented on #656
@nodece @abichinger

[2020-12-07 18:40] sebd71 commented on #658
Any help?
Thanks.

[2020-12-08 14:28] hsluoyz commented on #658
@sebd71 I think you need this: https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac

[2020-12-11 08:45] hatami57 opened #660 "Performance issue for too many policies and offering Casbin as a service"
As I've read some parts of the source code, it seems like the library is loading all the policies at the beginning (as in LoadPolicy method).

If we have millions of policies for hundreds of thousands of users (or millions) for several applications, is it really required to load all the policies beforehand?

When I need to check permission for a specific user, does the engine need all other users

[2020-12-14 07:02] 894480109 opened #661 "In casbin/dbal-adapter, the loadPolicy method select column is different ?"
In casbin/dbal-adapter, the loadPolicy method runs select the column ptype,  but the table is p_type, why ?

[2020-12-14 14:55] hsluoyz commented on #661
@894480109 which `casbin/dbal-adapter`? Can you give a URL?

[2020-12-14 14:57] hsluoyz commented on #660
Hi @hatami57

For 1, see: https://casbin.org/docs/en/policy-subset-loading

For 2, see: https://github.com/casbin/casbin/blob/master/enforcer_cached.go

[2020-12-15 03:04] 894480109 commented on #661
Of course, it is in the php packagist, the URL is https://packagist.org/packages/casbin/dbal-adapter
The file is src/Adapter.php，on Line 117,  Thanks!

[2020-12-15 04:59] hsluoyz commented on #661
@894480109 please send the issue to: https://github.com/php-casbin/dbal-adapter/issues instead. Closed here.

[2020-12-15 04:59] #661 closed

[2020-12-15 06:14] bill0119 opened #662 "[Question] Can I split to multiple policy files and load into casbin?"
Can I split to multiple ploicy files and load into casbin?

model.conf
[code]

policy1.csv
[code]

policy2.csv
[code]

How to load multiple policy into casbin?
[code]

[2020-12-15 07:10] hsluoyz commented on #662
Hi @bill0119

The built-in file adapter code is here: https://github.com/casbin/casbin/blob/master/persist/file-adapter/adapter.go

You can load multiple CSV files on your own and call the AddPolicy() API: https://casbin.org/docs/en/management-api#addpolicy to add rules into the enforcer.

Or you can use a database-based adapter.

[2020-12-15 07:28] 894480109 commented on #661
ok，thanks

[2020-12-16 04:11] maxiloEmmmm opened #663 "[Question]strSlice"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
Your answer here
version: github.com/casbin/casbin/v2 v2.17.0

[code]
there will make role2 replace role1 for e.model["p"]["p"].Policy
https://g

[2020-12-18 01:45] hsluoyz commented on #656
@colynn a constraint is something like user alice cannot have role A and role B at the same time. We will provide an init time checking (when an enforcer is initialized) for all constraints. It will panic if any constraints are violated. Does this sound OK?

[2020-12-18 02:51] colynn commented on #656
@hsluoyz This is not how I envision it,  I can give an example as below,

User Alice and use Jerry have the same role name role01 but have different resource constraint,
then  role01  of we defined have `get Project List` resource operation,  but user Alice can see project 01 only,  user Jerry can see project 02 only.

Note:  project 01/02 is a resource constraint of the user.

[2020-12-18 08:50] hsluoyz commented on #656
@colynn Those're permissions, not RBAC constraint: https://ldapwiki.com/wiki/RBAC%20constraints It's about something like Separation of Duty.

[2020-12-18 09:24] hsluoyz commented on #642
@dragonborngem how is your owner stored? Can you pass the owner in the Enforce() call?

[2020-12-18 10:43] hsluoyz commented on #658
Closed as solved.

[2020-12-18 10:43] #658 closed

[2020-12-18 11:30] colynn commented on #656
Okay sorry,  `casbin` should not include this part, yeah?

[2020-12-18 12:20] hsluoyz commented on #656
@colynn

From your description:

[code]

I think you need the RBAC with Domain model: https://casbin.org/docs/en/supported-models

[2020-12-18 13:07] colynn commented on #656
Okay, very thank you

[2020-12-18 14:57] hsluoyz commented on #650
@wndrr101 The model g naming convention is just defined as so: g, g2, g3, .. The code works by finding in such order and pattern.

[2020-12-18 14:58] #650 closed

[2020-12-18 15:13] hsluoyz commented on #599
Closed as resolved.

[2020-12-18 15:13] #599 closed

[2020-12-18 19:07] hatami57 commented on #660
Hi @hsluoyz,

Thank you for your response. I will check the links to see if they answer my questions.
By the way I came across one of your projects named [casbin-server](https://github.com/casbin/casbin-server). Is that do what I asked here? Can it be used in production environment as a service?!

[2020-12-19 03:13] hsluoyz commented on #660
@hatami57 yes, there's already production use for Casbin-Server, see more details: https://casbin.org/docs/en/service

[2020-12-19 04:48] avikagg opened #668 "[Question] Possible to filter table data based on who is asking to read it?"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
We have a big table where users should see only data points which are allowed for them (enforced using policy).
Instead of going through each ro

[2020-12-19 10:29] hsluoyz commented on #103
@shah https://github.com/bitly/oauth2_proxy has been deprecated. Will close this issue for now. Welcome if there are new issues!

[2020-12-19 10:29] #103 closed

[2020-12-19 10:59] hsluoyz commented on #338
Closed as stale.

[2020-12-19 10:59] #338 closed

[2020-12-20 03:33] hsluoyz commented on #656
Closed as resolved.

[2020-12-20 03:33] #656 closed

[2020-12-21 04:45] hsluoyz commented on #660
Closed as resolved.

[2020-12-21 04:45] #660 closed

[2020-12-21 04:45] hsluoyz commented on #662
Resolved.

[2020-12-21 04:45] #662 closed

[2020-12-21 04:55] hsluoyz commented on #668
Duplicated with: https://github.com/casbin/casbin/issues/617

[2020-12-21 04:55] #668 closed

[2020-12-21 07:57] closetool commented on #639
I'll try to fix it, thanks

[2020-12-21 07:57] hsluoyz commented on #640
Closed as invalid.

[2020-12-21 07:57] #640 closed

[2020-12-21 08:04] hsluoyz commented on #634
Closed here. Stay tuned at: https://github.com/casbin/casbin/issues/617

[2020-12-21 08:04] #634 closed

[2020-12-21 08:05] hsluoyz commented on #633
Closed here. Stay tuned at: https://github.com/casbin/casbin/issues/617

[2020-12-21 08:05] #633 closed

[2020-12-21 15:30] hsluoyz commented on #663
Closed for now.

[2020-12-21 15:33] #561 closed

[2020-12-21 15:35] hsluoyz commented on #563
Closed here. Stay tuned at: https://github.com/casbin/casbin/issues/617

[2020-12-21 15:35] #563 closed

[2020-12-21 15:43] hsluoyz commented on #545
Closed here. Stay tuned at: https://github.com/casbin/casbin/issues/617

[2020-12-21 15:43] #545 closed

[2020-12-22 02:16] maxiloEmmmm commented on #663
slice会造成引用问题你看不到么？
麻烦能好好看看问题？

[2020-12-22 13:34] #639 closed

[2020-12-23 07:38] #663 closed

[2020-12-23 07:53] maxiloEmmmm commented on #663
@hsluoyz  thk

[2020-12-23 08:23] hsluoyz commented on #663
Fixed in: https://github.com/casbin/casbin/pull/671

[2020-12-28 01:55] WesleyBatista commented on #270
Based on the example above I wanted to extend the hierarchy idea also to roles, so in addition to the domains inheritance we would have for example:
[code]

What I wanted was that _admin_ inherits all capabilities from _member_ role, and _member_ from _anonymous_, so the set of permissions for admin keeps short and easy to maintain.

I fell short on implementing the `rbac_model.conf` for this. Eve

[2020-12-28 02:06] hsluoyz commented on #270
@WesleyBatista in the RBAC with domains model, a role belongs to a domain instead of global. So alice is domain1's admin doesn't   mean that she has any permission for other domains. You need to set permissions for alice in other domains.

[2020-12-28 21:02] WesleyBatista commented on #270
I know this ultimately would work, but I want to avoid replicating permissions based on users, to keep the config as small and maintainable as possible, as the application grows with the number of features/resources.

Not sure if I got this right, but with this option it seems to have solve the "problem" partially:

![image](https://user-images.githubusercontent.com/755254/103220964-ce5ecd80-4921-

[2020-12-28 23:49] WesleyBatista commented on #473
Hey there :wave:, did the decision of including this feature to the core library change in the meantime? the mentioned repository  https://github.com/dovics/domain-role-manager is not available anymore.

[2020-12-29 00:06] WesleyBatista commented on #473
Oh, I see now why you said _"but it requires some time"_

The code is merged on master: https://github.com/casbin/casbin/blob/6dcd52b3eecf8fc27ce065c7b3fda300f051f468/util/builtin_operators.go#L213-L221

but not yet available on [v2.19.7](https://github.com/casbin/casbin/blob/v2.19.7/util/builtin_operators.go).

sorry :facepalm:

[2020-12-29 04:28] hsluoyz commented on #473
@WesleyBatista can you send a new GitHub issue for your question?

[2021-01-06 16:55] fr3fou opened #673 "[Feature] Extracting variables from paths like `/foo/:id`"
**Is your feature request related to a problem? Please describe.**
There currently isn't a built in way to extract variables from an HTTP URL Path (`/foo/:id`). It is incredibly useful when doing ABAC and want to check whether a subject has ownership of a given object.

[code]

**Describe the solution you'd like**
There needs to be a function or some other that let's you extract given variables fr

[2021-01-07 13:43] hsluoyz commented on #673
Like we discussed in Gitter: https://gitter.im/casbin/Lobby, we need to add the built-in `keyGet()` functions.

For example, for `keyMatch()`, we will have `keyGet()`. For `keyMatch2()`, we have `keyGet2()`.

[2021-01-07 15:18] hsluoyz commented on #642
Moved to this issue: https://github.com/casbin/casbin/issues/673

[2021-01-07 15:18] #642 closed

[2021-01-08 09:25] RobotHuang commented on #673
Could I try to address this issue?

[2021-01-09 06:33] hsluoyz commented on #673
@RobotHuang plz go ahead.

[2021-01-10 16:54] #673 closed

[2021-01-10 17:55] fr3fou commented on #673
When can we expect docs?

[2021-01-11 12:03] hsluoyz commented on #673
@fr3fou yeah, I think @closetool is working on the docs.

[2021-01-11 14:00] hsluoyz commented on #673
@fr3fou docs ready now: https://github.com/casbin/casbin-website/issues/149

[2021-01-11 23:17] fgblomqvist commented on #604
Is there any update on this? It seems like the solution proposed by @kingiw is ideal. Wouldn't mind helping out if needed!

[2021-01-12 04:57] kingiw commented on #604
@fgblomqvist Hi, thanks for your attention. I am so sorry that I am busy with my jobs these days. 😭
I will update the implementation when available. If you have any good ideas or requirements, plz let us know. Any PR and comments are welcome!

[2021-01-12 16:07] fgblomqvist commented on #604
No worries. It sounds like sending the full model + a filtered policy would do it. I.e. what @dschmidt said, just serialize the output of `GetImplicitPermissionsForUser` and send that, along with the full actual model (that shouldn't be sensitive info).
Am I missing something?

[2021-01-14 01:24] yangzhares opened #677 "[Question] Whether a nested struct supported in ABAC model"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
Want a nested struct supported in ABAC model, but as follow stuff described, it didn't work. Due to i don't find a doc that guides how to use a

[2021-01-14 01:46] hsluoyz commented on #677
@closetool can you help follow up this issue?

[2021-01-14 03:07] closetool commented on #677
sure

[2021-01-14 03:17] closetool commented on #677
@yangzhares I believe you should change ``r.Obj.Attributes.Age`` into ``r.obj.Attributes.Age``

[2021-01-14 03:19] closetool commented on #677
![image](https://user-images.githubusercontent.com/52988625/104540384-551de500-565a-11eb-8df6-5a77a7c689c8.png)

[2021-01-14 06:52] yangzhares commented on #677
yeah, it works as my expectation, sorry for typo

[2021-01-14 08:27] #677 closed

[2021-01-16 05:04] trevoro opened #679 "[Question] Is it possible to not use memory + watchers for distributed updates (IE disable caching?)"
Hi Team,

First of all great library; it's obviously popular and well suited to the task.
I was surprised after spending some time implementing this library in a project that the policies are stored in memory. If I was running this in production on a single server that wouldn't be so much of an issue. But it's 2020 and nobody actually does that. I realize that there's a distributed update watching

[2021-01-16 08:07] hsluoyz commented on #679
@trevoro you can explicitly call `LoadPolicy()` (load all rules) or `LoadFilteredPolicy()` (load a part of all rules with a filter) before the `Enforce()` call.

See:

- https://casbin.org/docs/en/adapters#loadsave-at-run-time
- https://casbin.org/docs/en/policy-subset-loading

[2021-01-17 05:05] nodece commented on #679
This is one of the ways.

During this time, I'm still exploring how to solve the distributed updates, so we propose [dispatcher](https://casbin.org/docs/en/dispatchers) concept.

I implemented a [casbin-hraft-dispatcher](https://github.com/nodece/casbin-hraft-dispatcher) base on Hashicorp's Raft, but it's still under development.

I welcome any developer to contribute. for me, I'm still inexperien

[2021-01-17 16:59] trevoro commented on #679
Hey thanks for the explanation; that lines up with how I had modelled the behaviour in my head.
I think having an option or structure that has different behaviour out-of-the-box makes sense for lots of folks that don't have high volume, but still have distributed environments. For example, the _second_ you run an app using Casbin in a kubernetes environment you run into this distributed state prob

[2021-01-19 15:57] arafat-java opened #681 "[Bug] Severe Performance issues when number of policies is high"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Describe the bug**
When the number of policies high (I tried with 1.6 million policy records), it takes around **12-18 seconds** to create the Enforcer object using ==> casbin.NewEnforcer("model.co

[2021-01-19 15:59] hsluoyz commented on #679
@trevoro what do you mean by `do synchronous reads and writes to the Adapter`?

[2021-01-19 16:07] hsluoyz commented on #681
@arafat-java can you also provide the example model and policy that contains:

1. object 1 having 10-15 permissions
2. object 2 having 10-15 permissions
3. object 3 having 10-15 permissions
..

I think we can have a way to reduce the 16,00,000 rules into < 100.

[2021-01-20 07:13] arafat-java commented on #681
Thanks @hsluoyz

Attached are the example model and policy

[casbin_model_policy.zip](https://github.com/casbin/casbin/files/5840686/casbin_model_policy.zip)

[2021-01-20 10:45] arafat-java opened #682 "[Question] Best practices to use Enforcer in a cloud based multi tenant environment"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
We are planning to use casbinin a cloud based solution and the policies will be stored in RDBMS. So what are the recommendations pertaining tena

[2021-01-20 11:37] hsluoyz commented on #681
Better just posted here, because it's not long.

Model:

[code]

Policy:

[code]

[2021-01-20 11:55] hsluoyz commented on #681
@arafat-java is there any pattern for who can read and who can write? e.g., by default 99.9% of users can only read. Some staff people can write, or the owner of a resource can write.

If it's just purely ~50% of random usernames can read and the other half can write, you know that there's no cheap "short-cut" way to use some simple rules to abstract the behinding logic.

One optimization would be

[2021-01-20 11:55] hsluoyz commented on #682
Answered here: https://github.com/casbin/casbin/issues/681

[2021-01-20 16:34] arafat-java commented on #681
@hsluoyz I assume that by "_pre-filtering on the rules based on the username_" you mean `e.getFilteredPolicy(0, "usr1")`

If that is correct how do I do the other part _"only use these 2 p rules together with all g rules to do the enforcement. So we don't need to run millions of p rules for a single check"_

[2021-01-20 17:16] hsluoyz commented on #681
I suggest making a RBAC role like `readers` to hold all users that can read and similar for `writers`. Then let the users have the role.

[code]

This will speed up things because Casbin's RBAC is implemented by a role inheritance tree (as a cache). So given a user like `Alice`, Casbin only uses O(1) time to query the RBAC tree for role-user relationship and do enforcement. If your g rules don't c

[2021-01-21 14:03] arafat-java commented on #681
Any timeline when this is implemented into casbin

Also can you please give some pointer regarding my following question from previous post

[2021-01-21 15:01] hsluoyz commented on #681
@arafat-java why don't use the RBAC tree idea?

[2021-01-21 15:22] arafat-java commented on #681
Actually our use case does not fit that scenario

We would have ~50% of random usernames can read and the other half can write,
So we cant use that RBAC tree

We would be having 50%

[2021-01-21 16:23] arafat-java opened #683 "[Question] Paid support for Casbin"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**What's your scenario? What do you want to achieve?**
Do we have some sort of paid premium support for Casbin?
Maybe for help related to using Casbin properly for our scenario or for sorting other q

[2021-01-21 17:16] hsluoyz commented on #683
Hi @arafat-java , you can choose to sponsor us via GitHub Sponsors: https://github.com/sponsors/hsluoyz . The last few tiers will show the support level. You can also ping me at Gitter for any further questions.

[2021-01-21 17:43] gonzalad opened #684 "[Question] Using g3 in role_definition to group act"
**What's your scenario? What do you want to achieve?**

Hello,

I have played today (for the first time) with casbin (very nice project !)

I've used both g and g2 in the role_definition.

From what I understand, I can use g and g2 as group of users and group of objects.

I need to have the notion of group of actions.

So I used g2 to have some action groups in the casbin editor (g2(p.act, r.act))

[2021-01-22 00:51] hsluoyz commented on #684
@gonzalad this is wrong: `g3(r.sub == p.user)`, should be `g3(r.sub, p.user)`. `g3` is just a function with 2 or 3 arguments.

[2021-01-22 00:51] #684 closed

[2021-01-22 06:59] arafat-java commented on #681
After digging in a bit further I realize that all the policies (1.6 M ) are read at time of Enforcer object creation and are held in local memory cache and that seems to be the bottleneck in our case. Because after creating indexes on the casbin_rule table when I fetch a record using vanilla JDBC program with v0, v1 and v2 in where clauses it returns me response within 4mS whereas the single enfor

[2021-01-22 08:22] hsluoyz commented on #681
@arafat-java can you first try `e.getFilteredPolicy(0, "usr1")`?

[2021-01-22 10:09] arafat-java commented on #681
@hsluoyz as I said earlier, I am not very sure how to use enforce() after e.getFilteredPolicy(0, "usr1")
Can please give some pointers for the same

[2021-01-22 13:03] hsluoyz commented on #681
@arafat-java see example code at: https://casbin.org/docs/en/policy-subset-loading

- https://github.com/casbin/gorm-adapter/issues/61
- https://github.com/casbin/gorm-adapter/pull/62/files

https://github.com/casbin/casbin/blob/d495a30e42d36ab73a63542ee7a4ee6be1b890d3/enforcer.go#L154-L175

[2021-01-22 13:04] #681 closed

[2021-01-22 13:04] #683 closed

[2021-01-22 13:05] #682 closed

[2021-01-24 03:17] hsluoyz opened #685 "[Feature] Add named version of RoleManager.AddMatchingFunc(): AddNamedMatchingFunc()"
Coming from a PyCasbin issue: https://github.com/casbin/pycasbin/issues/103

Also see docs: https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac

If both `g` and `g2` are used, when calling:

[code]

The function are added to both `g` and `g2`. But usually the customer will only enable the function in one RBAC system: `g` OR `g2`. So we need to implement another named version:

[code]

Sim

[2021-01-24 03:21] hsluoyz commented on #685
@closetool plz take a look at this issue.

[2021-01-25 13:38] hsluoyz commented on #685
Fixed by: https://github.com/casbin/casbin/pull/686

[2021-01-25 13:38] #685 closed

[2021-01-25 13:45] hsluoyz commented on #685
@closetool we also need to update the docs about the new APIs, can you help update these pages?

- https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac
- https://casbin.org/docs/en/rbac-with-domains
- https://casbin.org/docs/en/management-api#addfunction (after it)

[2021-01-26 07:01] smp12345 opened #687 "panic: interface conversion: *beegoormadapter.Adapter is not persist.Adapter: missing method LoadPolicy"
**What's your scenario? What do you want to achieve?**
[code]
**Your model:**

[code]

**Your policy:**

[code]

**test code**
[code]

**Frame error:**

[code]

[2021-01-26 07:22] nodece commented on #687
are you using `beegoormadapter "github.com/casbin/beego-orm-adapter/v2"`?

[2021-01-26 07:26] #687 closed

[2021-01-26 12:18] smp12345 commented on #687
That's done, thank you

[2021-01-26 12:56] hsluoyz commented on #687
README fixed: https://github.com/casbin/beego-orm-adapter/commit/a77df7a82a4d6071ade069992033484ff406001c

[2021-01-26 19:26] fgblomqvist opened #688 "[Feature] Multiple policy operations as a transaction"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

------

**Is your feature request related to a problem? Please describe.**
If you have multiple changes you want to make to the policy, but you want to ensure that they happen atomically, you currently can't

[2021-01-26 20:52] gonzalad commented on #684
thanks @hsluoyz !

It works fine now

[2021-01-27 12:52] jamesislebron commented on #254
I have experienced the same issue too, while there is another error occur in my project.
I am using both transaction and watcher. In a single transaction, there would be 3 addPolicy actions.
It would happen error like flowing by accident:
`fatal error: concurrent map writes

goroutine 68 [running]:
runtime.throw(0x1309f8b, 0x15)
        /usr/local/go/src/runtime/panic.go:1116 +0x72 fp=0xc00055e890

[2021-01-27 13:57] walterlife opened #689 "[Question]casbin.NewEnforcer encountered Unforeseen results"
Hi, Team
First of all great library
I encountered a scenario, the same policy, the first check failed, and the check succeeded after 10ms. Have you encountered such a scenario?
[code]
Above is the problematic data

[2021-01-27 14:09] nodece commented on #689
Could you try `casbin.NewSyncedEnforcer`?

[2021-01-27 14:17] hsluoyz commented on #689
@walterlife plz add the issue title.

[2021-01-27 14:26] walterlife commented on #689
I use NewEnforcer,Is there any difference between the two

[2021-01-27 15:05] hsluoyz commented on #689
@walterlife can you provide:

1. Example model
2. Example policy
3. Example code

[2021-01-28 01:48] hsluoyz opened #690 "[Feature] Add the atomic UpdatePolicies() API"
We already have UpdatePolicy() API here: https://github.com/casbin/casbin/commit/ec06a5849c035948e510e6768573cb033045f37b

But there are also requirements to update a bunch of policy rules. So we need to also add the UpdatePolicies() API. And the API call should be atomic: suceed or fail all.

[2021-01-28 01:48] hsluoyz commented on #688
@fgblomqvist are you looking for an atomic UpdatePolicies() API like this: https://github.com/casbin/casbin/issues/690 ?

[2021-01-28 02:18] hsluoyz commented on #689
@walterlife any update?

[2021-01-28 02:32] walterlife commented on #689
[code]
above is model config
I use it like this
[code]

[2021-01-28 04:14] fgblomqvist commented on #688
For the specific example, it would be more like a "SetPolicies()" API which would wipe all the existing policies for a subject, and then set them to whatever you passed. I don't want to have to know which policies I am replacing, just that the final result looks like what I'm passing in.

[2021-01-28 04:53] hsluoyz commented on #688
@fgblomqvist I think `SavePolicy()` is exactly what you need?

1. Call `e.EnableAutoSave(false)` to disable AutoSave.
2. Modify the policy rules in memory via adding, removing policy API. The rules will not sync to DB as AutoSave is disabled.
3. Call `SavePolicy()` to replace all DB rules with all memory rules.
4. Call `e.EnableAutoSave(true)` to enableAutoSave. (if you want)

[2021-01-28 07:25] #688 closed

[2021-01-28 07:44] hsluoyz commented on #689
@closetool plz take a look.

[2021-01-28 07:53] closetool commented on #689
@walterlife may I have your policy file and source code

[2021-01-28 08:58] #690 closed

[2021-01-28 13:10] fgblomqvist commented on #688
If I disable auto save, won't that disable auto save for the whole instance of the enforcer? As in, if someone tries to use an endpoint that assumes that auto-save is on, things will go wrong.

That being said, I guess the solution then is to not use auto-save at all, and always save manually. However, I'm not sure what casbin uses as the source of truth. Is it the in-memory data or is it the adap

[2021-01-28 14:02] hsluoyz commented on #688
@fgblomqvist  OK. What about this:

[code]

[2021-01-28 14:12] fgblomqvist commented on #688
What does that operation do? Remove all the policies in the first arg and add all the ones in the second arg?

[2021-01-28 14:14] fgblomqvist commented on #688
In that case I'm guessing you'd have to first filter out all the policies for the subject you're trying to modify, then pass those as the first arg to UpdatePolicies.

[2021-01-28 14:18] hsluoyz commented on #688
See: https://casbin.org/docs/en/management-api#updatepolicies

[2021-01-28 14:26] fgblomqvist commented on #688
Those docs are too vague.
"UpdatePolicies updates all old policies to new policies." sounds like it tries to match the new policies with the old policies and individually update the values of each one. I don't have time to dig into the code atm but maybe I can do so later to find out what it actually does. If it does anything else than the above it should imo not be named `UpdatePolicies` since in

[2021-01-28 14:46] walterlife commented on #689
https://iwiki.woa.com/pages/viewpage.action?pageId=345182278

[2021-01-28 14:48] walterlife commented on #689
Is it convenient to add WeChat?

[2021-01-28 15:21] closetool commented on #689
Can you just paste some piece of pivotal file here

[2021-01-29 11:04] yiranzai opened #693 "[Question] RABC With Resource Roles not meet expectations"
**Want to prioritize this issue? Try:**

[![issuehunt-to-marktext](https://github.com/BoostIO/issuehunt-materials/raw/master/v1/issuehunt-button-v1.svg)](https://issuehunt.io/r/casbin/casbin)

---

**What's your scenario? What do you want to achieve?**

Hi, Team

- `p` Since the adapter does not support `p2`, I designed the `p.type` to distinguish it
- `g` represents the relationship between user